*,:after,:before {
    box-sizing: border-box
}

a,address,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,label,legend,li,mark,menu,nav,object,ol,p,pre,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,u,ul,var,video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline
}

article,aside,figcaption,figure,footer,header,main,nav,section {
    display: block
}

li,ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

canvas,img,picture,video {
    max-width: 100%
}

iframe,img,video {
    vertical-align: top
}

img,video {
    max-width: 100%;
    height: auto
}

address,em,var {
    font-weight: inherit;
    font-style: normal
}

a,button {
    outline: none;
    -webkit-appearance: none
}

a[data-ga-action] *,a[data-ga-category] *,a[data-ga-label] *,button[data-ga-action] *,button[data-ga-category] *,button[data-ga-label] * {
    pointer-events: none
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit
}

button {
    background-color: transparent
}

button:not(:disabled) {
    cursor: pointer
}

input,textarea {
    background: none
}

body,button,h1,h2,h3,h4,h5,h6,html,input,p,select,textarea {
    color: inherit;
    font-family: pretendard,-apple-system,blinkmacsystemfont,system-ui,roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit
}

input::-webkit-input-placeholder {
    color: inherit
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=text]::-ms-clear {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,table th {
    font-weight: 400
}

body {
    font-size: 15px;
    line-height: inherit;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none
}

:root {
    --scrollbar-width: 0;
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left)
}

body {
    word-break: keep-all;
    overflow-wrap: anywhere;
    font-feature-settings: "case"
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

.Header_container.Header_sticky {
    position: sticky;
    z-index: 16;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: top .25s;
}

.Header_container .Header_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    max-width: 1296px;
    height: 56px;
    margin: auto;
    padding-inline: 8px;
}


.Header_container .Header_content .Header_left {
    display: flex;
    align-items: center;
}

.StyledComponent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}

.WithProps_icon>path {
    fill: currentColor;
}

.Header_container .Header_content .Header_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.StyledComponent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}

.Title_container {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    white-space: nowrap;
    display: block;
    text-align: center;
}

.Title_container.Title_center {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

.Header_container .Header_content .Header_right {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.StyledComponent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}


.MarketingNotificationSettingsPage_container .MarketingNotificationSettingsPage_inner {
    margin: 0 auto;
    padding: 8px 16px 40px;
    max-width: 560px;
    box-sizing: content-box;
}

.MarketingNotificationSettingsHeader_header-C .MarketingNotificationSettingsHeader_title__tqZVG {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35;
    display: none;
    margin-top: 8px;
    margin-bottom: 32px;
}

.MarketingNotificationSettingsList_container {
    position: relative;
    margin-bottom: 16px;
    padding-top: 16px;
}

.MarketingNotificationSettingsList_container .MarketingNotificationSettingsList_title- {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.MarketingNotificationSettingsItem_row label {
    color: #212529;
}

.MarketingNotificationSettingsToggle_toggle {
    display: flex;
}

.MarketingNotificationSettingsToggle_toggle .MarketingNotificationSettingsToggle_switch-.MarketingNotificationSettingsToggle_active {
    border-color: #00c4c4;
    background-color: #00c4c4;
}

.MarketingNotificationSettingsToggle_toggle .MarketingNotificationSettingsToggle_switch-:after {
    position: absolute;
    top: 1px;
    left: 1px;
    transition: .3s all;
    border-radius: 12px;
    box-shadow: 0 6px 6px -1px #0a16461a, 0 0 5px #0a16460f;
    background-color: #fff;
    width: 24px;
    height: 24px;
    content: "";
}

.MarketingNotificationSettingsToggle_toggle .MarketingNotificationSettingsToggle_switch-.MarketingNotificationSettingsToggle_active:after {
    left: 19px;
    background-color: #fff;
}
.MarketingNotificationSettingsToggle_toggle .MarketingNotificationSettingsToggle_input {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
}

.MarketingNotificationSettingsList_container .MarketingNotificationSettingsList_description_ {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #212529;
}

.MarketingNotificationSettingsList_container li label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    line-height: 30px;
}



.MarketingNotificationSettingsToggle_toggle .MarketingNotificationSettingsToggle_switch- {
    display: block;
    position: relative;
    opacity: 1;
    border: solid 2px rgba(0, 0, 0, .06);
    border-radius: 16px;
    background-color: #f5f7fa;
    cursor: pointer;
    width: 48px;
    height: 30px;
}


.MarketingNotificationSettingsItem_row {
    display: flex;
    justify-content: space-between;
}

.MarketingNotificationSettingsSection_container .MarketingNotificationSettingsSection_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 13px;
    color: #212529;
}

.MarketingNotificationSettingsLink_row {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f2f4f6;
    cursor: pointer;
    padding: 12px 0;
    line-height: 30px;
    color: #212529;
}

.MarketingNotificationSettingsLink_row .MarketingNotificationSettingsLink_arrowIcon__UAMvX {
    position: absolute;
    right: 0;
}
.WithProps_icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.MarketingNotificationSettingsContainer_bottomGuide {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 16px;
    color: #868e96;
}

.MarketingNotificationSettingsList_container .MarketingNotificationSettingsList_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MarketingNotificationSettingsLoading_circle__hypWY {
    animation: MarketingNotificationSettingsLoading_loading-rotate 2s linear infinite;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
}

.MarketingNotificationSettingsLoading_stroke {
    animation: MarketingNotificationSettingsLoading_loading-dash-JlQ 1.5s ease-in-out infinite;
    stroke-width: 2.2;
    stroke-linecap: butt;
    stroke-dasharray: 80;
    stroke-dashoffset: 0;
    stroke: #2ed5d5;
    fill: #0000;
}

.MarketingNotificationSettingsSection_container {
    position: relative;
    margin-bottom: 16px;
    padding-top: 16px;
}
.MarketingNotificationSettingsList_container li {
    border-bottom: 1px solid #f2f4f6;
    padding: 12px 0;
}


















