@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
    address,
    article,
    aside,
    b,
    body,
    a,
    button,
    canvas,
    caption,
    dl,
    dt,
    dd,
    div,
    html,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    small,
    strike,
    strong,
    sub,
    sup,
    var,
    u,
    i,
    center,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary,
    time,
    mark,
    audio,
    video,
    select,
    textarea,
    input {
        margin: 0;
        border: 0;
        padding: 0;
        vertical-align: baseline;
    }

ul, ol, li {
  list-style: none;
}

    a,
    abbr,
    acronym,
    address,
    applet,
    article,
    aside,
    audio,
    b,
    big,
    blockquote,
    body,
    button,
    canvas,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    details,
    dfn,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    html,
    i,
    iframe,
    img,
    input,
    ins,
    kbd,
    label,
    legend,
    li,
    mark,
    menu,
    nav,
    object,
    ol,
    output,
    p,
    pre,
    q,
    ruby,
    s,
    samp,
    section,
    select,
    small,
    span,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    textarea,
    tfoot,
    th,
    thead,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    video {
        margin: 0;
        border: 0;
        padding: 0;
        vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    overflow-wrap: anywhere;
}

body {
    word-break: keep-all;
    overflow-wrap: anywhere;
    font-feature-settings: "case";
}

body {
    overflow-x: hidden;
    font-size: 15px;
    font-feature-settings: "case";
    font-weight: 400;
    line-height: inherit;
    word-break: keep-all;
    overflow-wrap: anywhere;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}

html,
body,
button,
input,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: inherit;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

:root {
    --scrollbar-width: 0;
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
}

.Header-module_container.Header-module_sticky {
    position: sticky;
    z-index: 16;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: top .25s;
}

.Header-module_container .Header-module_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    max-width: 1296px;
    height: 56px;
    margin: auto;
    padding-inline: 8px;
}

.Header-module_container .Header-module_content .Header-module_left {
    display: flex;
    align-items: center;
}

button:not(:disabled),
input:not(:disabled) {
    cursor: pointer;
}

.stylledcomponent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}

body,
button,
input {
    background: none
}

.WithProps-module_icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}


.Header-module_container .Header-module_content .Header-module_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Header-module_container .Header-module_content .Header-module_right {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.WithProps-module_icon>path {
    fill: currentColor;
}


.content-width {
    box-sizing: border-box;
    margin-inline: auto;
    padding: 16px;
    max-width: 560px;
}

.MyFriends-module_container {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
}

article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a>svg {
    display: flex;
    margin: 0;
    padding: 0;
}

.MyFriends-module_container .MyFriends-module_contents {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Tabs-module_tabsWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.MyFriends-module_container .MyFriends-module_contents .MyFriends-module_tabsWrapper .MyFriends-module_tabs {
    overflow: auto;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MyFriends-module_container .MyFriends-module_contents .MyFriends-module_tabsWrapper ul {
    column-gap: 35px;
}


.Tabs-module_tabsWrapper .Tabs-module_tabs {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.Tabs-module_tabsWrapper .Tabs-module_tabs li {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: 37px;
    vertical-align: middle;
    white-space: normal;
    -moz-appearance: none;
}

.Tab-module_tab.Tab-module_md {
    height: 40px;
}

button:not(:disabled) {
    cursor: pointer;
}

.Tab-module_tab {
    border: 0;
    background-color: #0000;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 40px;
    overflow: hidden;
    vertical-align: middle;
    white-space: normal;
}

body,
button,
input {
    background: none;
}
.Tab-module_tab.Tab-module_md span {
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}


.Tab-module_tab.Tab-module_active>span {
    color: #212529;
    font-weight: 700;
}

.Tab-module_tab span {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 40px;
    color: #212529;
    gap: 4px;
}

.MyFriends-module_container .MyFriends-module_contents .MyFriends-module_tabsWrapper ul li button span p .MyFriends-module_supSelected {
    color: #00c4c4;
}

.Tab-module_tab.Tab-module_active>span:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #212529;
    width: 100%;
    height: 2px;
    content: "";
}

.TabPanels-module_tabPanels {
    width: 100%;
}

.BlockedSupporter-module_container .BlockedSupporter-module_blockingSupporter {
    padding: 16px 0;
}

.BlockedSupporterCard-module_blockSupporterCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Avatar-module_avatar_.Avatar-module_xs {
    width: 36px;
    height: 36px;
}

.Avatar-module_avatar_ {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    width: 64px;
    height: 64px;
    overflow: hidden;
    vertical-align: middle;
}

.Avatar-module_avatar_>.Avatar-module_inner {
    display: inline-block;
    border: 1px solid #e9ecef;
    border-radius: 100%;
}

.Button-module_button {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

.BlockedSupporterCard-module_blockSupporterCard .BlockedSupporterCard-module_nickname {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    white-space: nowrap;
    margin-left: 8px;
    width: calc(100% - 131px);
    vertical-align: middle;
    color: #212529;
}

.Button-module_button.Button-module_gray {
    border-color: #cdd3d8;
    color: #495057;
}

.Button-module_button.Button-module_sm {
    padding-inline: 12px;
    height: 32px;
    font-size: 14px;
}

.Button-module_button span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}


.ToastContainer-module_container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 40;
    width: 100%;
    pointer-events: none;
}

.Toast-module_container {
    position: absolute;
    top: 0;
    right: 16px;
    left: 16px;
    animation-fill-mode: forwards;
    margin: 12px auto 0;
    border-radius: 8px;
    background-color: #212529;
    padding: 16px;
    box-sizing: border-box;
    opacity: 0;
}

.Button-module_button.Button-module_sm {
    padding-inline: 12px;
    height: 32px;
    font-size: 14px;
}

.Toast-module_content{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    pointer-events: all;
}


.Toast-module_container.Toast-module_show {
  opacity: 1;
  transform: translateY(0);
  transition : opacity 0.3s ease, transform 0.3s ease;
}
