.board {
    color: #44484b;
    padding: 0 25%; 
}

/* 헤더, 페이지 제목 */
.board .ui-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 16px;
    box-sizing: content-box;
}

.board .ui-header .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35;
    display: none;
    color: #212529;
}

.board .ui-header .title, .board .ui-header .desc {
    word-break: keep-all;
}

.board .ui-header .title {
    display: block;
}

/* 화면 상단, 이동 버튼/공지사항 알림바 */
.board .segmented-tabs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1280px;
    margin: 0 16px;
    padding-top: 40px;
}

.board .segmented-tabs {
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

/* 공지사항 알림바 */
.board .notice-banner {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 8px;
    padding: 12px 48px;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    background-color: #fff;
}

.board .notice-banner {
    padding-left: 44px;
    padding-right: 56px;
}

.board .notice-banner>* {
    pointer-events: none;
}

.board .notice-banner .banner-logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDE2IDUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGlkPSJhcnR3b3JrX0xvZ29fd2Ffc3ltYm9sLS13aGl0ZSI+CjxwYXRoIGlkPSJDb21iaW5lZCBTaGFwZSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC42MDA0IDAuMDg1OTg4N1Y0LjgxMDVMMTQuMDk1OCA0LjgwNjg3QzEzLjg2MTQgNC44MDg5OCAxMy42NTAyIDQuNjY0MTMgMTMuNTY2MSA0LjQ0MzQ0QzEyLjUxMDUgNS4yMTgwMiAxMS4wNzA2IDUuMTgwNzUgMTAuMDU1OCA0LjM1MjU5QzkuNDUxMzMgMy44NTczNSA5LjEyMjI1IDMuMDk3NDkgOS4xNzI4NCAyLjMxMzc4QzkuMjM1OTEgMS4zNTk1NiA5LjgzNzc0IDAuNTI3MDU5IDEwLjcxOTMgMC4xNzQ1NjRDMTEuNjAwOSAtMC4xNzc5MzEgMTIuNjA1IDAuMDEyNDczNCAxMy4yOTk0IDAuNjYzODMzQzEzLjMyNTcgMC4zMzY2MSAxMy41OTczIDAuMDg0OTEyMSAxMy45MjI4IDAuMDg1OTg4N0gxNC42MDA0Wk0xMC41NjA0IDIuNDg4MjJDMTAuNTM2IDMuMjYxNjYgMTEuMTM0MyAzLjkxMDQgMTEuOTAxIDMuOTQxOTJDMTIuNjY3OCAzLjkxMDQgMTMuMjY2MSAzLjI2MTY2IDEzLjI0MTcgMi40ODgyMkMxMy4yNjYxIDEuNzE0NzggMTIuNjY3OCAxLjA2NjA1IDExLjkwMSAxLjAzNDUzQzExLjEzNDMgMS4wNjYwNSAxMC41MzYgMS43MTQ3OCAxMC41NjA0IDIuNDg4MjJaTTYuOTY3MjIgMy4wNDA2Mkw3LjkxNTA2IDAuMDgyMzU0NUw5LjI0NDkyIDAuMDg1OTg4OEw3LjY4NDQxIDQuODEwNUg2LjM1MDk0TDUuMzIwMjEgMS43NzU5MUw0LjI4NTg4IDQuODEwNUgyLjk1MjQyTDEuMzk1NTEgMC4wOTY4OTE1SDIuNzI1MzdMMy42NzMyMSAzLjA0MDYyTDQuNDg0MSAwLjUzM0M0LjU2NzE3IDAuMjcyNjk1IDQuODA3NTcgMC4wOTYzODgyIDUuMDc4NzUgMC4wOTY4OTE1SDYuMDEyMTdMNi45NjcyMiAzLjA0MDYyWiIgZmlsbD0id2hpdGUiLz4KPC9nPgo8L3N2Zz4K) no-repeat 50% 50%;
    background-size: auto 5px;
}

.board .notice-banner .banner-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.board .notice-banner .banner-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.board .notice-banner:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9IlN5c3RlbUljb24iPgo8cGF0aCBpZD0iRmlsbCIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04Ljk0OTkgMy41NTA3OEw4LjM4NDIyIDQuMTE2NDdMMTIuMzY4IDguMTAwMjlIMi42NjcwNlY4LjkwMDI5SDEyLjM2OEw4LjM4NDIyIDEyLjg4NDFMOC45NDk5IDEzLjQ0OThMMTMuODk5NCA4LjUwMDI5TDguOTQ5OSAzLjU1MDc4WiIgZmlsbD0iIzQ5NTA1NyIvPgo8L2c+Cjwvc3ZnPgo=) no-repeat 50% 50%;
    background-size: 100% 100%;
    content: "";
}

/* 탭 이동 버튼 */
.board .segmented-tabs ul {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    gap: 8px;
    margin: 0 -16px;
    overflow-y: auto;
}

.board .segmented-tabs li {
    flex-shrink: 0;
}

.board .segmented-tabs li:first-child {
    margin-left: 16px;
}

.board .segmented-tabs li:first-child, .board .segmented-tabs li:last-child {
    margin: 0;
}

.board .segmented-tabs li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding: 6px 12px 5px;
    background-color: #f9fafb;
    border-radius: 8px;
}

.board .segmented-tabs .active a {
    background-color: #212529;
    color: #fff;
    font-weight: 700;
}

/* 메인, 글 목록 */
.board .board-main {
    margin: 0 auto;
    padding: 40px 16px 24px;
}

.board .board-main {
    max-width: 1280px;
    box-sizing: content-box;
    padding-bottom: 40px;
}

.board-main .article {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    border-bottom: 1px solid #f2f4f6;
    padding: 16px 0;
}

.board-main .article {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.board-main ul li:first-child .article {
    padding-top: 0;
}

.board-main .article .info-box {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.board-main .article .q-status, .board-main .article .notice, .board-main .article .category {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 500;
}

.board-main .article .notice {
    color: #557cf2;
}

.board-main .article:hover .title {
    text-decoration: underline;
}

.board-main .article.no-thumb .title {
    margin-right: 0;
    padding-right: 0;
    width: 100%;
}

.board-main .article .info-box .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 4px;
    color: #212529;
}

.board-main .article .info-box .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.board-main .article .info-box .created-at {
    color: #adb5bd;
}

/* 푸터, 페이지 이동/ 제목, 내용 검색 */
.board-footer {
    padding: 0 16px 160px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.board-footer .pagination {
    display: block;
    position: relative;
    margin-top: 32px;
    margin-bottom: 26px;
}

.board-footer .pagination {
    display: inline-block;
    margin: 40px auto 21px;
    min-width: 390px;
}

.board-footer .pagination .page {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    color: #868e96;
}

.board .desktop-only {
    display: none;
}

.board .desktop-only {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 페이지 이동 버튼 */
.board-footer .pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 36px;
    height: 36px;
}

.board-footer .pagination .next-page, .board-footer .pagination .prev-page {
    position: static;
}

.board-footer .pagination .prev-page {
    margin-right: 16px;
}

i.wadizicon, i.icon::before, [class*='icon-']::before {
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: 'wadizicon' !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

/* 페이지 왼쪽 이동 */
i.wadizicon.wa-chevron-left::before, i.icon.chevron-left::before, .icon-chevron-left::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url(/static/images/chevron-left-arrow.svg);
    background-repeat: no-repeat;
}

.board-footer .pagination .next-page:before, .board-footer .pagination .prev-page:before {
    margin-top: -3px;
}

.board .text-hidden {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.board-footer .pagination .page span {
    display: inline-block;
    margin-right: 22px;
    margin-left: 22px;
}

.board-footer .pagination .next-page>span, .board-footer .pagination .prev-page>span {
    display: block;
}

/* 페이지 리스트 */
.board-footer .pagination .page a.current {
    color: #34383a;
    font-weight: 500;
}

.board-footer .pagination .page a {
    display: inline-block;
    width: 32px;
    line-height: 34px;
    color: #7c8288;
}

.board-footer .pagination .page a:hover {
    color: #00b2b2;
    font-weight: 500;
}

/* 페이지 오른쪽 이동 */
.board-footer .pagination .next-page {
    margin-left: 16px;
}

i.wadizicon.wa-chevron-right::before, i.icon.chevron-right::before, .icon-chevron-right::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url(/static/images/chevron-right-arrow.svg);
    background-repeat: no-repeat;
}

/* 제목+내용 검색 */
.board-footer .search {
    margin: 0 auto;
    max-width: 390px;
}

/* 검색 필터 */
.board-footer .search .filter-container {
    position: relative;
    float: left;
    border: solid 1px #dadce0;
    border-radius: 4px;
    width: 30.0291%;
    line-height: 36px;
}

.board-footer .search .filter-container .filter {
    background-color: #fff;
    padding-left: 10px;
    width: 100%;
    line-height: 34px;
    color: #34383a;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.board-footer .search .filter-container:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-top: 5px solid #90949c;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    content: "";
}

/* 검색 내용 */
.board-footer .search .field {
    position: relative;
    float: left;
    padding-left: 4px;
    width: 69.9709%;
}

.board .text-hidden {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.board-footer .search .field .search-form {
    border: solid 1px #dadce0;
    padding-right: 64px;
    padding-left: 10px;
    width: 100%;
    line-height: 36px;
    font-size: 15px;
    border-radius: 4px;
}

.board-footer .search .field .btn-search {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px #dadce0;
    background-color: #f5f7fa;
    width: 100%;
    max-width: 64px;
    line-height: 36px;
    color: #34383a;
    font-size: 15px;
    border-radius: 0 4px 4px 0;
}

.board .board-footer .search:after, .board-footer .board .search:after {
    display: block;
    clear: both;
    content: "";
}
