<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰</title>
    <link rel="stylesheet" href="/static/css/review/review.css">
</head>

<body>
    <div id="GGSH-toast-container-component">
        <div class="ToastContainer_container">
            <div class="Toast_container">
                <div id="toast1" class="Toast_content">팔로우 되었습니다.</div>
            </div>
        </div>
    </div>
    <div id="main-app" class="page-wrapper">
        <header class="Header_container Header_sticky" style="">
            <div class="Header_content">
                <div class="Header_left"><button class="StyledComponent_container" aria-label="뒤로 가기"
                        type="button"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24"
                            class="WithProps_icon" style="height: 24px; width: 24px;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z"
                                fill="#495057"></path>
                        </svg></button></div>
                <div class="Header_center" style="max-width: calc(-240px + 100vw);"></div>
                <div class="Header_right"><a class="StyledComponent_container" aria-label="홈으로 가기"
                        href="/web/main"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24"
                            class="WithProps_icon" style="height: 24px; width: 24px;">
                            <path d="M21.6 7.679l-9.6-6.4-9.6 6.4V21h1.2V8.321l8.4-5.6 8.4 5.6V21h1.2V7.679z"
                                fill="#495057"></path>
                            <path d="M15.6 21v-8.6H8.4V21h1.2v-7.4h4.8V21h1.2z" fill="#495057"></path>
                        </svg></a></div>
            </div>
        </header>
        <main style="">
            <div data-render-id="1769416278254">
                <div class="RewardDetailCommonPanel_container-">
                    <nav class="Tabs_container RewardDetailCommonPanel_tabs"
                        style="visibility: hidden; height: 0px;">
                        <div class="Tabs_tabs"><button type="button"
                                class="Tab_tab Tab_first Tab_badge undefined Tab_md__OVtrK Tab_counterBadge Tabs_tab"
                                href="/web/campaign/detail/385912" data-ga-category="펀딩_상세" data-ga-action="클릭"
                                data-ga-label="탭_스토리"><span>스토리</span></button><button type="button"
                                class="Tab_tab Tab_badge undefined Tab_md__OVtrK Tab_counterBadge Tabs_tab"
                                href="/web/campaign/detail/385912" data-ga-category="펀딩_상세" data-ga-action="클릭"
                                data-ga-label="탭_리워드"><span>리워드</span></button><button type="button"
                                class="Tab_tab Tab_badge undefined Tab_md__OVtrK Tab_counterBadge Tabs_tab"
                                href="/web/campaign/detailPost/385912" data-ga-category="펀딩_상세" data-ga-action="클릭"
                                data-ga-label="탭_새소식"><span>새소식<span
                                        class="CounterBadge_badge CounterBadge_md_">9</span></span></button><button
                                type="button"
                                class="Tab_tab Tab_active__-dPX3 Tab_badge undefined Tab_md__OVtrK Tab_counterBadge Tabs_tab"
                                href="/web/campaign/detail/qa/385912" data-ga-category="펀딩_상세" data-ga-action="클릭"
                                data-ga-label="탭_커뮤니티"><span>커뮤니티<span
                                        class="CounterBadge_badge CounterBadge_md_">381</span></span></button><button
                                type="button"
                                class="Tab_tab Tab_badge undefined Tab_md__OVtrK Tab_counterBadge Tabs_tab"
                                href="/web/campaign/detailBacker/385912" data-ga-category="펀딩_상세" data-ga-action="클릭"
                                data-ga-label="탭_서포터"><span>서포터<span
                                        class="CounterBadge_badge CounterBadge_md_">1,129</span></span></button><button
                                type="button"
                                class="Tab_tab Tab_badge undefined Tab_md__OVtrK Tab_counterBadge Tabs_tab"
                                href="/web/campaign/detail/fundingInfo/385912" data-ga-category="펀딩_상세"
                                data-ga-action="클릭" data-ga-label="탭_반환정책"><span>환불·정책</span></button><button
                                type="button"
                                class="Tab_tab Tab_badge undefined Tab_md__OVtrK Tab_counterBadge Tabs_tab"
                                href="/web/campaign/detail/reward-info/385912" data-ga-category="펀딩_상세"
                                data-ga-action="클릭" data-ga-label="탭_리워드정보"><span>리워드 정보</span></button></div>
                    </nav>
                    <div class="RewardDetailCommonPanel_content">
                        <div class="RewardDetailCommonPanel_left">
                            <div class="CommentList_container_TXw">
                                <div class="CommentList_wrapper">
                                    <div class="CommentContainer_commentContainer">
                                        <section
                                            class="FundingExperienceTitle_container FundingExperienceTitle_mobileWebTop">
                                            <div class="FundingExperienceTitle_titleArea">
                                                <div class="FundingExperienceTitle_commentTitle"><span
                                                        class="FundingExperienceTitle_title FundingExperienceTitle_titleMobile">받은
                                                        리뷰</span><span
                                                        class="FundingExperienceTitle_total FundingExperienceTitle_totalMobile">46</span>
                                                </div>
                                            </div>
                                        </section>
                                        <div class="CommentContainer_commentWrapper">
                                            <div>
                                                <div class="CommentItem_commentItem">
                                                    <div class="CommentProfile_profileContainer"><a
                                                            class="CommentProfile_profile"
                                                            href="/web/profile/supporter/5874410311">
                                                            <div class="CommentProfile_avatarWrapper-"><span
                                                                    class="Avatar_avatar Avatar_xs"><span
                                                                        class="Avatar_inner Avatar_noBorder"><img
                                                                            src="https://static.wadiz.kr/assets/icon/profile-icon-2.png"></span></span>
                                                            </div>
                                                            <div class="CommentProfile_writerArea">
                                                                <div class="CommentProfile_nickNameArea"><span
                                                                        class="CommentProfile_nickName_Rp4">amtpu</span>
                                                                </div><span class="CommentProfile_date">7시간
                                                                    전</span>
                                                            </div>
                                                        </a>
                                                        <div class="CommentProfile_followArea__YEwVf"><button
                                                                class="Button_button Button_mint Button_sm Buttonremove"
                                                                type="button"><span><svg viewBox="0 0 24 24"
                                                                        xmlns="http://www.w3.org/2000/svg" width="14"
                                                                        class="WithProps_icon Button_icon"
                                                                        style="height: 14px; width: 14px;">
                                                                        <path
                                                                            d="M11.4 12.6V22h1.2v-9.4H22v-1.2h-9.4V2h-1.2v9.4H2v1.2h9.4z"
                                                                            fill="#495057"></path>
                                                                    </svg><span>팔로우</span></span></button>
                                                            <div class="CommentProfile_more">
                                                                <div
                                                                    class="PopMenu_wrap ReportPopMenu_itemAction">
                                                                    <button aria-label="메뉴 더보기"
                                                                        class="PopMenu_toggle PopMenu_editBtn__ttQwn"><svg
                                                                            viewBox="0 0 24 24"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="16" class="WithProps_icon"
                                                                            style="height: 16px; width: 16px;">
                                                                            <path
                                                                                d="M9.4 4a2.6 2.6 0 105.2 0 2.6 2.6 0 00-5.2 0zM9.4 12a2.6 2.6 0 105.2 0 2.6 2.6 0 00-5.2 0zM9.4 20a2.6 2.6 0 105.2 0 2.6 2.6 0 00-5.2 0z"
                                                                                fill="#495057"></path>
                                                                        </svg></button>
                                                                    <div class="PopMenu_box"
                                                                        style="display: none;"><button type="button"
                                                                            class="PopMenu_menu_r">신고</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="CommentContent_contentWrapper">
                                                        <div class="CommentContentHeader_headerContainer">
                                                            <div class="CommentContentHeader_left_T">
                                                                <div class="CommentContentBadges_badgeContainer">
                                                                    <span class="LabelBadge_container"><span
                                                                            class="LabelBadge_badge LabelBadge_sm LabelBadge_yellow LabelBadge_solid">의견</span></span>
                                                                </div>
                                                            </div>
                                                            <div class="CommentContentHeader_right"></div>
                                                        </div>
                                                        <p class="CommentContentArea_fullComment">
                                                            https://naver.me/xoQMAXlM

                                                            위 상품이랑 동일 상품 같아보이는데 중국산 수입 제품 포장지만 바꿔서 나오는거 아닌지요...</p>
                                                    </div>
                                                    <div class="CommunityArea_container__F_81k">
                                                        <div class="CommentItem_commentItem">
                                                            <div class="CommentProfile_profileContainer"><a
                                                                    class="CommentProfile_profile"
                                                                    href="/web/profile/supporter/1150506903">
                                                                    <div class="CommentProfile_avatarWrapper-">
                                                                        <span
                                                                            class="Avatar_avatar Avatar_xs"><span
                                                                                class="Avatar_inner"><img
                                                                                    src="https://cdn.wadiz.kr/wwwwadiz/green001/2025/1209/20251209102303976_3835023.jpg/wadiz/resize/108/quality/90/"></span></span><span
                                                                            class="CommentProfile_supporterClub"><svg
                                                                                viewBox="0 0 40 40" fill="none"
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                class="artwork">
                                                                                <path fill-rule="evenodd"
                                                                                    clip-rule="evenodd"
                                                                                    d="M22.979 6.269a1 1 0 00-1.39.443l-4.306 9.038H40L22.979 6.269z"
                                                                                    fill="#0CC"></path>
                                                                                <path fill-rule="evenodd"
                                                                                    clip-rule="evenodd"
                                                                                    d="M1 15.75a1 1 0 00-1 1v15.5a1 1 0 001 1h34.893L40 15.75H1z"
                                                                                    fill="currentColor"></path>
                                                                                <path
                                                                                    d="M8.667 20.75C6.302 20.75 5 22.272 5 24.141c0 1.852 1.127 3.337 3.556 3.337 1.155 0 2.044-.366 2.512-.687V25.15h-.01c-.686.513-1.392.853-2.346.853-1.292 0-2.007-.78-2.007-1.87 0-1.119.751-1.908 2.016-1.908.954 0 1.632.404 2.338.872h.01v-1.623c-.514-.367-1.34-.724-2.402-.724zM14.3 20.905h-1.678v6.417h5.143l.064-1.485H14.3v-4.931zM18.873 24.829v-3.924h1.686v3.814c0 .962.697 1.265 1.485 1.265.789 0 1.494-.284 1.494-1.228v-3.85h1.678v3.887c0 1.989-1.357 2.704-3.181 2.704-1.834 0-3.162-.715-3.162-2.668z"
                                                                                    fill="#fff"></path>
                                                                                <path fill-rule="evenodd"
                                                                                    clip-rule="evenodd"
                                                                                    d="M30.754 20.905h-3.85v6.417h3.694c1.412 0 2.42-.476 2.42-1.805 0-.761-.394-1.201-1.219-1.532.797-.238 1.081-.75 1.081-1.466 0-1.063-.797-1.613-2.126-1.613zm.587 4.392c0 .458-.238.66-.853.669l-1.934.009v-1.338h1.934c.633 0 .853.22.853.66zm-.128-2.448c0 .458-.23.633-.807.633h-1.852v-1.229h1.852c.55 0 .807.174.807.596z"
                                                                                    fill="#fff"></path>
                                                                            </svg></span>
                                                                    </div>
                                                                    <div class="CommentProfile_writerArea">
                                                                        <div class="CommentProfile_nickNameArea">
                                                                            <span
                                                                                class="CommentProfile_nickName_Rp4">이민영</span>
                                                                        </div><span
                                                                            class="CommentProfile_date">7일
                                                                            전</span>
                                                                    </div>
                                                                </a>
                                                                <div class="CommentProfile_followArea__YEwVf"><button
                                                                        class="Button_button Button_mint Button_sm Buttonremove"
                                                                        type="button"><span><svg viewBox="0 0 24 24"
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="14"
                                                                                class="WithProps_icon Button_icon"
                                                                                style="height: 14px; width: 14px;">
                                                                                <path
                                                                                    d="M11.4 12.6V22h1.2v-9.4H22v-1.2h-9.4V2h-1.2v9.4H2v1.2h9.4z"
                                                                                    fill="#495057"></path>
                                                                            </svg><span>팔로우</span></span></button>
                                                                    <div class="CommentProfile_more">
                                                                        <div
                                                                            class="PopMenu_wrap ReportPopMenu_itemAction">
                                                                            <button aria-label="메뉴 더보기"
                                                                                class="PopMenu_toggle PopMenu_editBtn__ttQwn"><svg
                                                                                    viewBox="0 0 24 24"
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    width="16"
                                                                                    class="WithProps_icon"
                                                                                    style="height: 16px; width: 16px;">
                                                                                    <path
                                                                                        d="M9.4 4a2.6 2.6 0 105.2 0 2.6 2.6 0 00-5.2 0zM9.4 12a2.6 2.6 0 105.2 0 2.6 2.6 0 00-5.2 0zM9.4 20a2.6 2.6 0 105.2 0 2.6 2.6 0 00-5.2 0z"
                                                                                        fill="#495057"></path>
                                                                                </svg></button>
                                                                            <div class="PopMenu_box"
                                                                                style="display: none;"><button
                                                                                    type="button"
                                                                                    class="PopMenu_menu_r">신고</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="ThumbnailViewer_wrapper">
                                                                <div class="ThumbnailViewer_container__BXDaB CommentItem_thumbnails"
                                                                    style="height: 132px;">
                                                                    <div class="ThumbnailViewer_thumbnailWrap ThumbnailViewer_imageView"
                                                                        style="width: 176px;"><img alt=""
                                                                            class="ThumbnailViewer_thumbnail"
                                                                            loading="lazy"
                                                                            srcset="https://cdn3.wadiz.kr/community/2026/01/19/6ae6b7a6-acc7-4858-8bdd-0561329675c4.jpeg/wadiz/resize/176/quality/85/">
                                                                    </div>
                                                                    <div class="ThumbnailViewer_thumbnailWrap ThumbnailViewer_imageView"
                                                                        style="width: 176px;"><img alt=""
                                                                            class="ThumbnailViewer_thumbnail"
                                                                            loading="lazy"
                                                                            srcset="https://cdn3.wadiz.kr/community/2026/01/19/9a9a8c53-c218-444e-b573-8720e6066cf2.jpeg/wadiz/resize/176/quality/85/">
                                                                    </div>
                                                                    <div class="ThumbnailViewer_thumbnailWrap ThumbnailViewer_imageView"
                                                                        style="width: 176px;"><img alt=""
                                                                            class="ThumbnailViewer_thumbnail"
                                                                            loading="lazy"
                                                                            srcset="https://cdn3.wadiz.kr/community/2026/01/19/535820cf-99f7-4f5f-be1b-acad4891e936.jpeg/wadiz/resize/176/quality/85/">
                                                                    </div>
                                                                    <div class="ThumbnailViewer_thumbnailWrap ThumbnailViewer_imageView"
                                                                        style="width: 176px;"><img alt=""
                                                                            class="ThumbnailViewer_thumbnail"
                                                                            loading="lazy"
                                                                            srcset="https://cdn3.wadiz.kr/community/2026/01/19/88b8f7b0-40af-483f-a8b2-5c7f8ef9cc74.jpeg/wadiz/resize/176/quality/85/">
                                                                    </div>
                                                                    <div class="ThumbnailViewer_thumbnailWrap ThumbnailViewer_imageView"
                                                                        style="width: 176px;"><img alt=""
                                                                            class="ThumbnailViewer_thumbnail"
                                                                            loading="lazy"
                                                                            srcset="https://cdn3.wadiz.kr/community/2026/01/19/f65f3978-4506-405b-bce0-165d684c0d63.jpeg/wadiz/resize/176/quality/85/">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="CommentContent_contentWrapper">
                                                                <div
                                                                    class="CommentContentHeader_headerContainer">
                                                                    <div class="CommentContentHeader_left_T">
                                                                        <div
                                                                            class="CommentContentBadges_badgeContainer">
                                                                            <span
                                                                                class="LabelBadge_container"><span
                                                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_yellow LabelBadge_solid">체험리뷰</span></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="CommentContentHeader_right">
                                                                    </div>
                                                                </div>
                                                                <p class="CommentContentArea_fullComment">도파밍 미니
                                                                    키링 카메라를
                                                                    받아보고 가장 먼저 놀랐던 건, 이렇게 작은 키링 사이즈에 필름 카메라 특유의 감성을 얼마나
                                                                    완벽하게
                                                                    담아냈는지였어요. 단순히 아기자기하고 귀여운 디자인이 아니라, 필카의 분위기와 무드를 그대로
                                                                    살려서 정말
                                                                    정교하게 구현된 외관이라 보자마자 감탄이 나왔어요.

                                                                    목걸이 끈까지 함께 구성되어 있어서 목에 걸고 다녀봤는데, 무게감이 거의 느껴지지 않아요.
                                                                    착용하고 있다는
                                                                    느낌이 없을 정도라서 부담 없이 하루 종일 걸고 다닐 수 있었어요. 평소 필름 카메라는 조금만
                                                                    메고 다녀도
                                                                    무게 때문에 목이 눌리는 느낌이 들곤 했는데, 이 부분에서 확실히 차이가 느껴졌어요.

                                                                    필터 설정도 다양해서 여러 가지로 촬영해봤는데, 필터를 적용할 때마다 또 다른 감성이 살아나는
                                                                    게 정말
                                                                    매력적이더라고요. 요즘 디카처럼 화질이 쨍하고 또렷한 느낌보다는, 살짝 낡고 빈티지한 필름
                                                                    카메라 특유의
                                                                    분위기가 담긴 사진을 찍을 수 있어서 더 마음에 들었어요.

                                                                    사진 촬영뿐만 아니라 동영상 촬영도 가능하고, PC 웹캠으로도 사용할 수 있어서 활용도가 정말
                                                                    높아요. 작은
                                                                    카메라임에도 해상도, 화질, 타임스탬프, 날짜·시간, 언어, 볼륨까지 세세하게 설정할 수 있어
                                                                    기능 면에서도
                                                                    부족함이 없다고 느꼈어요.

                                                                    키링 사이즈의 작은 카메라지만 디자인부터 기능성까지 일반 카메라에 비해 아쉬운 점이 전혀 없는
                                                                    도파밍 미니
                                                                    키링 카메라. 가볍게 들고 다니면서 일상의 순간이나 여행의 분위기를 기록하기에 정말 좋은
                                                                    아이템이에요. 벌써
                                                                    여행 필수템으로 자리 잡았고, 3월에 예정된 해외여행에도 꼭 함께 가져갈 생각입니다.</p>
                                                            </div>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="height: 120px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="FloatingButtons_container" style=""><button type="button" aria-label="위로 이동"
                class="FloatingTopButton_pageTop undefined FloatingButtons_button FloatingButtons_visible"><svg
                    viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24"
                    class="WithProps_icon" style="color: rgb(255, 255, 255); height: 24px; width: 24px;">
                    <path
                        d="M4 5.4h16v1.2H4V5.4zM5.424 18.424l-.848-.848L12 10.15l7.424 7.425-.848.848L12 11.85l-6.576 6.575z"
                        fill="#495057"></path>
                </svg></button>
            <div style="display: none;"></div>
        </aside>
    </div>x
    <div class="ReactModalPortal">
        <div id="modal" class="ConfirmModal_overlay waffle__modal__overlay " style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal_confirmModal-6 ConfirmModal_sizeMobile ConfirmModal_contentAfterOpen"
                tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_closeIconRoot"><button aria-label="모달 닫기"
                            class="Button_button Button_text Button_md closebutton" 
                            type="button"><span><span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        width="24" class="WithProps_icon" style="height: 24px; width: 24px;">
                                        <path
                                            d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z"
                                            fill="#495057"></path>
                                    </svg></span></span></button></div>
                    <div class="ConfirmModal_title">신고하기</div>
                </div>
                <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ReportModal_container-xQ">
                        <p class="ReportModal_guideMessage-">프로젝트 및 게시글에 부적절한 내용이 있다면, 아래 내용을 포함하여 이메일로 보내 주세요.
                        </p>
                        <div class="ReportModal_email-Qrd"><svg viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg" width="20" class="WithProps_icon"
                                style="height: 20px; width: 20px;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M22.6 4.4H1.4v15.2h21.2V4.4zm-20 2.447V18.4h18.8V6.847l-9.4 8.46-9.4-8.46zM20.992 5.6H3.008L12 13.693 20.992 5.6z"
                                    fill="#495057"></path>
                            </svg>info@wadiz.kr</div>
                        <div class="ReportModal_listWrapper">
                            <h5>아래 신고 접수 사항을 반드시 적어주세요.</h5>
                            <div class="MarkdownToHtml_container ReportModal_list">
                                <ol>
                                    <li>신고인 아이디 (필수)</li>
                                    <li>게시물 작성자 아이디 (필수)</li>
                                    <li>프로젝트 이름 또는 URL (필수)</li>
                                    <li>신고하는 이유 예시<br>* 타인을 모욕, 명예훼손하는 내용이 있어요.<br>* 개인정보를 침해하는 내용이 있어요.<br>* 차별, 음란,
                                        범죄, 욕설 등 부적절한 내용이 있어요.</li>
                                </ol>
                            </div>
                        </div>
                        <p class="ReportModal_infoMessage">신고인의 정보 및 신고 내용은 안전하게 보호되며 외부에 제공되지 않습니다.</p><a
                            class="ReportModal_link" href="/web/wterms/community" target="_blank">커뮤니티 정책 보기 <svg
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="16"
                                class="WithProps_icon" style="height: 16px; width: 16px;">
                                <path d="M15.1 4.2h4.551l-7.975 7.976.848.848L20.5 5.05V9.6h1.2V3h-6.6v1.2z"
                                    fill="#495057"></path>
                                <path d="M10.1 3H2.5v18.2h19.2v-6.6h-1.2V20H3.7V4.2h6.4V3z" fill="#495057"></path>
                            </svg></a>
                    </div>
                </div>
                <div class="ConfirmModal_footer" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_buttonGroup"><button
                            class="Button_button Button_lg ConfirmModal_negativeButton closebutton"
                            type="button"><span><span>닫기</span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/review/review.js"></script>

</html>