<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팔로워</title>
    <link rel="stylesheet" href="/static/css/User Profile/follower.css">
    <link rel="stylesheet" href="/static/css/User Profile/font.css">
</head>

<body>
    <div id="root">
        <header class="Header-module_container Header-module_sticky">
            <div class="Header-module_content">
                <div class="Header-module_left"><button class="StyledComponent-module_container"
                        aria-label="뒤로 가기" type="button"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            width="24" class="WithProps-module_icon" style="height: 24px; width: 24px;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.0757 2.57573L16.9243 3.42426L8.34851 12L16.9243 20.5757L16.0757 21.4243L6.65146 12L16.0757 2.57573Z"
                                fill="#495057"></path>
                        </svg></button></div>
                <div class="Header-module_center" style="max-width: calc(-240px + 100vw);"></div>
                <div class="Header-module_right"><a class="StyledComponent-module_container"
                        aria-label="홈으로 가기" href="/web/main"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            width="24" class="WithProps-module_icon" style="height: 24px; width: 24px;">
                            <path
                                d="M21.6 7.67893L12 1.27893L2.40002 7.67893V21H3.60002V8.32115L12 2.72115L20.4 8.32115V21H21.6V7.67893Z"
                                fill="#495057"></path>
                            <path d="M15.6 21V12.4H8.40002V21H9.60002V13.6H14.4V21H15.6Z" fill="#495057"></path>
                        </svg></a></div>
            </div>
        </header>
        <main>
            <div class="content-width-560">
                <div class="MyFriends-module_container">
                    <div class="MyFriends-module_contents">
                        <div class="MyFriends-module_tabsWrapper">
                            <nav class="Tabs-module_tabsWrapper">
                                <ul class="Tabs-module_tabs MyFriends-module_tabs">
                                    <li data-index="0"></li>
                                    <li data-index="1"><button type="button"
                                            class="Tab-module_tab Tab-module_active undefined Tab-module_md"
                                            role="tab" data-value="1"><span>
                                                <p>팔로잉 <sup
                                                        class="MyFriends-module_sup1 MyFriends-module_supSelected">3</sup>
                                                </p>
                                            </span></button></li>
                                    <li data-index="2"></li>
                                    <li data-index="3"><button type="button"
                                            class="Tab-module_tab undefined Tab-module_md" role="tab"
                                            data-value="3"><span>
                                                <p>팔로워 <sup class="MyFriends-module_sup1">2</sup></p>
                                            </span></button></li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <div class="TabPanels-module_tabPanels">
                                <div class="FollowingSupporter-module_container">
                                    <div class="FollowingCard-module_container">
                                        <a class="FollowingCard-module_left"
                                            href="/web/profile/supporter/12435936016"><span
                                                class="Avatar-module_avatar Avatar-module_xs FollowingCard-module_avatar"><span
                                                    class="Avatar-module_inner Avatar-module_noBorder"><img
                                                        src="https://static.wadiz.kr/assets/icon/profile-icon-1.png"></span></span>
                                            <div class="FollowingCard-module_info">
                                                <p class="FollowingCard-module_name">suasiddl</p>
                                                <p class="FollowingCard-module_detail">펀딩 7 · 지지서명 9</p>
                                            </div>
                                        </a>
                                        <div class="FollowingCard-module_right"><button
                                                class="Button-module_button Button-module_gray Button-module_sm"
                                                type="button" data-id="user1"><span><svg viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg" width="12"
                                                        class="WithProps-module_icon Button-module_icon"
                                                        style="height: 12px; width: 12px;">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M21.8485 6.84852L8.99999 19.697L2.15146 12.8485L3.84852 11.1515L8.99999 16.3029L20.1515 5.15146L21.8485 6.84852Z"
                                                            fill="#495057"></path>
                                                    </svg><span>팔로잉</span></span></button></div>
                                    </div>
                                    <div class="FollowingCard-module_container"><a
                                            class="FollowingCard-module_left"
                                            href="/web/profile/supporter/9730975419"><span
                                                class="Avatar-module_avatar Avatar-module_xs FollowingCard-module_avatar"><span
                                                    class="Avatar-module_inner Avatar-module_noBorder"><img
                                                        src="https://static.wadiz.kr/assets/icon/profile-icon-3.png"></span></span>
                                            <div class="FollowingCard-module_info">
                                                <p class="FollowingCard-module_name">최현성</p>
                                                <p class="FollowingCard-module_detail">펀딩 97 · 지지서명 115</p>
                                            </div>
                                        </a>
                                        <div class="FollowingCard-module_right"><button
                                                class="Button-module_button Button-module_gray Button-module_sm"
                                                type="button" data-id="user2"><span><svg viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg" width="12"
                                                        class="WithProps-module_icon Button-module_icon"
                                                        style="height: 12px; width: 12px;">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M21.8485 6.84852L8.99999 19.697L2.15146 12.8485L3.84852 11.1515L8.99999 16.3029L20.1515 5.15146L21.8485 6.84852Z"
                                                            fill="#495057"></path>
                                                    </svg><span>팔로잉</span></span></button></div>
                                    </div>
                                    <div class="FollowingCard-module_container"><a
                                            class="FollowingCard-module_left"
                                            href="/web/profile/supporter/10049682020"><span
                                                class="Avatar-module_avatar Avatar-module_xs FollowingCard-module_avatar"><span
                                                    class="Avatar-module_inner Avatar-module_noBorder"><img
                                                        src="https://static.wadiz.kr/assets/icon/profile-icon-4.png"></span></span>
                                            <div class="FollowingCard-module_info">
                                                <p class="FollowingCard-module_name">오동훈 </p>
                                                <p class="FollowingCard-module_detail">펀딩 9 · 지지서명 16</p>
                                            </div>
                                        </a>
                                        <div class="FollowingCard-module_right"><button
                                                class="Button-module_button Button-module_gray Button-module_sm"
                                                type="button" data-id="user3"><span><svg viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg" width="12"
                                                        class="WithProps-module_icon Button-module_icon"
                                                        style="height: 12px; width: 12px;">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M21.8485 6.84852L8.99999 19.697L2.15146 12.8485L3.84852 11.1515L8.99999 16.3029L20.1515 5.15146L21.8485 6.84852Z"
                                                            fill="#495057"></path>
                                                    </svg><span>팔로잉</span></span></button></div>
                                    </div>
                                    <div></div>
                                </div>
                                <div class="FollowerSupporter-module_container" style="display: none;">
                                    <div class="FollowingCard-module_container">
                                        <a class="FollowingCard-module_left"
                                            href="/web/profile/supporter/11111111111"><span
                                                class="Avatar-module_avatar Avatar-module_xs FollowingCard-module_avatar"><span
                                                    class="Avatar-module_inner Avatar-module_noBorder"><img
                                                        src="https://static.wadiz.kr/assets/icon/profile-icon-2.png"></span></span>
                                            <div class="FollowingCard-module_info">
                                                <p class="FollowingCard-module_name">팔로워1</p>
                                                <p class="FollowingCard-module_detail">펀딩 5 · 지지서명 10</p>
                                            </div>
                                        </a>
                                        <div class="FollowingCard-module_right"><button
                                                class="Button-module_button Button-module_mint Button-module_sm"
                                                type="button" data-id="follower1"><span><svg viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg" width="12"
                                                        class="WithProps-module_icon Button-module_icon"
                                                        style="height: 12px; width: 12px;">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M21.8485 6.84852L8.99999 19.697L2.15146 12.8485L3.84852 11.1515L8.99999 16.3029L20.1515 5.15146L21.8485 6.84852Z"
                                                            fill="#495057"></path>
                                                    </svg><span>팔로우</span></span></button></div>
                                    </div>
                                    <div class="FollowingCard-module_container">
                                        <a class="FollowingCard-module_left"
                                            href="/web/profile/supporter/22222222222"><span
                                                class="Avatar-module_avatar Avatar-module_xs FollowingCard-module_avatar"><span
                                                    class="Avatar-module_inner Avatar-module_noBorder"><img
                                                        src="https://static.wadiz.kr/assets/icon/profile-icon-5.png"></span></span>
                                            <div class="FollowingCard-module_info">
                                                <p class="FollowingCard-module_name">팔로워2</p>
                                                <p class="FollowingCard-module_detail">펀딩 15 · 지지서명 20</p>
                                            </div>
                                        </a>
                                        <div class="FollowingCard-module_right"><button
                                                class="Button-module_button Button-module_mint Button-module_sm"
                                                type="button" data-id="follower2"><span><svg viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg" width="12"
                                                        class="WithProps-module_icon Button-module_icon"
                                                        style="height: 12px; width: 12px;">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M21.8485 6.84852L8.99999 19.697L2.15146 12.8485L3.84852 11.1515L8.99999 16.3029L20.1515 5.15146L21.8485 6.84852Z"
                                                            fill="#495057"></path>
                                                    </svg><span>팔로우</span></span></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="FabContainer-module_container"><button aria-label="scroll to top"
                class="ScrollToTopButton-module_container" type="button"><svg viewBox="0 0 24 24" fill="#fff"
                    xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps-module_icon"
                    style="color: rgb(255, 255, 255); height: 24px; width: 24px;">
                    <path d="M4 5.40002H20V6.60003L4 6.60002V5.40002Z" fill="#495057"></path>
                    <path
                        d="M5.42421 18.4243L4.57568 17.5758L11.9999 10.1515L19.4242 17.5758L18.5757 18.4243L11.9999 11.8485L5.42421 18.4243Z"
                        fill="#495057"></path>
                </svg></button></div>
    </div>
</body>
<script src="/static/js/User Profile/follewer.js"></script>

</html>