.errorpage-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px;
    height: 100vh;
    gap: 80px
}

.errorpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    gap: 24px
}

.errorpage .artwork {
    background-size: 100%;
    width: 200px;
    height: 160px
}

.errorpage .artwork.serverError {
    background-image: url(https://static.wadiz.kr/assets/error/artwork-serverError.png)
}

.errorpage .artwork.noPermission {
    background-image: url(https://static.wadiz.kr/assets/error/artwork-noAuth.png)
}

.errorpage .artwork.noPage {
    background-image: url(https://static.wadiz.kr/assets/error/artwork-noPage.png)
}

.errorpage .artwork.ingService {
    background-image: url(https://static.wadiz.kr/assets/error/artwork-ingService.png)
}

.errorpage .artwork.login {
    background-image: url(https://static.wadiz.kr/assets/error/artwork-login.png)
}

.errorpage .artwork.errorNetwork {
    background-image: url(https://static.wadiz.kr/assets/error/artwork-errorNetwork.png)
}

.errorpage .artwork.settingApp {
    background-image: url(https://static.wadiz.kr/assets/error/artwork-settingApp.png)
}

.errorpage .artwork.serverBusy {
    background-image: url(https://static.wadiz.kr/assets/error/artwork-serverBusy.png)
}

.errorpage .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    gap: 8px
}

.errorpage .wrap h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center
}

.errorpage .wrap p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #868e96
}

.errorpage .wrap a,.errorpage .wrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 6px
}

.errorpage .wrap a img,.errorpage .wrap button img {
    width: 20px;
    height: 20px
}

.errorpage .wrap.button {
    max-width: 360px
}

.errorpage .schedule dd,.errorpage .schedule dt {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}

.errorpage .schedule dt {
    margin-top: 24px;
    font-weight: 700
}

.errorpage .schedule dt:first-child {
    margin-top: 0
}

.errorpage .schedule dd {
    margin-top: 8px;
    color: #868e96
}

.errorpage .icon {
    margin-bottom: 20px
}

.errorpage .icon>i,.errorpage .icon svg {
    color: #ffb500;
    font-size: 80px
}

.errorpage>h1 {
    line-height: 1em;
    font-size: 48px;
    font-weight: 400
}

.errorpage .message {
    margin: 20px 0
}


.errorpage .copyright {
    margin-top: 48px;
    color: #90949c
}

.errorpage-v2 {
    padding: 0;
    text-align: center
}

.errorpage-v2 .contents {
    display: flex;
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 62px;
    left: 0;
    align-items: center;
    justify-content: center
}

.errorpage-v2 .contents .message {
    margin: 0;
    text-align: center
}

.errorpage-v2 .contents .message img {
    display: block;
    margin: 0 auto 12px;
    width: 200px;
    height: 200px
}

.errorpage-v2 .contents .message p {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: #212529
}

.errorpage-v2 .contents .message p span {
    display: block
}

.errorpage-v2 .buttons {
    position: fixed;
    right: 16px;
    bottom: 14px;
    left: 16px
}

.errorpage-v2 .buttons a.primary {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 24px;
    width: 100%;
    font-weight: 500
}

h1.wz.text,h2.wz.text,h3.wz.text,h4.wz.text,h5.wz.text,h6.wz.text,p.wz.text,span.wz.text,em.wz.text,label.wz.text {word-break: keep-all;}
h1.wz.text.display4,h2.wz.text.display4,h3.wz.text.display4,h4.wz.text.display4,h5.wz.text.display4,h6.wz.text.display4,p.wz.text.display4,span.wz.text.display4,em.wz.text.display4,label.wz.text.display4 {
    line-height: 40px;
    font-size: 32px;
    font-weight: 700;
}

h1.wz.text.display3,h2.wz.text.display3,h3.wz.text.display3,h4.wz.text.display3,h5.wz.text.display3,h6.wz.text.display3,p.wz.text.display3,span.wz.text.display3,em.wz.text.display3,label.wz.text.display3 {
    line-height: 40px;
    font-size: 32px;
    font-weight: 700;
}

h1.wz.text.display2,h2.wz.text.display2,h3.wz.text.display2,h4.wz.text.display2,h5.wz.text.display2,h6.wz.text.display2,p.wz.text.display2,span.wz.text.display2,em.wz.text.display2,label.wz.text.display2 {
    line-height: 36px;

    font-size: 28px;
    font-weight: 700;
}

h1.wz.text.display1,h2.wz.text.display1,h3.wz.text.display1,h4.wz.text.display1,h5.wz.text.display1,h6.wz.text.display1,p.wz.text.display1,span.wz.text.display1,em.wz.text.display1,label.wz.text.display1 {
    line-height: 36px;
    font-size: 28px;
    font-weight: 700;
}

h1.wz.text.headline2,h2.wz.text.headline2,h3.wz.text.headline2,h4.wz.text.headline2,h5.wz.text.headline2,h6.wz.text.headline2,p.wz.text.headline2,span.wz.text.headline2,em.wz.text.headline2,label.wz.text.headline2 {
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
}

h1.wz.text.headline1,h2.wz.text.headline1,h3.wz.text.headline1,h4.wz.text.headline1,h5.wz.text.headline1,h6.wz.text.headline1,p.wz.text.headline1,span.wz.text.headline1,em.wz.text.headline1,label.wz.text.headline1 {
    line-height: 28px;
    font-size: 21px;
    font-weight: 700;
}
h1.wz.text.title,h2.wz.text.title,h3.wz.text.title,h4.wz.text.title,h5.wz.text.title,h6.wz.text.title,p.wz.text.title,span.wz.text.title,em.wz.text.title,label.wz.text.title {
    line-height: 24px;
    font-size: 19px;
    font-weight: 700;
}

h1.wz.text.subtext2,h2.wz.text.subtext2,h3.wz.text.subtext2,h4.wz.text.subtext2,h5.wz.text.subtext2,h6.wz.text.subtext2,p.wz.text.subtext2,span.wz.text.subtext2,em.wz.text.subtext2,label.wz.text.subtext2 {
    line-height: 24px;
    font-size: 17px;
    font-weight: 700;
}
h1.wz.text.body2,h2.wz.text.body2,h3.wz.text.body2,h4.wz.text.body2,h5.wz.text.body2,h6.wz.text.body2,p.wz.text.body2,span.wz.text.body2,em.wz.text.body2,label.wz.text.body2 {
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
}
h1.wz.text.subtext1,h2.wz.text.subtext1,h3.wz.text.subtext1,h4.wz.text.subtext1,h5.wz.text.subtext1,h6.wz.text.subtext1,p.wz.text.subtext1,span.wz.text.subtext1,em.wz.text.subtext1,label.wz.text.subtext1 {
    line-height: 20px;
    font-size: 15px;
    font-weight: 700;
}
h1.wz.text.body1,h2.wz.text.body1,h3.wz.text.body1,h4.wz.text.body1,h5.wz.text.body1,h6.wz.text.body1,p.wz.text.body1,span.wz.text.body1,em.wz.text.body1,label.wz.text.body1 {
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}
h1.wz.text.caption2,h2.wz.text.caption2,h3.wz.text.caption2,h4.wz.text.caption2,h5.wz.text.caption2,h6.wz.text.caption2,p.wz.text.caption2,span.wz.text.caption2,em.wz.text.caption2,label.wz.text.caption2 {
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
}
h1.wz.text.caption1,h2.wz.text.caption1,h3.wz.text.caption1,h4.wz.text.caption1,h5.wz.text.caption1,h6.wz.text.caption1,p.wz.text.caption1,span.wz.text.caption1,em.wz.text.caption1,label.wz.text.caption1 {
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
}

.wz.button {
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.4117647059em;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box !important;
    -webkit-appearance: none;
}
.wz.button {
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.wz.button:hover,.wz.button:focus,.wz.button.active {
    border-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.84);
}
.wz.button.less,.wz.button[class*=-less] {
    border-width: 0;
}
.wz.button.less,.wz.button.less:hover,.wz.button.less:focus,.wz.button.less.active,.wz.button[class*=-less],.wz.button[class*=-less]:hover,.wz.button[class*=-less]:focus,.wz.button[class*=-less].active {
    background-color: transparent !important;
    padding: 0;
}
.wz.button[class*=icon-]::before {
    margin-right: 3px;
}
.wz.button.no-radius {
    border-radius: 0;
}
.wz.button.disabled,.wz.button:disabled {
    opacity: 0.45;
    cursor: default;
    color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
}
.wz.button.loading {
    position: relative;
    color: transparent !important;
    pointer-events: none;
}
.wz.button.loading::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation-name: wz-button-loading;
    animation-duration: 0.2s;
    opacity: 1;
    background: url("src/svg/loader.svg") 50% no-repeat;
    width: 20px;
    height: 20px;
    content: "";
}
.wz.button.loading.primary::after,.wz.button.loading.blue::after,.wz.button.loading.gray::after,.wz.button.loading.red::after {
    background-image: url("src/svg/loader-white.svg");
}
@keyframes wz-button-loading {
from {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
}
to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
}
.wz.button[href] {
    line-height: 46px;
}
.wz.button.icon > [class*=icon-]::before,.wz.button[class*=icon-]::before {
    line-height: 46px;
}
.wz.button.mini {
    padding: 0 10px;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
}
.wz.button.mini.icon > [class*=icon-]::before,.wz.button.mini[class*=icon-]::before {
    line-height: 1em;
}
.wz.button.small {
    padding: 0 12px;
    height: 32px;
    line-height: 30px;
    font-size: 13px;
}
.wz.button.small.icon > [class*=icon-]::before,.wz.button.small[class*=icon-]::before {
    line-height: 30px;
}
.wz.button.dense {
    padding: 0 16px;
    height: 36px;
    line-height: 34px;
    font-size: 15px;
}
.wz.button.dense.icon > [class*=icon-]::before,.wz.button.dense[class*=icon-]::before {
    line-height: 30px;
}
.wz.button.large {
    padding: 0 32px;
    height: 56px;
    line-height: 54px;
    font-size: 21px;
}
.wz.button.large.icon > [class*=icon-]::before,.wz.button.large[class*=icon-]::before {
    line-height: 54px;
}
.wz.button.block,.wz.button.fluid {
    width: 100%;
    text-align: center;
}
.wz.button.inline-block {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    line-height: 1.25;
}
.wz.button.circular {
    border-radius: 3em;
    padding-top: 0;
    padding-bottom: 0;
}

.wz.button.primary, .wz.button.primary-outline {
    border-color: #00c4c4;
}
.wz.button.primary:hover, .wz.button.primary:focus, .wz.button.primary.active, .wz.button.primary-outline:hover, .wz.button.primary-outline:focus, .wz.button.primary-outline.active {
    border-color: #00b2b2;
    background-color: #00b2b2;
    color: #fff;
}
.wz.button.primary {
    background-color: #00c4c4;
    color: #fff;
}
.wz.button.primary.disabled, .wz.button.primary:disabled {
    color: rgba(255, 255, 255, 0.7);
}
.wz.button.primary.less {
    color: #00c4c4;
}
.wz.button.primary.less:hover, .wz.button.primary.less:focus, .wz.button.primary.less.active {
    color: #00b2b2;
}
.wz.button.primary-outline {
    background-color: transparent;
    color: #00c4c4;
}
.wz.button.primary-outline:hover, .wz.button.primary-outline:focus, .wz.button.primary-outline.active {
    color: #fff;
}
.wz.button.primary-outline.disabled, .wz.button.primary-outline:disabled {
    color: rgba(0, 196, 196, 0.7);
}
.wz.button.gray, .wz.button.gray-outline {
    border-color: #90949c;
}
.wz.button.gray:hover, .wz.button.gray:focus, .wz.button.gray.active, .wz.button.gray-outline:hover, .wz.button.gray-outline:focus, .wz.button.gray-outline.active {
    border-color: #60656a;
    background-color: #60656a;
    color: #fff;
}
.wz.button.gray {
    background-color: #90949c;
    color: #fff;
}
.wz.button.gray.disabled, .wz.button.gray:disabled {
    color: rgba(255, 255, 255, 0.7);
}
.wz.button.gray.less {
    color: #60656a;
}
.wz.button.gray.less:hover, .wz.button.gray.less:focus, .wz.button.gray.less.active {
    color: #60656a;
}
.wz.button.gray-outline {
    background-color: transparent;
    color: #60656a;
}
.wz.button.gray-outline:hover, .wz.button.gray-outline:focus, .wz.button.gray-outline.active {
    color: #fff;
}
.wz.button.gray-outline.disabled, .wz.button.gray-outline:disabled {
    color: rgba(96, 101, 106, 0.7);
}

.wz.button.secondary:hover, .wz.button.secondary:focus, .wz.button.secondary.active {
    border-color: #E9ECEF;
    background-color: #E9ECEF;
    color: #343A40;
}
.wz.button.secondary {
    border-color: #F2F4F6;
    background-color: #F2F4F6;
    color: #495057;
}
.wz.button.secondary.disabled, .wz.button.secondary:disabled {
    border-color: #F2F4F6;
    background-color: #F2F4F6;
    opacity: .4;
    color: #495057;
}
.wz.button.blue, .wz.button.blue-outline {
    border-color: #557cf2;
}
.wz.button.blue:hover, .wz.button.blue:focus, .wz.button.blue.active, .wz.button.blue-outline:hover, .wz.button.blue-outline:focus, .wz.button.blue-outline.active {
    border-color: #395bbf;
    background-color: #395bbf;
    color: #fff;
}
.wz.button.blue {
    background-color: #557cf2;
    color: #fff;
}
.wz.button.blue.disabled, .wz.button.blue:disabled {
    color: rgba(255, 255, 255, 0.7);
}
.wz.button.blue.less {
    color: #4167d9;
}
.wz.button.blue.less:hover, .wz.button.blue.less:focus, .wz.button.blue.less.active {
    color: #395bbf;
}
.wz.button.blue-outline {
    background-color: transparent;
    color: #4167d9;
}
.wz.button.blue-outline:hover, .wz.button.blue-outline:focus, .wz.button.blue-outline.active {
    color: #fff;
}
.wz.button.blue-outline.disabled, .wz.button.blue-outline:disabled {
    color: rgba(65, 103, 217, 0.7);
}
.wz.button.red, .wz.button.red-outline {
    border-color: #f66;
}
.wz.button.red:hover, .wz.button.red:focus, .wz.button.red.active, .wz.button.red-outline:hover, .wz.button.red-outline:focus, .wz.button.red-outline.active {
    border-color: #e54545;
    background-color: #e54545;
    color: #fff;
}
.wz.button.red {
    background-color: #f66;
    color: #fff;
}
.wz.button.red.disabled, .wz.button.red:disabled {
    color: rgba(255, 255, 255, 0.7);
}
.wz.button.red.less {
    color: #f25555;
}
.wz.button.red.less:hover, .wz.button.red.less:focus, .wz.button.red.less.active {
    color: #e54545;
}
.wz.button.red-outline {
    background-color: transparent;
    color: #f25555;
}
.wz.button.red-outline:hover, .wz.button.red-outline:focus, .wz.button.red-outline.active {
    color: #fff;
}
.wz.button.red-outline.disabled, .wz.button.red-outline:disabled {
    color: rgba(242, 85, 85, 0.7);
}
.wz.button.icon {
    padding: 0;
    width: 48px;
    overflow: hidden;
    font-size: 32px;
    box-sizing: border-box;
}
.wz.button.icon > i.icon {
    line-height: 1;
}
.wz.button.icon > i.icon::before {
    margin: 0;
    vertical-align: top;
}
.wz.button.icon.mini {
    padding: 6px;
    width: 30px;
    font-size: 16px;
}
.wz.button.icon.small {
    padding: 6px;
    width: 34px;
    font-size: 20px;
}
.wz.button.icon.dense {
    padding: 6px;
    width: 38px;
    font-size: 32px;
}
.wz.button.icon.dense .icon {
    font-size: 24px;
}
.wz.button.icon.large {
    padding: 8px;
    width: 58px;
    font-size: 40px;
}
.wz.button.icon.icon[aria-label] {
    position: relative;
    overflow-x: visible;
    overflow-y: visible;
}
.wz.button.icon.icon[aria-label]::before, .wz.button.icon.icon[aria-label]::after {
    display: none;
    position: absolute;
    top: 100%;
    right: 50%;
    z-index: 100000;
}
.wz.button.icon.icon[aria-label]::before {
    margin-right: -5px;
    border: 5px solid transparent;
    border-top: 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.6);
    content: "";
}
.wz.button.icon.icon[aria-label]::after {
    transform: translateX(50%);
    margin-top: 5px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.3em 0.8em;
    text-transform: none;
    text-shadow: none;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: nowrap;
    color: #fff;
    font-size: 0.8em;
    content: attr(aria-label);
    pointer-events: none;
}
.wz.button.icon.icon[aria-label]:hover::before, .wz.button.icon.icon[aria-label]:hover::after, .wz.button.icon.icon[aria-label]:focus::before, .wz.button.icon.icon[aria-label]:focus::after, .wz.button.icon.icon[aria-label].tt-hold::before, .wz.button.icon.icon[aria-label].tt-hold::after {
    display: block;
}