<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기업 메인 - 헤더</title>

        <!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        
        <link rel="stylesheet" href="/css/common/font.css" />
        <link rel="stylesheet" href="/css/common/reset.css" />
        <link rel="stylesheet" href="/css/components/headers/company-header.css" />
    </head>
    <body>
        <div id="admin-header" class="admin-header">
            <div class="admin-header-group">
                <div class="admin-header-brand">
                    <!-- 로고 -->
                    <button id="admin-header-logo-button" class="admin-header-logo-btn" type="button" aria-label="로고 버튼">
                        <img src="/images/logo_ggshoop.png" />
                    </button>

                    <!-- 서비스 슬로건 -->
                    <div class="admin-header-product-type">언제 어디서나 간편하게 ｜ 충전 파트너스 센터</div>
                </div>

                <!-- 지점명 -->
                <div class="admin-header-status">
                    <span class="badge">
                        <span class="badge-label badge-label-md badge-label-gray badge-label-tint">코리아기업</span>
                    </span>
                </div>
            </div>

            <!-- 알림 / 바로가기 / 계정 정보 보기 -->
            <div class="admin-header-group admin-header-group-right">
                <!-- 알림 버튼 -->
                <div id="notification-button" class="notif-button" role="button">
                    <!-- 알림 아이콘 -->
                    <!-- <img class="notif-button-icon" src="/static/images/icon_notif.svg" aria-hidden="true" />
                    <span class="dot-badge dot-badge-sm notif-button-badge"></span> -->
                </div>

            

                <div id="header-actions" class="header-actions">
                    <!-- 계정 삭제 문의 -->
                    <button id="view-project-button" class="btn btn-md header-actions-btn" type="button">계정 삭제 문의</button>
                    <!-- 로그아웃 -->
                    <button id="exit-button" class="btn btn-md header-actions-btn" type="button">로그아웃</button>
                </div>
            </div>
        </div>
    </body>
</html>
