<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 상세</title>
    <link rel="stylesheet" href="/css/paymentHistroy/paymentdetailed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<body>
    <div id="header">
        <header class="Header_container- Header_sticky">
            <div class="Header_content-rt">
                <div class="Header_left"><button class="StyledComponent_container" aria-label="뒤로 가기"
                        type="button"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24"
                            class="WithProps_icon_TMm" style="height: 24px; width: 24px;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z"
                                fill="#495057"></path>
                        </svg></button></div>
                <div class="Header_center" style="max-width: calc(-80px + 100vw);">
                    <h1 class="StyledComponent_container Title_container Title_center_s">나의 펀딩현황</h1>
                </div>
                <div class="Header_right"><a class="StyledComponent_container" aria-label="홈으로 가기"
                        href="http://127.0.0.1:5500/templates/User%20Profile/profile.html"><svg viewBox="0 0 24 24" xmlns="http://127.0.0.1:5500/templates/User%20Profile/profile.html" width="24"
                            class="WithProps_icon_TMm" style="height: 24px; width: 24px;">
                            <path d="M21.6 7.679l-9.6-6.4-9.6 6.4V21h1.2V8.321l8.4-5.6 8.4 5.6V21h1.2V7.679z"
                                fill="#495057"></path>
                            <path d="M15.6 21v-8.6H8.4V21h1.2v-7.4h4.8V21h1.2z" fill="#495057"></path>
                        </svg></a></div>
            </div>
        </header>
        <div id="wadizContainer">
            <div id="mypageWrap">
                <div class="myfunding-wrap myRewardPurchase">
                    <div class="mypage-project bg short">
                        <div class="project-detail form-wrap" id="landing-myreward-purchase">
                            <div id="myreward-purchase-detail" data-campaign-id="184167"
                                data-backing-payment-id="9674962" data-maker-name="올데이온(alldayON)"
                                data-maker-id="593754903" data-referer="https://www.wadiz.kr/web/mywadiz/participation"
                                data-param-referer="">
                                <div class="PurchaseDetailContainer_container">
                                    <div class="PurchaseInfoContainer_container">
                                        <p class="PurchaseInfoContainer_status"><i
                                                class="PurchaseInfoContainer_icon__oWKmQ PurchaseInfoContainer_end"></i>완료
                                        </p><a href="/web/campaign/detail/184167" target="_blank"
                                            rel="noopener noreferrer">
                                            <p class="PurchaseInfoContainer_title">제목입니다</p>
                                        </a>
                                        <p class="PurchaseInfoContainer_maker">by <button>이름</button></p>
                                        <div class="PurchaseInfoContainer_summary-w">
                                            <div class="PurchaseInfoContainer_list">
                                                <p class="PurchaseInfoContainer_listTitle">결제일</p>
                                                <p>2023.02.02</p>
                                            </div>
                                            <div class="PaymentStatusSection_container">
                                                <div class="PaymentStatusSection_list">
                                                    <p class="PaymentStatusSection_listTitle__uVYuP">결제 상태</p>
                                                    <p class="PaymentStatusSection_status">결제 완료</p>
                                                </div>
                                                <div class="PaymentStatusSection_subText">
                                                    <div class="PaymentStatusSection_payInfo__qnFXH">
                                                        <p>신용(체크)카드로 결제가 완료되었습니다.</p><button
                                                            class="PaymentStatusSection_receipt">영수증 출력</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><button
                                            class="Button_button Button_mint Button_tint Button_md PurchaseInfoContainer_satisfactionButton reviewbox"
                                            type="button"><span><span>나의 만족도 보기</span></span></button>
                                    </div>
                                    <hr class="Divider_divider__ZzkBR Divider_horizontal-x1 Divider_lightBG Divider_spacing0"
                                        style="height: 8px;">
                                    <hr class="Divider_divider__ZzkBR Divider_horizontal-x1 Divider_lightBG Divider_spacing0"
                                        style="height: 8px;">
                                    <div class="FundingPayment_container">
                                        <div>
                                            <div class="FundingPayment_title">결제 내역</div>
                                            <ul>
                                                <li class="FundingPayment_list">
                                                    <p>금액</p>
                                                    <p>76,000원</p>
                                                </li>
                                                <li class="FundingPayment_list">
                                                    <p>포인트 차감금액</p>
                                                    <p>- 0원</p>
                                                </li>
                                                <li class="FundingPayment_list FundingPayment_bold">
                                                    <p>최종 결제 금액</p>
                                                    <p>80,000원</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr class="Divider_divider__ZzkBR Divider_horizontal-x1 Divider_lightBG Divider_spacing0"
                                        style="height: 8px;">
                                    <div class="PurchaseDetailContainer_paymentInfo">
                                        <div class="PurchaseDetailContainer_paymentInfoTitle">결제 정보</div>
                                        <div class="RewardPaymentInfo_container">
                                            <div data-component-name="payment-info-app">
                                                <div class="PaymentSummary_paymentSummary">
                                                    <dl>
                                                        <dt>결제방법</dt>
                                                        <dd>신용(체크)카드</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>카드번호</dt>
                                                        <dd>**** **** **** 2398</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>할부기간</dt>
                                                        <dd>일시불</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ReactModalPortal">
        <div id="modal1"
            class="ConfirmModal_overlay waffle__modal__overlay SatisfactionModal-module_overlay waffle__modal__overlay "
            style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal-module_confirmModal SatisfactionModal-module_container ConfirmModal-module_sizeFull ConfirmModal-module_contentAfterOpen"
                tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal-module_header" style="padding-left: 16px; padding-right: 16px;">
                    <div class="ConfirmModal-module_closeIconRoot"><button aria-label="모달 닫기"
                            class="Button-module_button Button-module_text Button-module_md clreviewbtn"
                            type="button"><span><span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        width="24" class="WithProps-module_icon" style="height: 24px; width: 24px;">
                                        <path
                                            d="M11.9998 11.1515L4.424 3.57565L3.57547 4.42418L11.1513 12L3.57549 19.5759L4.42401 20.4244L11.9998 12.8486L19.5757 20.4244L20.4242 19.5759L12.8484 12L20.4242 4.4242L19.5757 3.57567L11.9998 11.1515Z"
                                            fill="#495057"></path>
                                    </svg></span></span></button></div>
                    <div class="ConfirmModal-module_title">리뷰를 써 주세요</div>
                </div>
                <div class="ConfirmModal-module_content undefined" style="padding-left: 16px; padding-right: 16px;">
                    <div>
                        <div class="SatisfactionRating-module_area">
                            <div class="SatisfactionRating-module_ratingItem">
                                <p class="SatisfactionRating-module_title">만족도</p>
                                <p class="SatisfactionRating-module_ratingMessage">별점을 선택해 주세요</p>
                                <div class="SatisfactionRating-module_rating">
                                    <div class="Rating-module_container">
                                        <div class="Rating-module_starContainer"><button class="Rating-module_star"
                                                style="margin-left: 0px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-empty"></i></button></div>
                                        <div class="Rating-module_starContainer"><button class="Rating-module_star"
                                                style="margin-left: 8px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-quarter"></i></button></div>
                                        <div class="Rating-module_starContainer"><button class="Rating-module_star"
                                                style="margin-left: 8px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-half"></i></button></div>
                                        <div class="Rating-module_starContainer"><button class="Rating-module_star"
                                                style="margin-left: 8px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-three-quarters"></i></button></div>
                                        <div class="Rating-module_starContainer"><button class="Rating-module_star"
                                                style="margin-left: 8px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-full"></i></button></div>
                                    </div>
                                </div>
                            </div>
                            <hr
                                class="Divider-module_divider Divider-module_horizontal Divider-module_lightBG Divider-module_spacing1">
                        </div>
                    </div>
                    <div class="SatisfactionComment-module_container">
                        <h2 class="SatisfactionComment-module_title">상세 후기</h2>
                        <p class="SatisfactionComment-module_subTitle">이용해 보니 어떠셨나요? 좋았던 점이나 다시 찾는 이유를 알려주세요.
                            모두에게 도움이 될 거에요.</p><textarea maxlength="5000" placeholder="최소 10자 이상 작성해 주세요."
                            class="Textarea-module_textarea Textarea-module_md SatisfactionComment-module_textarea SatisfactionComment-module_textareaMobile"
                            aria-invalid="false"></textarea>
                        <div>
                            <div class="ImageUploader-module_container SatisfactionComment-module_imageUploader">
                                <input accept="image/png, image/jpeg, image/jpg" type="file" value=""
                                    style="display: none;">
                            </div>
                        </div>

                    </div>
                    <div color="basic"
                        class="MessageBox-module_messageBox MessageBox-module_basic MessageBox-module_vertical SatisfactionInfo-module_messageBox">
                        <div class="MessageBox-module_header"><svg viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg" class="WithProps-module_icon MessageBox-module_icon">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.40002 12C1.40002 6.14578 6.14581 1.39999 12 1.39999C17.8542 1.39999 22.6 6.14578 22.6 12C22.6 17.8542 17.8542 22.6 12 22.6C6.14581 22.6 1.40002 17.8542 1.40002 12ZM13 6.99997C13 6.44768 12.5523 5.99997 12 5.99997C11.4477 5.99997 11 6.44768 11 6.99997C11 7.55225 11.4477 7.99997 12 7.99997C12.5523 7.99997 13 7.55225 13 6.99997ZM11.4 9.99997V18H12.6L12.6 9.99997H11.4Z"
                                    fill="#495057"></path>
                            </svg>
                            <div class="MessageBox-module_title">게시물 이용 안내</div>
                        </div>
                        <div class="MessageBox-module_content">
                            <div class="MarkdownToHtml-module_container SatisfactionInfo-module_basicMsg">
                                <ul>
                                    <li>프로젝트와 무관한 글, 사진, 광고성, 욕설, 비방, 도배 등의 글은 예고 없이 삭제 등 조치가 취해질 수 있으며, 해당 내용으로 인해 메이커,
                                        서포터, 제3자에게 피해가 발생되지 않도록 유의하시기 바랍니다.</li>
                                    <li>서포터님의 연락처, 성명, 이메일 등의 소중한 개인정보는 절대 남기지 마세요.</li>
                                    <li>만족도를 쓰는 조건으로 부적절한 금전적 또는 물질적 대가를 제공 받는 경우 삭제, 제재 등의 조치가 취해질 수 있습니다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <footer class="SatisfactionFooter_footer"><button
                            class="Button_button Button_gray Button_tint Button_lg SatisfactionFooter_deleteButton"
                            type="button"><span><span>삭제하기</span></span></button><button
                            class="Button_button Button_mint Button_contained Button_lg SatisfactionFooter_updateButton"
                            type="button"><span><span>수정하기</span></span></button></footer>
                </div>
            </div>
        </div>
        <div id="modal2" class="ConfirmModal_overlay waffle__modal__overlay "
            style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal_confirmModal ConfirmModal_sizeMobile ConfirmModal_contentAfterOpen" tabindex="-1"
                role="dialog" aria-modal="true">
                <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_title">작성한 내용을 삭제할까요?</div>
                </div>
                <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_message_">삭제 후 재등록이 불가능해요.</div>
                </div>
                <div class="ConfirmModal_footer" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_buttonGroup"><button
                            class="Button_button Button_text Button_lg ConfirmModal_negativeButton"
                            type="button"><span><span>취소</span></span></button><button
                            class="Button_button Button_red Button_text Button_lg"
                            type="button"><span><span>삭제</span></span></button></div>
                </div>
            </div>
        </div>
        <div id="modal3" class="ConfirmModal_overlay waffle__modal__overlay " style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal_confirmModal ConfirmModal_sizeMobile ConfirmModal_contentAfterOpen"
                tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_title">작성한 내용으로 수정할까요?</div>
                </div>
                <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_message"></div>
                </div>
                <div class="ConfirmModal_footer" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_buttonGroup"><button
                            class="Button_button Button_text Button_lg ConfirmModal_negativeButton"
                            type="button"><span><span>취소</span></span></button><button
                            class="Button_button Button_mint Button_text Button_lg"
                            type="button"><span><span>확인</span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/paymentHistory/paymentdetailed.js"></script>

</html>