<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 내역</title>
    <link rel="stylesheet" href="/css/paymentHistroy/paymentHistroy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />


</head>

<body>
    <div id="root">
        <header class="Header-module_container Header-module_sticky">
            <div class="Header-module_content">
                <div class="Header-module_left"><button class="StyledComponent-module_container"
                        aria-label="뒤로 가기" type="button"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            width="24" class="WithProps-module_icon" style="height: 24px; width: 24px;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.0757 2.57573L16.9243 3.42426L8.34851 12L16.9243 20.5757L16.0757 21.4243L6.65146 12L16.0757 2.57573Z"
                                fill="#495057"></path>
                        </svg></button></div>
                <div class="Header-module_center" style="max-width: calc(-240px + 100vw);">
                    <h1 class="StyledComponent_container Title_container Title_center">나의 결제내역</h1>
                </div>
                <div class="Header-module_right"><a class="StyledComponent-module_container"
                        aria-label="홈으로 가기" href="/web/main"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            width="24" class="WithProps-module_icon" style="height: 24px; width: 24px;">
                            <path
                                d="M21.6 7.67893L12 1.27893L2.40002 7.67893V21H3.60002V8.32115L12 2.72115L20.4 8.32115V21H21.6V7.67893Z"
                                fill="#495057"></path>
                            <path d="M15.6 21V12.4H8.40002V21H9.60002V13.6H14.4V21H15.6Z" fill="#495057"></path>
                        </svg></a></div>
            </div>
        </header>
        <main>
            <section class="MyFundingListContainer-module_container">
                <div>
                    <div>
                        <ul class="MyFundingList-module_myFundingList">
                            <li class="MyFundingList-module_listItem"><a
                                    href="http://127.0.0.1:5500/templates/paymentHistory/paymentdetailed.html">
                                    <dl class="MyFundingListItem-module_fundingCard">
                                        <dt><em>구매</em><em>2023년 1월 31일 오후 5:30</em></dt>
                                        <dd>
                                            <p class=""><span class="LabelBadge-module_container"></span></p>
                                            <p class="MyFundingListItem-module_title">청량리역 00에 판매</p>
                                            <p class="MyFundingListItem-module_maker"> 올데이온()</p>
                                        </dd>
                                        <p class="MyFundingListItem-module_fundingInfo"><span
                                                class="MyFundingListItem-module_statusText">결제 완료</span><span
                                                class="MyFundingListItem-module_detailLink"></p>
                                    </dl>
                                </a>
                                <hr
                                    class="Divider-module_divider Divider-module_horizontal Divider-module_lightBG Divider-module_spacing5">
                                <div class="MyFundingListItem-module_satisfactionArea">
                                    <p>만족도 쓰고 사진 올리면 500P</p><button
                                        class="Button-module_button Button-module_mint Button-module_sm opreviewbtn"
                                        type="button"><span><span>리뷰 쓰기</span></span></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="MyFundingList-module_myFundingList">
                    <li class="MyFundingList-module_listItem"><a href="/web/wmypage/myfunding/purchase/9674962">
                            <dl class="MyFundingListItem-module_fundingCard">
                                <dt><em>구매</em><em>2023년 1월 31일 오후 5:30</em></dt>
                                <dd>
                                    <p class=""><span class="LabelBadge-module_container"></span></p>
                                    <p class="MyFundingListItem-module_title">알맞게 익은 맛있는 크기로 준비했어요! 새콤 달콤함이 한가득,
                                        승민</p>
                                    <p class="MyFundingListItem-module_maker">이승민</p>
                                </dd>
                                <p class="MyFundingListItem-module_fundingInfo"><span
                                        class="MyFundingListItem-module_statusText">결제 완료</span></p>
                            </dl>
                        </a>
                        <hr
                            class="Divider-module_divider Divider-module_horizontal Divider-module_lightBG Divider-module_spacing5">
                        <div class="MyFundingListItem-module_satisfactionArea">
                            <p>만족도 쓰고 사진 올리면 500P</p><button
                                class="Button-module_button Button-module_mint Button-module_sm opreviewbtn"
                                type="button"><span><span>리뷰 쓰기</span></span></button>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
        <div class="FabContainer-module_container"><button aria-label="scroll to top"
                class="ScrollToTopButton-module_container" type="button"><svg viewBox="0 0 24 24" fill="#fff"
                    xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps-module_icon"
                    style="color: rgb(255, 255, 255); height: 24px; width: 24px;">
                    <path d="M4 5.40002H20V6.60003L4 6.60002V5.40002Z" fill="#495057"></path>
                    <path
                        d="M5.42421 18.4243L4.57568 17.5758L11.9999 10.1515L19.4242 17.5758L18.5757 18.4243L11.9999 11.8485L5.42421 18.4243Z"
                        fill="#495057"></path>
                </svg></button>
        </div>
    </div>
    <div class="ReactModalPortal">
        <div id="modal1"
            class="ConfirmModal_overlay waffle__modal__overlay SatisfactionModal-module_overlay waffle__modal__overlay "
            style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal-module_confirmModal SatisfactionModal-module_container ConfirmModal-module_sizeFull ConfirmModal-module_contentAfterOpen"
                tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal-module_header" style="padding-left: 16px; padding-right: 16px;">
                    <div class="ConfirmModal-module_closeIconRoot"><button aria-label="모달 닫기"
                            class="Button-module_button Button-module_text Button-module_md clreviewbtn"
                            type="button"><span><span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        width="24" class="WithProps-module_icon"
                                        style="height: 24px; width: 24px;">
                                        <path
                                            d="M11.9998 11.1515L4.424 3.57565L3.57547 4.42418L11.1513 12L3.57549 19.5759L4.42401 20.4244L11.9998 12.8486L19.5757 20.4244L20.4242 19.5759L12.8484 12L20.4242 4.4242L19.5757 3.57567L11.9998 11.1515Z"
                                            fill="#495057"></path>
                                    </svg></span></span></button></div>
                    <div class="ConfirmModal-module_title">리뷰를 써 주세요</div>
                </div>
                <div class="ConfirmModal-module_content undefined"
                    style="padding-left: 16px; padding-right: 16px;">
                    <div>
                        <div class="SatisfactionRating-module_area">
                            <div class="SatisfactionRating-module_ratingItem">
                                <p class="SatisfactionRating-module_title">만족도</p>
                                <p class="SatisfactionRating-module_ratingMessage">별점을 선택해 주세요</p>
                                <div class="SatisfactionRating-module_rating">
                                    <div class="Rating-module_container">
                                        <div class="Rating-module_starContainer"><button
                                                class="Rating-module_star"
                                                style="margin-left: 0px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-empty"></i></button></div>
                                        <div class="Rating-module_starContainer"><button
                                                class="Rating-module_star"
                                                style="margin-left: 8px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-quarter"></i></button></div>
                                        <div class="Rating-module_starContainer"><button
                                                class="Rating-module_star"
                                                style="margin-left: 8px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-half"></i></button></div>
                                        <div class="Rating-module_starContainer"><button
                                                class="Rating-module_star"
                                                style="margin-left: 8px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-three-quarters"></i></button></div>
                                        <div class="Rating-module_starContainer"><button
                                                class="Rating-module_star"
                                                style="margin-left: 8px; width: 40px; height: 40px; font-size: 40px; color: rgb(233, 236, 239);"><i
                                                    class="fa-solid fa-battery-full"></i></button></div>
                                    </div>
                                </div>
                            </div>
                            <hr
                                class="Divider-module_divider Divider-module_horizontal Divider-module_lightBG Divider-module_spacing1">
                        </div>
                    </div>
                    <div class="SatisfactionComment-module_container">
                        <h2 class="SatisfactionComment-module_title">상세 후기</h2>
                        <p class="SatisfactionComment-module_subTitle">이용해 보니 어떠셨나요? 좋았던 점이나 다시 찾는 이유를 알려주세요.
                            모두에게 도움이 될 거에요.</p><textarea maxlength="5000" placeholder="최소 10자 이상 작성해 주세요."
                            class="Textarea-module_textarea Textarea-module_md SatisfactionComment-module_textarea SatisfactionComment-module_textareaMobile"
                            aria-invalid="false"></textarea>
                        <div>
                            <div
                                class="ImageUploader-module_container SatisfactionComment-module_imageUploader">
                                <div class="ImageUploader-module_contentWrap">
                                    <div class="ImageUploader-module_button"><svg viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg" width="24"
                                            class="WithProps-module_icon ImageUploader-module_addIcon"
                                            style="height: 24px; width: 24px;">
                                            <path
                                                d="M8.60002 13C8.60002 11.1222 10.1223 9.59999 12 9.59999C13.8778 9.59999 15.4 11.1222 15.4 13C15.4 14.8778 13.8778 16.4 12 16.4C10.1223 16.4 8.60002 14.8778 8.60002 13Z"
                                                fill="#495057"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.219 3.39999H14.781L17.281 6.39999H22.6V20.6H1.40002V6.39999H6.719L9.219 3.39999ZM12 8.39999C9.45951 8.39999 7.40002 10.4595 7.40002 13C7.40002 15.5405 9.45951 17.6 12 17.6C14.5405 17.6 16.6 15.5405 16.6 13C16.6 10.4595 14.5405 8.39999 12 8.39999Z"
                                                fill="#495057"></path>
                                        </svg><span>0/5</span></div>
                                    <div class="ImageUploader-module_imageContainer"
                                        style="transform: translateX(0px);"></div>
                                </div><input accept="image/png, image/jpeg, image/jpg" type="file" value=""
                                    style="display: none;">
                            </div>
                        </div>
                        <div class="SatisfactionComment-module_lengthLabel">0 / 최소 10자 이상</div>
                    </div>
                    <div color="basic"
                        class="MessageBox-module_messageBox MessageBox-module_basic MessageBox-module_vertical SatisfactionInfo-module_messageBox">
                        <div class="MessageBox-module_header"><svg viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                                class="WithProps-module_icon MessageBox-module_icon">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.40002 12C1.40002 6.14578 6.14581 1.39999 12 1.39999C17.8542 1.39999 22.6 6.14578 22.6 12C22.6 17.8542 17.8542 22.6 12 22.6C6.14581 22.6 1.40002 17.8542 1.40002 12ZM13 6.99997C13 6.44768 12.5523 5.99997 12 5.99997C11.4477 5.99997 11 6.44768 11 6.99997C11 7.55225 11.4477 7.99997 12 7.99997C12.5523 7.99997 13 7.55225 13 6.99997ZM11.4 9.99997V18H12.6L12.6 9.99997H11.4Z"
                                    fill="#495057"></path>
                            </svg>
                            <div class="MessageBox-module_title">게시물 이용 안내</div>
                        </div>
                        <div class="MessageBox-module_content">
                            <div class="MarkdownToHtml-module_container SatisfactionInfo-module_basicMsg">
                                <ul>
                                    <li>무관한 글, 사진, 광고성, 욕설, 비방, 도배 등의 글은 예고 없이 삭제 등 조치가 취해질 수 있으며, 해당 내용으로 인해 메이커,
                                        서포터, 제3자에게 피해가 발생되지 않도록 유의하시기 바랍니다.</li>
                                    <li>서포터님의 연락처, 성명, 이메일 등의 소중한 개인정보는 절대 남기지 마세요.</li>
                                    <li>만족도를 쓰는 조건으로 부적절한 금전적 또는 물질적 대가를 제공 받는 경우 삭제, 제재 등의 조치가 취해질 수 있습니다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <footer class="SatisfactionFooter-module_footer"><button
                            class="Button-module_button Button-module_mint Button-module_contained Button-module_lg Button-module_disabled Submitbutton"
                            disabled="" type="button"><span><span>등록하기</span></span></button></footer>
                </div>
            </div>
        </div>
        <div id="modal2" class="ConfirmModal_overlay waffle__modal__overlay "
            style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal-module_confirmModal ConfirmModal-module_sizeMobile__dbfcd ConfirmModal-module_contentAfterOpen"
                tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal-module_header SatisfactionModal-module_alertTitle"
                    style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal-module_title">작성 중인 글이 있어요.
                        그래도 나가시겠어요?</div>
                </div>
                <div class="ConfirmModal-module_content undefined"
                    style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal-module_message"></div>
                </div>
                <div class="ConfirmModal-module_footer" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal-module_buttonGroup"><button
                            class="Button-module_button Button-module_text Button-module_lg ConfirmModal-module_negativeButton"
                            type="button"><span><span>취소</span></span></button><button
                            class="Button-module_button Button-module_mint Button-module_text Button-module_lg okbtn"
                            type="button"><span><span>확인</span></span></button></div>
                </div>
            </div>
        </div>
        <!-- <div id="modal3" class="ConfirmModal_overlay waffle__modal__overlay "
            style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal-module_confirmModal ImageEditorModal-module_modal ConfirmModal-module_sizeFull ConfirmModal-module_contentAfterOpen"
                tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal-module_header ImageEditorModal-module_header"
                    style="padding-left: 16px; padding-right: 16px;">
                    <div class="ConfirmModal-module_closeIconRoot"><button aria-label="모달 닫기"
                            class="Button-module_button Button-module_text Button-module_md clreviewbtns"
                            type="button"><span><span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        width="24" class="WithProps-module_icon"
                                        style="height: 24px; width: 24px;">
                                        <path
                                            d="M11.9998 11.1515L4.424 3.57565L3.57547 4.42418L11.1513 12L3.57549 19.5759L4.42401 20.4244L11.9998 12.8486L19.5757 20.4244L20.4242 19.5759L12.8484 12L20.4242 4.4242L19.5757 3.57567L11.9998 11.1515Z"
                                            fill="#495057"></path>
                                    </svg></span></span></button></div>
                    <div class="ConfirmModal-module_title">이미지 편집</div>
                </div>
                <div class="ConfirmModal-module_content undefined ConfirmModal-module_fullHeight"
                    style="padding-left: 16px; padding-right: 16px;">
                    <div class="ImageEditor-module_container ImageEditorModal-module_container">
                        <div class="ImageEditor-module_root">
                            <div class="ImageEditor-module_contentsBg">
                                <div class="ImageEditor-module_contentsWrap">
                                    <div class="ImageEditor-module_contents"></div>
                                </div>
                            </div>
                            <div class="CropEditor-module_root">
                                <div class="CropEditor-module_contentsBg">
                                    <div class="CropEditor-module_contentsWrap">
                                        <div class="CropEditor-module_contents">
                                            <div class="ClipImage-module_container"
                                                style="width: 382px; height: 382px;">
                                                <img alt=""
                                                    class="ClipImage-module_image ClipImage-module_clip"
                                                    style="clip: rect(47.75px, 382px, 334.25px, 0px);">
                                            </div>
                                            <div class="CropEditor-module_editor"
                                                style="width: 382px; height: 382px;">
                                                <div
                                                    style="left: 0px; top: 47.75px; width: 382px; height: 286.5px; position: absolute;">
                                                    <div class="ChangeBoundsHandle-module_move">
                                                        <div class="ChangeBoundsHandle-module_inner"></div>
                                                    </div>
                                                    <div
                                                        class="ChangeBoundsHandle-module_resize ChangeBoundsHandle-module_topLeft">
                                                        <div class="ChangeBoundsHandle-module_inner"></div>
                                                    </div>
                                                    <div
                                                        class="ChangeBoundsHandle-module_resize ChangeBoundsHandle-module_topRight">
                                                        <div class="ChangeBoundsHandle-module_inner"></div>
                                                    </div>
                                                    <div
                                                        class="ChangeBoundsHandle-module_resize ChangeBoundsHandle-module_bottomLeft">
                                                        <div class="ChangeBoundsHandle-module_inner"></div>
                                                    </div>
                                                    <div
                                                        class="ChangeBoundsHandle-module_resize ChangeBoundsHandle-module_bottomRight">
                                                        <div class="ChangeBoundsHandle-module_inner"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="CropEditor-module_buttons"><button
                                        class="Button-module_button Button-module_mint Button-module_contained Button-module_lg"
                                        type="button"><span><span>확인</span></span></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div id="modal4" class="ConfirmModal_overlay waffle__modal__overlay "
            style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal-module_confirmModal ConfirmModal-module_sizeMobile__dbfcd ConfirmModal-module_contentAfterOpen"
                tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal-module_header" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal-module_title">작성한 내용을 등록하시겠어요?</div>
                </div>
                <div class="ConfirmModal-module_content undefined"
                    style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal-module_message"></div>
                </div>
                <div class="ConfirmModal-module_footer" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal-module_buttonGroup"><button
                            class="Button-module_button Button-module_text Button-module_lg ConfirmModal-module_negativeButton closebtn"
                            type="button"><span><span>취소</span></span></button><button
                            class="Button-module_button Button-module_mint Button-module_text Button-module_lg submitbtn"
                            type="button"><span><span>확인</span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/paymentHistory/paymentHistroy.js"></script>

</html>