<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>
    <link rel="stylesheet" href="/static/css/postlist/postlist.css">
</head>

<body>
    <div id="main-app" class="page-wrapper">
        <header class="Header_container Header_sticky">
            <div class="Header_content">
                <div class="Header_left">
                    <button class="StyledComponent_container" aria-label="뒤로 가기" type="button"><svg viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon"
                            style="height: 24px; width: 24px;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z"
                                fill="#495057">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="Header_center" style="max-width: calc(-240px + 100vw);"></div>
                <div class="Header_right">
                    <a class="StyledComponent_container" aria-label="홈으로 가기" href="/web/main"><svg viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon"
                            style="height: 24px; width: 24px;">
                            <path d="M21.6 7.679l-9.6-6.4-9.6 6.4V21h1.2V8.321l8.4-5.6 8.4 5.6V21h1.2V7.679z"
                                fill="#495057"></path>
                            <path d="M15.6 21v-8.6H8.4V21h1.2v-7.4h4.8V21h1.2z" fill="#495057"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </header>
        <main>
            <div data-render-id="1769480157644">
                <div class="RewardDetailCommonPanel_container-">
                    <div class="RewardDetailCommonPanel_content">
                        <div class="RewardDetailCommonPanel_left">
                            <div class="RewardNewsList_rewardNewsListContainer">
                                <div class="NewsListHeader_newsListHeaderContainer">
                                    <h2 class="NewsListHeader_newsListTitleContainer">게시글<span
                                            class="NewsListHeader_count">7</span>
                                    </h2>
                                    <div class="NewsListHeader_newsListSelectContainer-">
                                        <label class="SelectBoxLabel_selectBoxLabelContainer">
                                            <select class="NewsListHeader_newsListSelectBox NewsListHeader_option-r">
                                                <option class="NewsListHeader_newsListOption" value="">전체
                                                </option>
                                                <option class="NewsListHeader_newsListOption" value="P">구매
                                                </option>
                                                <option class="NewsListHeader_newsListOption" value="A">판매
                                                </option>
                                            </select><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                width="14" class="WithProps_icon SelectBoxLabel_electBoxLabelIcon"
                                                style="height: 14px; width: 14px;">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                                    fill="#495057"></path>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="RecentViewContents_content">
                    <div class="RecentViewContents_contentHeader">
                        <div class="RecentViewContents_controlPanel">
                            <p>전체 <span class="RecentViewContents_bold">4</span>개</p><button data-ga-category="나의활동_최근본"
                                data-ga-action="클릭" data-ga-label="편집" class="RecentViewContents_editButton openbutton"
                                style="visibility: visible;"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    class="WithProps_icon">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12 8.4a3.6 3.6 0 100 7.2 3.6 3.6 0 000-7.2zM9.6 12a2.4 2.4 0 114.8 0 2.4 2.4 0 01-4.8 0z"
                                        fill="#495057"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M14.53 1.4H9.47l-.31 2.48a8.591 8.591 0 00-2.77 1.602l-2.305-.973-2.53 4.382L3.55 10.4a8.643 8.643 0 000 3.2l-1.994 1.51 2.53 4.38 2.305-.972a8.59 8.59 0 002.77 1.602l.31 2.48h5.06l.31-2.48a8.59 8.59 0 002.77-1.602l2.305.973 2.53-4.382L20.45 13.6a8.643 8.643 0 000-3.2l1.994-1.51-2.53-4.38-2.305.972a8.593 8.593 0 00-2.77-1.602l-.31-2.48zm-4.275 3.396L10.53 2.6h2.94l.275 2.196.375.112c1.12.334 2.13.928 2.96 1.711l.285.269 2.04-.861 1.47 2.546-1.764 1.336.09.38a7.426 7.426 0 010 3.422l-.09.38 1.765 1.336-1.47 2.546-2.041-.86-.285.268a7.39 7.39 0 01-2.96 1.711l-.375.112-.275 2.196h-2.94l-.275-2.196-.375-.112a7.391 7.391 0 01-2.96-1.711l-.284-.269-2.041.861-1.47-2.546 1.764-1.336-.09-.38a7.422 7.422 0 010-3.421l.09-.381-1.765-1.336 1.47-2.546 2.042.86.284-.268a7.392 7.392 0 012.96-1.711l.375-.112z"
                                        fill="#495057"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="RecentViewContents_controlPanel RecentViewContents_absolute opbt"
                            style="display: none;">
                            <div class="RecentViewContents_flex">
                                <button type="button" class="RecentViewContents_icon" data-ga-category="최근본_프로젝트_편집모드"
                                    data-ga-action="클릭" data-ga-label="전체선택" aria-label="전체선택">
                                    <div class="RecentViewContents_iconBg" aria-hidden="true"></div>
                                </button>
                                <p><span class="RecentViewContents_bold">0</span>개 선택</p>
                            </div>
                            <div class="RecentViewContents_buttons">
                                <button data-ga-category="최근본_프로젝트_편집모드" data-ga-action="클릭" data-ga-label="삭제"
                                    aria-label="최근본 프로젝트 삭제"
                                    class="Button_button Button_text Button_sm Button_disabled__dTtjo RecentViewContents_gaElement deleteButton"
                                    type="button" disabled=""><span><span>삭제</span></span>
                                </button>
                                <button data-ga-category="최근본_프로젝트_편집모드" data-ga-action="클릭" data-ga-label="취소"
                                    aria-label="최근본 프로젝트 편집 취소"
                                    class="Button_button Button_text Button_sm RecentViewContents_gaElement closebutton"
                                    type="button"><span><span>취소</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="RecentViewContents_list">
                        <div class="TableLayout_container"
                            style="grid-template-columns: repeat(1, calc(100% + 0px)); gap: 16px 24px;">
                            <div class="Card_container">
                                <a class="Card_content Card_horizontal project-card" href="/web/campaign/detail/387840"
                                    data-ec-brand="어라운드엑스" data-ec-category="B0850" data-ec-contenttype="PREORDER"
                                    data-ec-id="387840" data-ec-is-super-maker="true" data-ec-list="나의활동_최근본_상품카드_펀딩"
                                    data-ec-name="[3억 펀딩] 뉴 업그레이드 히릿! 특수소재로 오줌냄새 발도장 걱정 끝!" data-ec-position="0"
                                    data-ec-signature-discount-rate="0" data-ec-has-coupon="true"
                                    data-ec-is-global-shipping="false" data-ec-is-delivery="true"
                                    data-gtm-vis-recent-on-screen11319722_2115="41708"
                                    data-gtm-vis-first-on-screen11319722_2115="41708"
                                    data-gtm-vis-total-visible-time11319722_2115="1000"
                                    data-gtm-vis-recent-on-screen11319722_2339="41708"
                                    data-gtm-vis-first-on-screen11319722_2339="41708"
                                    data-gtm-vis-total-visible-time11319722_2339="1000"
                                    data-gtm-vis-recent-on-screen11319722_2370="41708"
                                    data-gtm-vis-first-on-screen11319722_2370="41708"
                                    data-gtm-vis-total-visible-time11319722_2370="1000"
                                    data-gtm-vis-has-fired11319722_2115="1" data-gtm-vis-has-fired11319722_2339="1"
                                    data-gtm-vis-has-fired11319722_2370="1">
                                    <div class="ThumbnailImage_container ThumbnailImage_round__yMcfs"
                                        style="height: 96px;">
                                        <img alt="[3억 펀딩] 뉴 업그레이드 히릿! 특수소재로 오줌냄새 발도장 걱정 끝!"
                                            class="ThumbnailImage_image ThumbnailImage_isLoaded" loading="lazy"
                                            src="https://cdn3.wadiz.kr/studio/images/2026/01/07/05f33fed-74e6-4e3f-8a98-fe5b61f02a7a.jpeg/wadiz/resize/400/format/jpg/quality/85/">
                                    </div>
                                    <div class="Content_container">
                                        <div class="Title_container__VQHHq"
                                            style="-webkit-line-clamp: 2; min-height: 3em;">[3억 펀딩] 뉴 업그레이드 히릿! 특수소재로
                                            오줌냄새 발도장 걱정 끝!</div>
                                        <div class="Maker_container">
                                            <span class="Maker_name">어라운드엑스</span>
                                            <img alt="" aria-hidden="true" class="Maker_badge"
                                                src="https://cdn4.wadiz.kr/main/supermaker-ko.png">
                                        </div>
                                        <div class="KeyTitle_container KeyTitle_mint_rz KeyTitle_sm">
                                            10,314% 달성</div>
                                        <div class="BadgeGroup_container"><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_gray LabelBadge_tint BadgeGroup_badge">5,157만
                                                    원+</span></span><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_gray LabelBadge_tint BadgeGroup_badge">12일
                                                    남음</span></span><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_blue LabelBadge_tint BadgeGroup_badge"><svg
                                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                        class="WithProps_icon"
                                                        style="display: inline-block; margin-right: 2px; vertical-align: middle;">
                                                        <path
                                                            d="M9.5 9.1a.4.4 0 100 .8.4.4 0 000-.8zM14.5 14.1a.4.4 0 100 .8.4.4 0 000-.8z"
                                                            fill="#495057"></path>
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M3 4.4A1.6 1.6 0 001.4 6v4.6H2a1.4 1.4 0 110 2.8h-.6V18A1.6 1.6 0 003 19.6h18a1.6 1.6 0 001.6-1.6v-4.6H22a1.4 1.4 0 110-2.8h.6V6A1.6 1.6 0 0021 4.4H3zm4.9 5.1a1.6 1.6 0 113.2 0 1.6 1.6 0 01-3.2 0zm5 5a1.6 1.6 0 113.2 0 1.6 1.6 0 01-3.2 0zm2.176-6.424l-7 7 .848.848 7-7-.848-.848z"
                                                            fill="#495057"></path>
                                                    </svg>쿠폰</span></span></div>
                                    </div>
                                </a>
                                <div class="Card_overlay">
                                    <button type="button" class="RecentEditCard_content"
                                        data-ga-category="최근본_프로젝트_편집모드" data-ga-action="클릭" data-ga-label="개별선택"
                                        aria-label="개별선택">
                                        <div class="RecentEditCard_thumbnail ">
                                            <div class="RecentEditCard_mask"></div>
                                            <div class="RecentEditCard_icon">
                                                <div class="RecentEditCard_iconBg" aria-hidden="true"></div>
                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                    aria-hidden="true" class="WithProps_icon__2zN1K">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12 1.4C6.146 1.4 1.4 6.146 1.4 12c0 5.854 4.746 10.6 10.6 10.6 5.854 0 10.6-4.746 10.6-10.6 0-5.854-4.746-10.6-10.6-10.6zm-1.5 15.84l8.495-8.495-.99-.99L10.5 15.26l-3.505-3.505-.99.99L10.5 17.24z"
                                                        fill="#495057"></path>
                                                </svg>
                                            </div>
                                            <div></div>
                                    </button>
                                </div>
                            </div>
                            <div class="Card_container"><a class="Card_content Card_horizontal project-card"
                                    href="/web/campaign/detail/379401" data-ec-brand="Soundok" data-ec-category="B0110"
                                    data-ec-contenttype="PREORDER" data-ec-id="379401" data-ec-is-super-maker="false"
                                    data-ec-list="나의활동_최근본_상품카드_펀딩"
                                    data-ec-name="나의 플레이리스트를 태깅 한 번으로 공유할 수 있는, 음악플리 NFC키링" data-ec-position="1"
                                    data-ec-signature-discount-rate="0" data-ec-has-coupon="false"
                                    data-ec-is-global-shipping="false" data-ec-is-delivery="true"
                                    data-gtm-vis-recent-on-screen11319722_2115="41708"
                                    data-gtm-vis-first-on-screen11319722_2115="41708"
                                    data-gtm-vis-total-visible-time11319722_2115="1000"
                                    data-gtm-vis-recent-on-screen11319722_2339="41708"
                                    data-gtm-vis-first-on-screen11319722_2339="41708"
                                    data-gtm-vis-total-visible-time11319722_2339="1000"
                                    data-gtm-vis-recent-on-screen11319722_2370="41708"
                                    data-gtm-vis-first-on-screen11319722_2370="41708"
                                    data-gtm-vis-total-visible-time11319722_2370="1000"
                                    data-gtm-vis-has-fired11319722_2115="1" data-gtm-vis-has-fired11319722_2339="1"
                                    data-gtm-vis-has-fired11319722_2370="1">
                                    <div class="ThumbnailImage_container ThumbnailImage_round__yMcfs"
                                        style="height: 96px;"><img alt="나의 플레이리스트를 태깅 한 번으로 공유할 수 있는, 음악플리 NFC키링"
                                            class="ThumbnailImage_image ThumbnailImage_isLoaded" loading="lazy"
                                            src="https://cdn3.wadiz.kr/studio/images/2025/10/27/48257c77-b0b4-4c85-ab13-c0101d1d0440.jpeg/wadiz/resize/400/format/jpg/quality/85/">
                                        <div class="ThumbnailImage_overlay__PwkuO">
                                        </div>
                                    </div>
                                    <div class="Content_container">
                                        <div class="Title_container__VQHHq"
                                            style="-webkit-line-clamp: 2; min-height: 3em;">나의 플레이리스트를 태깅 한 번으로 공유할
                                            수
                                            있는, 음악플리 NFC키링</div>
                                        <div class="Maker_container"><span class="Maker_name">Soundok</span></div>
                                        <div class="KeyTitle_container KeyTitle_mint_rz KeyTitle_sm">
                                            279% 달성</div>
                                        <div class="BadgeGroup_container"><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_gray LabelBadge_tint BadgeGroup_badge">139만
                                                    원+</span></span><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_gray LabelBadge_tint BadgeGroup_badge">15일
                                                    남음</span></span></div>
                                    </div>
                                </a>
                                <div class="Card_overlay"><button type="button" class="RecentEditCard_content"
                                        data-ga-category="최근본_프로젝트_편집모드" data-ga-action="클릭" data-ga-label="개별선택"
                                        aria-label="개별선택">
                                        <div class="RecentEditCard_thumbnail">
                                            <div class="RecentEditCard_mask"></div>
                                            <div class="RecentEditCard_icon">
                                                <div class="RecentEditCard_iconBg" aria-hidden="true"></div>
                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                    aria-hidden="true" class="WithProps_icon__2zN1K">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12 1.4C6.146 1.4 1.4 6.146 1.4 12c0 5.854 4.746 10.6 10.6 10.6 5.854 0 10.6-4.746 10.6-10.6 0-5.854-4.746-10.6-10.6-10.6zm-1.5 15.84l8.495-8.495-.99-.99L10.5 15.26l-3.505-3.505-.99.99L10.5 17.24z"
                                                        fill="#495057"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div></div>
                                    </button>
                                </div>
                            </div>
                            <div class="Card_container"><a class="Card_content Card_horizontal project-card"
                                    href="/web/campaign/detail/385538" data-ec-brand="시안인터내셔널 " data-ec-category="B0030"
                                    data-ec-contenttype="REWARD" data-ec-id="385538" data-ec-is-super-maker="false"
                                    data-ec-list="나의활동_최근본_상품카드_펀딩"
                                    data-ec-name="새해 첫 정착템!지갑형 스탠드형 올인원 보조배터리 l VEGER X5" data-ec-position="2"
                                    data-ec-signature-discount-rate="0" data-ec-has-coupon="true"
                                    data-ec-is-global-shipping="false" data-ec-is-delivery="true"
                                    data-gtm-vis-recent-on-screen11319722_2115="41768"
                                    data-gtm-vis-first-on-screen11319722_2115="41768"
                                    data-gtm-vis-total-visible-time11319722_2115="1000"
                                    data-gtm-vis-recent-on-screen11319722_2370="41768"
                                    data-gtm-vis-first-on-screen11319722_2370="41768"
                                    data-gtm-vis-total-visible-time11319722_2370="1000"
                                    data-gtm-vis-recent-on-screen11319722_2339="41768"
                                    data-gtm-vis-first-on-screen11319722_2339="41768"
                                    data-gtm-vis-total-visible-time11319722_2339="1000"
                                    data-gtm-vis-has-fired11319722_2115="1" data-gtm-vis-has-fired11319722_2370="1"
                                    data-gtm-vis-has-fired11319722_2339="1">
                                    <div class="ThumbnailImage_container ThumbnailImage_round__yMcfs"
                                        style="height: 96px;"><img alt="새해 첫 정착템!지갑형 스탠드형 올인원 보조배터리 l VEGER X5"
                                            class="ThumbnailImage_image ThumbnailImage_isLoaded" loading="lazy"
                                            src="https://cdn3.wadiz.kr/studio/images/2025/12/18/52c8a15b-6d91-4166-8c29-75ac1fc625b4.jpeg/wadiz/resize/400/format/jpg/quality/85/">
                                        <div class="ThumbnailImage_overlay__PwkuO">
                                        </div>
                                    </div>
                                    <div class="Content_container">
                                        <div class="Title_container__VQHHq"
                                            style="-webkit-line-clamp: 2; min-height: 3em;">새해 첫 정착템!지갑형 스탠드형
                                            올인원
                                            보조배터리
                                            l VEGER X5</div>
                                        <div class="Maker_container"><span class="Maker_name">시안인터내셔널
                                            </span></div>
                                        <div class="KeyTitle_container KeyTitle_mint_rz KeyTitle_sm">
                                            622% 달성</div>
                                        <div class="BadgeGroup_container"><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_gray LabelBadge_tint BadgeGroup_badge">622만
                                                    원+</span></span><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_gray LabelBadge_tint BadgeGroup_badge">6일
                                                    남음</span></span><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_blue LabelBadge_tint BadgeGroup_badge"><svg
                                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                        class="WithProps_icon"
                                                        style="display: inline-block; margin-right: 2px; vertical-align: middle;">
                                                        <path
                                                            d="M9.5 9.1a.4.4 0 100 .8.4.4 0 000-.8zM14.5 14.1a.4.4 0 100 .8.4.4 0 000-.8z"
                                                            fill="#495057"></path>
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M3 4.4A1.6 1.6 0 001.4 6v4.6H2a1.4 1.4 0 110 2.8h-.6V18A1.6 1.6 0 003 19.6h18a1.6 1.6 0 001.6-1.6v-4.6H22a1.4 1.4 0 110-2.8h.6V6A1.6 1.6 0 0021 4.4H3zm4.9 5.1a1.6 1.6 0 113.2 0 1.6 1.6 0 01-3.2 0zm5 5a1.6 1.6 0 113.2 0 1.6 1.6 0 01-3.2 0zm2.176-6.424l-7 7 .848.848 7-7-.848-.848z"
                                                            fill="#495057"></path>
                                                    </svg>쿠폰</span></span></div>
                                    </div>
                                </a>
                                <div class="Card_overlay"><button type="button" class="RecentEditCard_content"
                                        data-ga-category="최근본_프로젝트_편집모드" data-ga-action="클릭" data-ga-label="개별선택"
                                        aria-label="개별선택">
                                        <div class="RecentEditCard_thumbnail">
                                            <div class="RecentEditCard_mask"></div>
                                            <div class="RecentEditCard_icon">
                                                <div class="RecentEditCard_iconBg" aria-hidden="true"></div>
                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                    aria-hidden="true" class="WithProps_icon__2zN1K">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12 1.4C6.146 1.4 1.4 6.146 1.4 12c0 5.854 4.746 10.6 10.6 10.6 5.854 0 10.6-4.746 10.6-10.6 0-5.854-4.746-10.6-10.6-10.6zm-1.5 15.84l8.495-8.495-.99-.99L10.5 15.26l-3.505-3.505-.99.99L10.5 17.24z"
                                                        fill="#495057"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div></div>
                                    </button>
                                </div>
                            </div>
                            <div class="Card_container"><a class="Card_content Card_horizontal project-card"
                                    href="/web/campaign/detail/385912" data-ec-brand="주식회사 지엠" data-ec-category="B0050"
                                    data-ec-contenttype="PREORDER" data-ec-id="385912" data-ec-is-super-maker="false"
                                    data-ec-list="나의활동_최근본_상품카드_펀딩" data-ec-name="이렇게 작은데 웹캠·펫캠·브이로그까지 | 도파밍 미니 키링 카메라"
                                    data-ec-position="3" data-ec-signature-discount-rate="0" data-ec-has-coupon="true"
                                    data-ec-is-global-shipping="false" data-ec-is-delivery="true"
                                    data-gtm-vis-recent-on-screen11319722_2115="41804"
                                    data-gtm-vis-first-on-screen11319722_2115="41804"
                                    data-gtm-vis-total-visible-time11319722_2115="1000"
                                    data-gtm-vis-recent-on-screen11319722_2370="41804"
                                    data-gtm-vis-first-on-screen11319722_2370="41804"
                                    data-gtm-vis-total-visible-time11319722_2370="1000"
                                    data-gtm-vis-recent-on-screen11319722_2339="41804"
                                    data-gtm-vis-first-on-screen11319722_2339="41804"
                                    data-gtm-vis-total-visible-time11319722_2339="1000"
                                    data-gtm-vis-has-fired11319722_2115="1" data-gtm-vis-has-fired11319722_2370="1"
                                    data-gtm-vis-has-fired11319722_2339="1">
                                    <div class="ThumbnailImage_container ThumbnailImage_round__yMcfs"
                                        style="height: 96px;"><img alt="이렇게 작은데 웹캠·펫캠·브이로그까지 | 도파밍 미니 키링 카메라"
                                            class="ThumbnailImage_image ThumbnailImage_isLoaded" loading="lazy"
                                            src="https://cdn3.wadiz.kr/studio/images/2025/12/30/a61906c3-250e-4d06-952a-34f898721cfd.jpeg/wadiz/resize/400/format/jpg/quality/85/">
                                        <div class="ThumbnailImage_overlay__PwkuO">
                                        </div>
                                    </div>
                                    <div class="Content_container">
                                        <div class="Title_container__VQHHq"
                                            style="-webkit-line-clamp: 2; min-height: 3em;">이렇게 작은데
                                            웹캠·펫캠·브이로그까지
                                            |
                                            도파밍
                                            미니 키링 카메라</div>
                                        <div class="Maker_container"><span class="Maker_name">주식회사
                                                지엠</span></div>
                                        <div class="KeyTitle_container KeyTitle_mint_rz KeyTitle_sm">
                                            8,505% 달성</div>
                                        <div class="BadgeGroup_container"><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_gray LabelBadge_tint BadgeGroup_badge">4,252만
                                                    원+</span></span><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_red LabelBadge_tint BadgeGroup_badge">마감
                                                    임박</span></span><span class="LabelBadge_container"><span
                                                    class="LabelBadge_badge LabelBadge_sm LabelBadge_blue LabelBadge_tint BadgeGroup_badge"><svg
                                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                        class="WithProps_icon"
                                                        style="display: inline-block; margin-right: 2px; vertical-align: middle;">
                                                        <path
                                                            d="M9.5 9.1a.4.4 0 100 .8.4.4 0 000-.8zM14.5 14.1a.4.4 0 100 .8.4.4 0 000-.8z"
                                                            fill="#495057"></path>
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M3 4.4A1.6 1.6 0 001.4 6v4.6H2a1.4 1.4 0 110 2.8h-.6V18A1.6 1.6 0 003 19.6h18a1.6 1.6 0 001.6-1.6v-4.6H22a1.4 1.4 0 110-2.8h.6V6A1.6 1.6 0 0021 4.4H3zm4.9 5.1a1.6 1.6 0 113.2 0 1.6 1.6 0 01-3.2 0zm5 5a1.6 1.6 0 113.2 0 1.6 1.6 0 01-3.2 0zm2.176-6.424l-7 7 .848.848 7-7-.848-.848z"
                                                            fill="#495057"></path>
                                                    </svg>쿠폰</span></span></div>
                                    </div>
                                </a>
                                <div class="Card_overlay"><button type="button" class="RecentEditCard_content"
                                        data-ga-category="최근본_프로젝트_편집모드" data-ga-action="클릭" data-ga-label="개별선택"
                                        aria-label="개별선택">
                                        <div class="RecentEditCard_thumbnail">
                                            <div class="RecentEditCard_mask"></div>
                                            <div class="RecentEditCard_icon">
                                                <div class="RecentEditCard_iconBg" aria-hidden="true"></div>
                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                    aria-hidden="true" class="WithProps_icon__2zN1K">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12 1.4C6.146 1.4 1.4 6.146 1.4 12c0 5.854 4.746 10.6 10.6 10.6 5.854 0 10.6-4.746 10.6-10.6 0-5.854-4.746-10.6-10.6-10.6zm-1.5 15.84l8.495-8.495-.99-.99L10.5 15.26l-3.505-3.505-.99.99L10.5 17.24z"
                                                        fill="#495057"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div></div>
                                    </button></div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    </div>
    </section>
    <div style="height: 120px;"></div>
    <div></div>
    </div>
    </main>
    </div>
</body>
<script src="/static/js/postlist/postlist.js"></script>

</html>