@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

*,
:after,
:before {
    box-sizing: border-box
}

a,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block
}

li,
ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

canvas,
img,
picture,
video {
    max-width: 100%
}

iframe,
img,
video {
    vertical-align: top
}

img,
video {
    max-width: 100%;
    height: auto
}

address,
em,
var {
    font-weight: inherit;
    font-style: normal
}

a,
button {
    outline: none;
    -webkit-appearance: none
}

a[data-ga-action] *,
a[data-ga-category] *,
a[data-ga-label] *,
button[data-ga-action] *,
button[data-ga-category] *,
button[data-ga-label] * {
    pointer-events: none
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit
}

button {
    background-color: transparent
}

button:not(:disabled) {
    cursor: pointer
}

input,
textarea {
    background: none
}

body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
p,
select,
textarea {
    color: inherit;
    font-family: pretendard, -apple-system, blinkmacsystemfont, system-ui, roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit
}

input::-webkit-input-placeholder {
    color: inherit
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=text]::-ms-clear {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,
table th {
    font-weight: 400
}

body {
    font-size: 15px;
    line-height: inherit;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none
}

:root {
    --scrollbar-width: 0;
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left)
}

body {
    word-break: keep-all;
    overflow-wrap: anywhere;
    font-feature-settings: "case"
}

.Header_container.Header_sticky {
    position: sticky;
    z-index: 16;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: top .25s;
}

.Header_container .Header_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    max-width: 1296px;
    height: 56px;
    margin: auto;
    padding-inline: 8px;
}

.Header_container .Header_content .Header_left {
    display: flex;
    align-items: center;
}

.StyledComponent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;

}

.WithProps_icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.Header_container .Header_content .Header_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Header_container .Header_content .Header_right {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.StyledComponent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}

.RewardDetailCommonPanel_container- .RewardDetailCommonPanel_content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1280px;
    box-sizing: content-box;

}

.RewardDetailCommonPanel_container- .RewardDetailCommonPanel_content .RewardDetailCommonPanel_left {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.RewardNewsList_rewardNewsListContainer {
    padding-top: 24px;
}

.NewsListHeader_newsListHeaderContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #44484b;
    padding-bottom: 10px;
    gap: 16px;
}

.NewsListHeader_newsListHeaderContainer .NewsListHeader_newsListTitleContainer {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.NewsListHeader_newsListHeaderContainer .NewsListHeader_newsListTitleContainer .NewsListHeader_count {
    margin-left: 4px;
    color: #00b2b2;
}

.NewsListHeader_newsListHeaderContainer .NewsListHeader_newsListSelectContainer- {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: auto;
}

.SelectBoxLabel_selectBoxLabelContainer {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin-left: 16px;
}

.NewsListHeader_newsListHeaderContainer .NewsListHeader_newsListSelectContainer- .NewsListHeader_newsListSelectBox {
    background-color: #fff;
    width: 68px;
    line-height: 1.33;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.NewsListHeader_newsListHeaderContainer .NewsListHeader_newsListSelectContainer- .NewsListHeader_option-r {
    width: 58px;
}

.NewsListHeader_newsListHeaderContainer .NewsListHeader_newsListSelectContainer- .NewsListHeader_newsListOption {
    color: #212529;
}

.SelectBoxLabel_selectBoxLabelContainer .SelectBoxLabel_electBoxLabelIcon {
    position: absolute;
    right: 0;
    pointer-events: none;
}

.RecentViewContents_content {
    position: relative;
    padding: 0 16px;
    width: 100%;
    height: calc(100% - 56px);
}

.RecentViewContents_content .RecentViewContents_contentHeader {
    display: flex;
    position: relative;
    height: 40px;
}

.RecentViewContents_content .RecentViewContents_contentHeader .RecentViewContents_controlPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 40px;
    line-height: 18px;
    color: #868e96;
    font-size: 12px;
}

.RecentViewContents_bold {
    font-weight: 700;
}

.RecentViewContents_content .RecentViewContents_contentHeader .RecentViewContents_controlPanel .RecentViewContents_editButton {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.RecentViewContents_content .RecentViewContents_contentHeader .RecentViewContents_controlPanel .RecentViewContents_editButton>* {
    pointer-events: none;
}

.WithProps_icon>path {
    fill: currentColor;
}

.RecentViewContents_content .RecentViewContents_list {
    position: relative;
    height: calc(100% - 40px);
    overflow: auto;
}

.TableLayout_container {
    display: grid;
    width: 100%;
}

.Card_container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.Card_container .Card_content.Card_horizontal {
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
}

.Card_container .Card_content {
    display: flex;
}

.ThumbnailImage_container.ThumbnailImage_round__yMcfs {
    border-radius: 8px;
}

.ThumbnailImage_container {
    position: relative;
    overflow: hidden;
    flex: none;
    aspect-ratio: 16 / 9;
    background-color: #f2f4f6;
}

.ThumbnailImage_container .ThumbnailImage_overlay__PwkuO .ThumbnailImage_topLeft {
    top: 8px;
    left: 8px;
}

.Emblem_container.Emblem_md {
    width: 40px;
    height: 40px;
}

.Emblem_container {
    overflow: hidden;
}

.Emblem_container .Emblem_image {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ThumbnailImage_container .ThumbnailImage_overlay__PwkuO .ThumbnailImage_topRight {
    top: 0;
    right: 0;
}

.ThumbnailImage_container .ThumbnailImage_overlay__PwkuO>div {
    position: absolute;
    z-index: 1;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Content_container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.Title_container__VQHHq {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    min-height: 3em;
    line-height: 1.5em;
    overflow-wrap: anywhere;
}

.Maker_container {
    display: flex;
    gap: 4px;
}

.Maker_container .Maker_name {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    white-space: nowrap;
    color: #868e96;
}

.Maker_container .Maker_badge {
    height: 18px;
    object-fit: contain;
}

.KeyTitle_container.KeyTitle_sm {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.KeyTitle_container.KeyTitle_mint_rz {
    color: #00c4c4;
}

.KeyTitle_container {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    white-space: nowrap;
}

.BadgeGroup_container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.LabelBadge_container {
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
    line-height: 0;
}

.LabelBadge_badge.LabelBadge_gray.LabelBadge_tint {
    border: solid 1px #f2f4f6;
    background-color: #f2f4f6;
    color: #495057;
}

.BadgeGroup_container .BadgeGroup_badge {
    font-weight: 700;
}

.LabelBadge_badge.LabelBadge_sm {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 4px;
    height: 18px;
}

.LabelBadge_badge {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.LabelBadge_container {
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
    line-height: 0;
}

.LabelBadge_badge.LabelBadge_blue.LabelBadge_tint {
    border: solid 1px #eff3fd;
    background-color: #eff3fd;
    color: #557cf2;
}

.BadgeGroup_container .BadgeGroup_badge {
    font-weight: 700;
}

.ThumbnailImage_container .ThumbnailImage_image {
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
}

.ThumbnailImage_container .ThumbnailImage_image.ThumbnailImage_isLoaded {
    opacity: 1;
}

.WishIconButton_container {
    padding: 8px;
}

.WishIconButton_container .WishIconButton_icon path {
    fill: #21252966;
    stroke: #fff;
    transition: fill .25s ease-in-out;
}

.RecentViewContents_flex {
    display: flex;
    align-items: center;
}

.RecentViewContents_content .RecentViewContents_contentHeader .RecentViewContents_controlPanel .RecentViewContents_icon {
    transition: color .25s;
    margin-right: 6px;
    background-color: #fff;
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: #dde2e6;
    font-size: 24px;
}

.RecentViewContents_content .RecentViewContents_contentHeader .RecentViewContents_controlPanel .RecentViewContents_icon .RecentViewContents_iconBg {
    margin: 2px;
    border: 1px solid #cdd3d8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.RecentViewContents_content .RecentViewContents_contentHeader .RecentViewContents_controlPanel .RecentViewContents_icon * {
    pointer-events: none;
}

.Button_button {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: #0000;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

.Button_button.Button_sm {
    padding-inline: 12px;
    height: 32px;
    font-size: 14px;
}

.Button_button.Button_text,
.Button_button.Button_textLink {
    border: 0;
    border-color: #0000;
    padding: 0;
    height: auto;
}

.Button_button:not(.Button_loading).Button_disabled__dTtjo,
.Button_button:not(.Button_loading):disabled,
.Button_button:not(.Button_loading)[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}

.Button_button span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.RecentViewContents_content .RecentViewContents_contentHeader .RecentViewContents_controlPanel .RecentViewContents_buttons>:last-child {
    margin-left: 6px;
}

.Card_container .Card_overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
}

.Card_overlay {
    display: none;
}

.RecentEditCard_content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.RecentEditCard_content .RecentEditCard_thumbnail {
    display: flex;
    position: relative;
    flex-shrink: 0;
    border-radius: 8px;
    background: no-repeat 50% / cover border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.RecentEditCard_content * {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.RecentEditCard_content .RecentEditCard_thumbnail .RecentEditCard_icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    color: #dde2e6;
    font-size: 24px;
}

.RecentEditCard_content .RecentEditCard_thumbnail .RecentEditCard_icon .RecentEditCard_iconBg {
    position: absolute;
    top: 2px;
    left: 2px;
    border: 1px solid #cdd3d8;
    border-radius: 50%;
    background-color: #fff;
    width: 20px;
    height: 20px;
}

.RecentEditCard_content .RecentEditCard_active .RecentEditCard_mask {
    opacity: .25;
    background-color: #00c4c4;
    width: 100%;
    height: 100%;
}

.WithProps_icon__2zN1K {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.RecentEditCard_content .RecentEditCard_active .RecentEditCard_icon {
    color: #00c4c4;
}

.WithProps_icon__2zN1K>path {
    fill: currentColor;
}

