main {
    display: block;
    unicode-bidi: isolate;
}

.Header-module_container__da545 {
    background-color: #fff;
}

article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

.Header-module_container__da545 .Header-module_content__31d4e {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    max-width: 1296px;
    height: 56px;
    margin: auto;
    padding-inline: 8px;
}

.Header-module_container__da545 .Header-module_content__31d4e .Header-module_left__45013 {
    display: flex;
    align-items: center;
}

button:not(:disabled) {
    cursor: pointer;
}

.StyledComponent-module_container__2d5ce {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}

button {
    font-size: inherit;
}

html, body, button, input, textarea, select, h1, h2, h3, h4, h5, h6, p {
    color: inherit;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

button {
    background-color: transparent;
}

a, button {
    outline: none;
    -webkit-appearance: none;
}

.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.Header-module_container__da545 .Header-module_content__31d4e .Header-module_center__3afb0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Header-module_container__da545 .Header-module_content__31d4e .Header-module_right__6c908 {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.StyledComponent-module_container__2d5ce {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a, button {
    outline: none;
    -webkit-appearance: none;
}

a>svg {
    display: flex;
    margin: 0;
    padding: 0;
}

.padding-16 {
    padding: 16px;
}

.SignupForm-module_container__7536d {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    row-gap: 40px;
}

.SignupForm-module_container__7536d .SignupForm-module_titleContainer__fb197 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}


.SignupForm-module_container__7536d .SignupForm-module_titleContainer__fb197 .SignupForm-module_title__d581c {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}

.Button-module_button__d78c2 span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115.Button-module_lg__53dd9>span svg {
    width: 20px;
    height: 20px;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115>span svg {
    width: 16px;
    height: 16px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc svg {
    box-sizing: content-box;
}

.Button-module_button__d78c2 span svg {
    display: inline-block;
}

.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button path {
    fill: #adb5bd;
}

.HelperMessage-module_helperMessage__06cff {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-top: 4px;
    color: #868e96;
    text-align: left;
}

.SignupForm-module_container__7536d .SignupForm-module_error__025b5 {
    color: #f66;
}

.TextField-module_textField__404b4 {
    display: block;
    position: relative;
}

.TextField-module_textField__404b4.TextField-module_lg__11d56>label {
    font-size: 16px;
}

.TextField-module_textField__404b4>label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 4px;
}

address, article, aside, b, body, a, button, canvas, caption, dl, dt, dd, div, html, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, big, cite, code, del, dfn, em, img, small, strike, strong, sub, sup, var, u, i, center, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, select, textarea, input {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e {
    padding-right: 0;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noStartText__b3da2 {
    padding-left: 0;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 16px;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.TextField-module_textField__404b4.TextField-module_lg__11d56 .TextField-module_hasEndIcon__96e6e input {
    padding-right: 44px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noEndText__0e7c7 input, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noEndText__0e7c7 textarea {
    padding-right: 16px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noStartText__b3da2 input, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noStartText__b3da2 textarea {
    padding-left: 16px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc input, .TextField-module_textField__404b4 .TextField-module_field__4d1fc textarea {
    flex-grow: 1;
    border: 0;
    max-width: 100%;
    border-radius: 0;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc input {
    padding: 0;
}

.Input-module_input__210a1.Input-module_lg__592e9 {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.Input-module_input__210a1 {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

html, body, button, input, textarea, select, h1, h2, h3, h4, h5, h6, p {
    color: inherit;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

input, textarea {
    background: none;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_passwordIcon__92654, .TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_clearIcon__c58f8 {
    pointer-events: unset;
}

.TextField-module_textField__404b4.TextField-module_lg__11d56 svg, .TextField-module_textField__404b4.TextField-module_lg__11d56 .TextField-module_endIcon__aab7d {
    width: 20px;
    height: 20px;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115.Button-module_lg__53dd9 {
    width: 48px;
    height: 48px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button {
    border: 0;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.Button-module_button__d78c2.Button-module_text__47ff4, .Button-module_button__d78c2.Button-module_textLink__3d56d {
    border: 0;
    border-color: transparent;
    padding: 0;
    height: auto;
}

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

.Button-module_button__d78c2 span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115.Button-module_lg__53dd9>span svg {
    width: 20px;
    height: 20px;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115>span svg {
    width: 16px;
    height: 16px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc svg {
    box-sizing: content-box;
}

.Button-module_button__d78c2 span svg {
    display: inline-block;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button path {
    fill: #adb5bd;
}

.HelperMessage-module_helperMessage__06cff {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-top: 4px;
    color: #868e96;
    text-align: left;
}

.SignupForm-module_container__7536d .SignupForm-module_error__025b5 {
    color: #f66;
}

.SignupForm-module_container__7536d .SignupForm-module_content__a4f9d .SignupForm-module_termsButton__fdaf7 {
    margin-top: 40px;
    margin-bottom: 32px;
}

.Button-module_button__d78c2.Button-module_contained__ecf2a.Button-module_mint__1c1d6 {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.Button-module_button__d78c2:not(.Button-module_loading__b3841).Button-module_disabled__2ebf2, .Button-module_button__d78c2:not(.Button-module_loading__b3841):disabled, .Button-module_button__d78c2:not(.Button-module_loading__b3841)[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}

.Button-module_button__d78c2.Button-module_mint__1c1d6 {
    border-color: #00c4c4;
    color: #00c4c4;
}

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

.Button-module_button__d78c2.Button-module_block__d6eff {
    width: 100%;
}

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

.Button-module_button__d78c2 span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.SignupForm-module_container__7536d .SignupForm-module_titleContainer__fb197 .SignupForm-module_description__3422b {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.SignupForm-module_container__7536d .SignupForm-module_content__a4f9d {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
}

.Input-module_input__210a1[readonly], .Input-module_input__210a1[disabled] {
    border-color: #f2f4f6;
    background-color: #f9fafb;
    cursor: default;
    pointer-events: none;
}

.EmailAuthField-module_emailAuthField__1a4fe .EmailAuthField-module_fieldLabel__4f476 .EmailAuthField-module_isRequired__e9c44 {
    color: #f66;
    margin-left: 4px;
}

.TextField-module_textField__404b4>label .TextField-module_isRequired__294b9 {
    color: #f66;
}