body {
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    word-break: keep-all;
    overflow-wrap: anywhere;
}


:root {
    --scrollbar-width: 0;
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
}    


main {
    display: block;
    unicode-bidi: isolate;
}

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_inputField__6a914 
.EmailAuthField-module_count__d94b6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #e54545;
}

@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url(woff2-dynamic-subset/Pretendard-Thin.subset.0.woff2) format('woff2'), url(woff-dynamic-subset/Pretendard-Thin.subset.0.woff) format('woff');
    unicode-range: U + f9ca-fa0b, U + ff03-ff05, U + ff07, U + ff0a-ff0b, U + ff0d-ff19, U + ff1b, U + ff1d, U + ff20-ff5b, U + ff5d, U + ffe0-ffe3, U + ffe5-ffe6;
}

.Header-module_container__da545 {
    background-color: #fff;
}

.Header-module_container__da545 .Header-module_content__31d4e {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    max-width: 1296px;
    height: 56px;
    margin: auto;
    padding-inline: 8px;
}    

.Header-module_container__da545 .Header-module_content__31d4e .Header-module_left__45013 {
    display: flex;
    align-items: center;
}

.StyledComponent-module_container__2d5ce {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}

button {
    font-size: inherit;
}

button {
    background-color: transparent;
}    

a, button {
    outline: none;
    -webkit-appearance: none;
}

.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

button:not(:disabled) {
    cursor: pointer;
}    

.WithProps-module_icon__d564b>path {
    fill: currentColor;
}

:not(svg) {
    transform-origin: 0px 0px;
}    

.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}    

.Header-module_container__da545 .Header-module_content__31d4e .Header-module_center__3afb0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    display: block;
    unicode-bidi: isolate;
}

.Header-module_container__da545 .Header-module_content__31d4e .Header-module_right__6c908 {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}    
.StyledComponent-module_container__2d5ce {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 8px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}    

a, button {
    outline: none;
    -webkit-appearance: none;
}

.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

a>svg {
    display: flex;
    margin: 0;
    padding: 0;
}    

.WithProps-module_icon__d564b>path {
    fill: currentColor;
}

.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}    

.WithProps-module_icon__d564b>path {
    fill: currentColor;
}  

.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}    

.padding-16 {
    padding: 16px;
}    


/* 이메일 가입하기 폼 */
.SignupForm-module_container__7536d {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    row-gap: 40px;
}    

.SignupForm-module_container__7536d 
.SignupForm-module_titleContainer__fb197 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.SignupForm-module_container__7536d 
.SignupForm-module_titleContainer__fb197 
.SignupForm-module_title__d581c {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}    

.SignupForm-module_container__7536d .SignupForm-module_titleContainer__fb197 .SignupForm-module_description__3422b {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

/* 이메일 가입하기 폼 */    
.SignupForm-module_container__7536d 
.SignupForm-module_content__a4f9d {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
}


/* 이메일 text 스타일 */        
.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_fieldLabel__4f476 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding-bottom: 8px;
}

/* 이메일 '*' 스타일 */  
.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_fieldLabel__4f476 
.EmailAuthField-module_isRequired__e9c44 {
    color: #f66;
    margin-left: 4px;
}

/* 이메일 '*' 스타일 */      
label {
    cursor: default;
}    

/* 이메일 입력 스타일 */    
.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_inputFieldContainer__dfec5 {
    display: flex;
}    

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_inputField__6a914 {
    position: relative;
    width: 100%;
}

/* 이메일 input tag 입력 스타일 */       
.Input-module_input__210a1.Input-module_lg__592e9 {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/* 이메일 input tag 입력 스타일 */        
.Input-module_input__210a1 {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}    

/* 인증번호 입력 스타일 */      
.EmailAuth-module_authCodeContainer__77cf2 {
    margin-top: 24px;
}

input, textarea {
    background: none;
}

.EmailAuth-module_resendCodeReqWrapper__e3210 {
    width: 100%;
    padding-top: 24px;
    text-align: center;
}    
 
.EmailAuth-module_resendCodeReqWrapper__e3210 
.EmailAuth-module_resendCodeReq__9ba46 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    color: #495057;
    text-decoration: underline;
}

.EmailAuth-module_resendCodeReqWrapper__e3210 {
    width: 100%;
    padding-top: 24px;
    text-align: center;
}

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_fieldLabel__4f476 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding-bottom: 8px;
}

label {
    cursor: default;
}

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_fieldLabel__4f476 
.EmailAuthField-module_isRequired__e9c44 {
    color: #f66;
    margin-left: 4px;
}

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_inputFieldContainer__dfec5 {
    display: flex;
}    

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_inputField__6a914 {
    position: relative;
    width: 100%;
}

/* input tag 입력 스타일 */     
.Input-module_input__210a1.Input-module_lg__592e9 {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.Input-module_input__210a1.Input-module_error__8f07f {
    border-color: #f66;
}

.Input-module_input__210a1 {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}    

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_helperMessage__846de.EmailAuthField-module_error__87512 {
    color: #f66;
}

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_helperMessage__846de {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 4px;
    color: #868e96;
}

/* 인증번호 입력 확인 버튼 스타일 */  
.Button-module_button__d78c2.Button-module_contained__ecf2a.Button-module_mint__1c1d6 {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}    

.Button-module_button__d78c2:not(.Button-module_loading__b3841).Button-module_disabled__2ebf2, 
.Button-module_button__d78c2:not(.Button-module_loading__b3841):disabled, 
.Button-module_button__d78c2:not(.Button-module_loading__b3841)[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}

.EmailAuthField-module_emailAuthField__1a4fe 
.EmailAuthField-module_cta__2a755 {
    margin-left: 8px;
}

.Button-module_button__d78c2.Button-module_mint__1c1d6 {
    border-color: #00c4c4;
    color: #00c4c4;
}

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

/* 뒤로가기 버튼 검은색 테두리 border 없애는 스타일 */   
button {
    outline: none;
    border: none;
    box-shadow: none;
}

address, article, aside, b, body, a, button, canvas, caption, 
dl, dt, dd, div, html, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, big, cite, code, del, dfn, em, img, small, strike, 
strong, sub, sup, var, u, i, center, ol, ul, li, fieldset, 
form, label, legend, table, tbody, tfoot, thead, tr, th, td, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, 
mark, audio, video, select, textarea, input {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

/* 비밀번호 입력, 확인 스타일 정의 */
.SignupForm-module_container__7536d 
.SignupForm-module_content__a4f9d 
.SignupForm-module_textFieldGroup__e4d83 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}    

.TextField-module_textField__404b4 {
    display: block;
    position: relative;
}

.SignupForm-module_container__7536d .SignupForm-module_content__a4f9d .SignupForm-module_textFieldLabel__4a2d9 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.TextField-module_textField__404b4.TextField-module_lg__11d56>label {
    font-size: 16px;
}

.TextField-module_textField__404b4>label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 4px;
}

label {
    cursor: default;
}

.TextField-module_textField__404b4>label 
.TextField-module_isRequired__294b9 {
    color: #f66;
}    

.TextField-module_textField__404b4.TextField-module_lg__11d56>label {
    font-size: 16px;
}    

.TextField-module_textField__404b4>label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 4px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e {
    padding-right: 0;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noEndText__0e7c7 {
    padding-right: 0;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noStartText__b3da2 {
    padding-left: 0;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_disabled__003a5, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_readonly__59606 {
    background-color: #f9fafb;
    border-color: #f2f4f6;
    cursor: default;
}    


.TextField-module_textField__404b4 .TextField-module_field__4d1fc {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 16px;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}    

.Input-module_input__210a1.Input-module_lg__592e9 {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}    

.Input-module_input__210a1[disabled], .Input-module_input__210a1.Input-module_disabled__aaf6c {
    color: #adb5bd;
}

.Input-module_input__210a1[readonly], .Input-module_input__210a1[disabled] {
    border-color: #f2f4f6;
    background-color: #f9fafb;
    cursor: default;
    pointer-events: none;
}

.Input-module_input__210a1 {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

input, textarea {
    background: none;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_passwordIcon__92654, .TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_clearIcon__c58f8 {
    pointer-events: unset;
}

.TextField-module_textField__404b4.TextField-module_lg__11d56 svg, .TextField-module_textField__404b4.TextField-module_lg__11d56 .TextField-module_endIcon__aab7d {
    width: 20px;
    height: 20px;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115.Button-module_lg__53dd9 {
    width: 48px;
    height: 48px;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button {
    border: 0;
}    

.Button-module_button__d78c2.Button-module_iconOnly__0a115 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}    
.Button-module_button__d78c2.Button-module_text__47ff4, .Button-module_button__d78c2.Button-module_textLink__3d56d {
    border: 0;
    border-color: transparent;
    padding: 0;
    height: auto;
}
.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

button:not(:disabled) {
    cursor: pointer;
}    

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_disabled__003a5, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_readonly__59606 {
    background-color: #f9fafb;
    border-color: #f2f4f6;
    cursor: default;
}


/* 비밀번호 입력 svg style*/
.Button-module_button__d78c2.Button-module_iconOnly__0a115.Button-module_lg__53dd9>span svg {
    width: 20px;
    height: 20px;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115>span svg {
    width: 16px;
    height: 16px;
}

.TextField-module_textField__404b4.TextField-module_lg__11d56 svg, .TextField-module_textField__404b4.TextField-module_lg__11d56 .TextField-module_endIcon__aab7d {
    width: 20px;
    height: 20px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc svg {
    box-sizing: content-box;
}    

.Button-module_button__d78c2 span svg {
    display: inline-block;
}    

.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}    

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

/* 상속 스타일 */
.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_passwordIcon__92654, .TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_clearIcon__c58f8 {
    pointer-events: unset;
}    

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

button:not(:disabled) {
    cursor: pointer;
}

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

/*svg 아래 path 스타일 */

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button path {
    fill: #adb5bd;
}

.WithProps-module_icon__d564b>path {
    fill: currentColor;
}    


/* 상속 */
.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_passwordIcon__92654, .TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_clearIcon__c58f8 {
    pointer-events: unset;
}    

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}    

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

/* 2번째 path */
.TextField-module_textField__404b4 .TextField-module_field__4d1fc button path {
    fill: #adb5bd;
}

.WithProps-module_icon__d564b>path {
    fill: currentColor;
}

/* 상속 */
.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}
.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_passwordIcon__92654, .TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_clearIcon__c58f8 {
    pointer-events: unset;
}    

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

/* 상속 */
.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_disabled__003a5, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_readonly__59606 {
    background-color: #f9fafb;
    border-color: #f2f4f6;
    cursor: default;
}

/* helper Massage 스타일 */

.HelperMessage-module_helperMessage__06cff {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-top: 4px;
    color: #868e96;
    text-align: left;
}    

.SignupForm-module_container__7536d .SignupForm-module_error__025b5 {
    color: #f66;
}

.HelperMessage-module_helperMessage__06cff {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-top: 4px;
    color: #868e96;
    text-align: left;
}

/* 비밀번호 확인 스타일 */
.TextField-module_textField__404b4 {
    display: block;
    position: relative;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e {
    padding-right: 0;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noEndText__0e7c7 {
    padding-right: 0;
}
.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noStartText__b3da2 {
    padding-left: 0;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_disabled__003a5, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_readonly__59606 {
    background-color: #f9fafb;
    border-color: #f2f4f6;
    cursor: default;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 16px;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.TextField-module_textField__404b4.TextField-module_lg__11d56 .TextField-module_hasEndIcon__96e6e input {
    padding-right: 44px;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noEndText__0e7c7 input, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noEndText__0e7c7 textarea {
    padding-right: 16px;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noStartText__b3da2 input, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_noStartText__b3da2 textarea {
    padding-left: 16px;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_disabled__003a5 input, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_disabled__003a5 textarea, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_readonly__59606 input, .TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_readonly__59606 textarea {
    cursor: default;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc input, .TextField-module_textField__404b4 .TextField-module_field__4d1fc textarea {
    flex-grow: 1;
    border: 0;
    max-width: 100%;
    border-radius: 0;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc input {
    padding: 0;
}

.Input-module_input__210a1.Input-module_lg__592e9 {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.Input-module_input__210a1[disabled], .Input-module_input__210a1.Input-module_disabled__aaf6c {
    color: #adb5bd;
}

.Input-module_input__210a1[readonly], .Input-module_input__210a1[disabled] {
    border-color: #f2f4f6;
    background-color: #f9fafb;
    cursor: default;
    pointer-events: none;
}

.Input-module_input__210a1 {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}    

/* 버튼 */

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_passwordIcon__92654, .TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_clearIcon__c58f8 {
    pointer-events: unset;
}    

.TextField-module_textField__404b4.TextField-module_lg__11d56 svg, .TextField-module_textField__404b4.TextField-module_lg__11d56 .TextField-module_endIcon__aab7d {
    width: 20px;
    height: 20px;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115.Button-module_lg__53dd9 {
    width: 48px;
    height: 48px;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button {
    border: 0;
}

.Button-module_button__d78c2.Button-module_iconOnly__0a115 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.Button-module_button__d78c2.Button-module_text__47ff4, .Button-module_button__d78c2.Button-module_textLink__3d56d {
    border: 0;
    border-color: transparent;
    padding: 0;
    height: auto;
}    

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

button:not(:disabled) {
    cursor: pointer;
}


.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}    

/* path */
.TextField-module_textField__404b4 .TextField-module_field__4d1fc button path {
    fill: #adb5bd;
}

.WithProps-module_icon__d564b>path {
    fill: currentColor;
}    

/* 상속 */
.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_passwordIcon__92654, .TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_clearIcon__c58f8 {
    pointer-events: unset;
}

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

button:not(:disabled) {
    cursor: pointer;
}

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

/* path 2 */
.TextField-module_textField__404b4 .TextField-module_field__4d1fc button path {
    fill: #adb5bd;
}   

.WithProps-module_icon__d564b>path {
    fill: currentColor;
}

/* 상속 */ 
.WithProps-module_icon__d564b {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc.TextField-module_hasEndIcon__96e6e>.TextField-module_endIcon__aab7d {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}    

.TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_passwordIcon__92654, .TextField-module_textField__404b4 .TextField-module_field__4d1fc button.TextField-module_clearIcon__c58f8 {
    pointer-events: unset;
}

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

/* helper style */
.HelperMessage-module_helperMessage__06cff {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-top: 4px;
    color: #868e96;
    text-align: left;
}

.SignupForm-module_container__7536d .SignupForm-module_error__025b5 {
    color: #f66;
}

/* 버튼 */
.SignupForm-module_container__7536d .SignupForm-module_content__a4f9d .SignupForm-module_termsButton__fdaf7 {
    margin-top: 40px;
    margin-bottom: 32px;
}

.Button-module_button__d78c2.Button-module_contained__ecf2a.Button-module_mint__1c1d6 {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}    

.Button-module_button__d78c2:not(.Button-module_loading__b3841).Button-module_disabled__2ebf2, .Button-module_button__d78c2:not(.Button-module_loading__b3841):disabled, .Button-module_button__d78c2:not(.Button-module_loading__b3841)[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}    

.Button-module_button__d78c2.Button-module_mint__1c1d6 {
    border-color: #00c4c4;
    color: #00c4c4;
}    

.Button-module_button__d78c2.Button-module_lg__53dd9 {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}    

.Button-module_button__d78c2.Button-module_block__d6eff {
    width: 100%;
}    

.Button-module_button__d78c2 {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;

    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

/* 폰트 적용 */
html, body, button, input, textarea, select, h1, h2, h3, h4, h5, h6, p {
color: inherit;
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
font-size: inherit;
font-weight: inherit;
line-height: inherit;
}

/* 음영 적용 */
.Input-module_input__210a1[readonly], .Input-module_input__210a1[disabled] {
border-color: #f2f4f6;
background-color: #f9fafb;
cursor: default;
pointer-events: none;
}