.admin-header {
    box-shadow: 0 1px #0a16460f;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 16;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 72px;
}

.admin-header-group {
    display: flex;
    align-items: center;
}

.admin-header-group-right {
    justify-content: flex-end;
    gap: 8px;
}

.admin-header-brand {
    display: flex;
    align-items: center;
}

.admin-header-logo-btn {
    display: block;
    margin-right: 8px;
    width: auto;
    height: 20px;
}

.admin-header-logo-btn img {
    width: 70px;
    height: 30px;
    display: block;
    margin-left: 10px;
    margin-right: 5px;
}

.admin-header-product-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #868e96;
    margin-right: 10px;
}

.admin-header-status {
    display: flex;
    gap: 4px;
}

.badge {
    position: relative;
}

.badge-label {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
}

.badge-label-md {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 6px;
    height: 20px;
}

.badge-label-gray.badge-label-tint {
    border: 1px solid #f2f4f6;
    background-color: #f2f4f6;
    color: #495057;
}

.notif-button {
    display: flex;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.notif-button-icon {
    padding: 4px;
}

.dot-badge {
    display: inline-flex;
    border-radius: 50%;
    background-color: #f66;
}

.dot-badge-sm {
    width: 8px;
    height: 8px;
}

.notif-button-badge {
    position: absolute;
    top: 0;
    right: 0;
}

.charging-station-select {
    display: flex;
    align-items: center;
    margin-left: 24px;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 12px;
}

.charging-station-select em {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 8px;
}

.header-actions {
    display: flex;
    align-items: center;
}

.btn {
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: #495057;
    line-height: 1.5;
}

.btn-md {
    padding: 0 16px;
    height: 40px;
    font-size: 14px;
}

.header-actions-btn + .header-actions-btn {
    margin-left: 8px;
}

.header-actions-btn:hover, .charging-station-select:hover {
    background-color: #f2f4f6;
}