<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../static/css/common/font.css" />
<link rel="stylesheet" href="../../static/css/common/reset.css" />
<link rel="stylesheet" href="../../static/css/common/fontawesome.css" />
<link rel="stylesheet" href="../../static/css/common/common.css" />
<link rel="stylesheet" href="../../static/css/common/util.css" />
<link rel="stylesheet" href="../../static/css/error/error.css" />
<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="../../static/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../static/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../static/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../static/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../static/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../static/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../static/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../static/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../static/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../../static/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../static/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../static/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon/favicon-16x16.png">
<link rel="manifest" href="../../static/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- favicon -->
<title>GG#</title>
</head>
<body>

<div class="errorpage-wrap serverError">
    <div class="errorpage">
        <span class="artwork serverError" role="img" aria-label="서버 에러"></span>
        <div class="wrap">
            <h1>앗! 잠깐 문제가 발생했어요</h1>
            <p>일시적으로 데이터를 불러올 수 없어요.<br/>다시 시도해 주세요.</p>
        </div>
        <div class="wrap button">
            <a href="/" class="wz button primary">와디즈 홈으로</a>
            <button type="button" class="wz button secondary" onclick="window.location.reload()">
                <img src="https://www.wadiz.kr/resources/static/svg/refresh.svg" alt="refresh" />
                다시 시도하기
            </button>
        </div>
    </div>
    <button type="button" class="btn-cs" data-intercom-message="">
        <i role="img" aria-label="와디즈에 문의하기"></i>
        와디즈에 문의하기
    </button>
</div>
</body>
</html>
