*,:after,:before {
    box-sizing: border-box
}
html {
    scroll-behavior: smooth;
}
a,address,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,label,legend,li,mark,menu,nav,object,ol,p,pre,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,u,ul,var,video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline
}

article,aside,figcaption,figure,footer,header,main,nav,section {
    display: block
}

li,ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

canvas,img,picture,video {
    max-width: 100%
}

iframe,img,video {
    vertical-align: top
}

img,video {
    max-width: 100%;
    height: auto
}

address,em,var {
    font-weight: inherit;
    font-style: normal
}

a,button {
    outline: none;
    /* -webkit-appearance: none; */
}

a[data-ga-action] *,a[data-ga-category] *,a[data-ga-label] *,button[data-ga-action] *,button[data-ga-category] *,button[data-ga-label] * {
    pointer-events: none
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit
}

button {
    background-color: transparent
}

button:not(:disabled) {
    cursor: pointer
}

input,textarea {
    background: none
}

body,button,h1,h2,h3,h4,h5,h6,html,input,p,select,textarea {
    color: inherit;
    font-family: pretendard,-apple-system,blinkmacsystemfont,system-ui,roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit
}

input::-webkit-input-placeholder {
    color: inherit
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=text]::-ms-clear {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,table th {
    font-weight: 400
}

body {
    font-size: 15px;
    line-height: inherit;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none
}

:root {
    --scrollbar-width: 0;
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left)
}

body {
    word-break: keep-all;
    overflow-wrap: anywhere;
    font-feature-settings: "case"
}