.fz-36, .fz-32, .fz-30, .fz-28, .fz-24, .fz-20, .fz-18, .fz-16, .fz-14, .fz-12 {
    vertical-align: middle;
}

.fz-36 {
    font-size: 36px;
}

.fw-bold {
    font-weight: 700;
}

.fc-1 {
    color: #202428;
}

.fz-20 {
    font-size: 20px;
}

.fc-1 {
    color: #202428;
}

.v-top {
    vertical-align: top !important;
}

.fz-12 {
    font-size: 12px;
}

.fc-2 {
    color: #495057;
}

.fc-3 {
    color: #adb5bd;
}

.w-100 {
    width: 100px !important;
    min-width: 100px !important;
}

.fw-medium {
    font-weight: 500;
}

/* lsm - util */
.mt0{margin-top: 0px !important;}
.mt1{margin-top: 1px !important;}
.mt2{margin-top: 2px !important;}
.mt3{margin-top: 3px !important;}
.mt4{margin-top: 4px !important;}
.mt5{margin-top: 5px !important;}
.mt6{margin-top: 6px !important;}
.mt7{margin-top: 7px !important;}
.mt8{margin-top: 8px !important;}
.mt9{margin-top: 9px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mt60{margin-top: 60px !important;}
.mt70{margin-top: 70px !important;}
.mt80{margin-top: 80px !important;}
.mt90{margin-top: 90px !important;}
.mt100{margin-top: 100px !important;}
.mb0{margin-bottom: 0px !important;}
.mb1{margin-bottom: 1px !important;}
.mb2{margin-bottom: 2px !important;}
.mb3{margin-bottom: 3px !important;}
.mb4{margin-bottom: 4px !important;}
.mb5{margin-bottom: 5px !important;}
.mb6{margin-bottom: 6px !important;}
.mb7{margin-bottom: 7px !important;}
.mb8{margin-bottom: 8px !important;}
.mb9{margin-bottom: 9px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
.mb40{margin-bottom: 40px !important;}
.mb50{margin-bottom: 50px !important;}
.mb60{margin-bottom: 60px !important;}
.mb70{margin-bottom: 70px !important;}
.mb80{margin-bottom: 80px !important;}
.mb90{margin-bottom: 90px !important;}
.mb100{margin-bottom: 100px !important;}
.ml0{margin-left: 0px !important;}
.ml1{margin-left: 1px !important;}
.ml2{margin-left: 2px !important;}
.ml3{margin-left: 3px !important;}
.ml4{margin-left: 4px !important;}
.ml5{margin-left: 5px !important;}
.ml6{margin-left: 6px !important;}
.ml7{margin-left: 7px !important;}
.ml8{margin-left: 8px !important;}
.ml9{margin-left: 9px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml25{margin-left: 25px !important;}
.ml30{margin-left: 30px !important;}
.ml40{margin-left: 40px !important;}
.ml50{margin-left: 50px !important;}
.ml60{margin-left: 60px !important;}
.ml70{margin-left: 70px !important;}
.ml80{margin-left: 80px !important;}
.ml90{margin-left: 90px !important;}
.ml100{margin-left: 100px !important;}
.mr0{margin-right: 0px !important;}
.mr1{margin-right: 1px !important;}
.mr2{margin-right: 2px !important;}
.mr3{margin-right: 3px !important;}
.mr4{margin-right: 4px !important;}
.mr5{margin-right: 5px !important;}
.mr6{margin-right: 6px !important;}
.mr7{margin-right: 7px !important;}
.mr8{margin-right: 8px !important;}
.mr9{margin-right: 9px !important;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.mr25{margin-right: 25px !important;}
.mr30{margin-right: 30px !important;}
.mr40{margin-right: 40px !important;}
.mr50{margin-right: 50px !important;}
.mr60{margin-right: 60px !important;}
.mr70{margin-right: 70px !important;}
.mr80{margin-right: 80px !important;}
.mr90{margin-right: 90px !important;}
.mr100{margin-right: 100px !important;}
.mh0{margin-left: 0px !important; margin-right: 0px !important;}
.mh1{margin-left: 1px !important; margin-right: 1px !important;}
.mh2{margin-left: 2px !important; margin-right: 2px !important;}
.mh3{margin-left: 3px !important; margin-right: 3px !important;}
.mh4{margin-left: 4px !important; margin-right: 4px !important;}
.mh5{margin-left: 5px !important; margin-right: 5px !important;}
.mh6{margin-left: 6px !important; margin-right: 6px !important;}
.mh7{margin-left: 7px !important; margin-right: 7px !important;}
.mh8{margin-left: 8px !important; margin-right: 8px !important;}
.mh9{margin-left: 9px !important; margin-right: 9px !important;}
.mh10{margin-left: 10px !important; margin-right: 10px !important;}
.mh15{margin-left: 15px !important; margin-right: 15px !important;}
.mh20{margin-left: 20px !important; margin-right: 20px !important;}
.mh25{margin-left: 25px !important; margin-right: 25px !important;}
.mh30{margin-left: 30px !important; margin-right: 30px !important;}
.mh40{margin-left: 40px !important; margin-right: 40px !important;}
.mh50{margin-left: 50px !important; margin-right: 50px !important;}
.mh60{margin-left: 60px !important; margin-right: 60px !important;}
.mh70{margin-left: 70px !important; margin-right: 70px !important;}
.mh80{margin-left: 80px !important; margin-right: 80px !important;}
.mh90{margin-left: 90px !important; margin-right: 90px !important;}
.mh100{margin-left: 100px !important; margin-right: 100px !important;}
.mv0{margin-top: 0px !important; margin-bottom: 0px !important;}
.mv1{margin-top: 1px !important; margin-bottom: 1px !important;}
.mv2{margin-top: 2px !important; margin-bottom: 2px !important;}
.mv3{margin-top: 3px !important; margin-bottom: 3px !important;}
.mv4{margin-top: 4px !important; margin-bottom: 4px !important;}
.mv5{margin-top: 5px !important; margin-bottom: 5px !important;}
.mv6{margin-top: 6px !important; margin-bottom: 6px !important;}
.mv7{margin-top: 7px !important; margin-bottom: 7px !important;}
.mv8{margin-top: 8px !important; margin-bottom: 8px !important;}
.mv9{margin-top: 9px !important; margin-bottom: 9px !important;}
.mv10{margin-top: 10px !important; margin-bottom: 10px !important;}
.mv15{margin-top: 15px !important; margin-bottom: 15px !important;}
.mv20{margin-top: 20px !important; margin-bottom: 20px !important;}
.mv25{margin-top: 25px !important; margin-bottom: 25px !important;}
.mv30{margin-top: 30px !important; margin-bottom: 30px !important;}
.mv40{margin-top: 40px !important; margin-bottom: 40px !important;}
.mv50{margin-top: 50px !important; margin-bottom: 50px !important;}
.mv60{margin-top: 60px !important; margin-bottom: 60px !important;}
.mv70{margin-top: 70px !important; margin-bottom: 70px !important;}
.mv80{margin-top: 80px !important; margin-bottom: 80px !important;}
.mv90{margin-top: 90px !important; margin-bottom: 90px !important;}
.mv100{margin-top: 100px !important; margin-bottom: 100px !important;}
.ph0{padding-left: 0px !important; padding-right: 0px !important;}
.ph1{padding-left: 1px !important; padding-right: 1px !important;}
.ph2{padding-left: 2px !important; padding-right: 2px !important;}
.ph3{padding-left: 3px !important; padding-right: 3px !important;}
.ph4{padding-left: 4px !important; padding-right: 4px !important;}
.ph5{padding-left: 5px !important; padding-right: 5px !important;}
.ph6{padding-left: 6px !important; padding-right: 6px !important;}
.ph7{padding-left: 7px !important; padding-right: 7px !important;}
.ph8{padding-left: 8px !important; padding-right: 8px !important;}
.ph9{padding-left: 9px !important; padding-right: 9px !important;}
.ph10{padding-left: 10px !important; padding-right: 10px !important;}
.ph15{padding-left: 15px !important; padding-right: 15px !important;}
.ph20{padding-left: 20px !important; padding-right: 20px !important;}
.ph25{padding-left: 25px !important; padding-right: 25px !important;}
.ph30{padding-left: 30px !important; padding-right: 30px !important;}
.ph40{padding-left: 40px !important; padding-right: 40px !important;}
.ph50{padding-left: 50px !important; padding-right: 50px !important;}
.ph60{padding-left: 60px !important; padding-right: 60px !important;}
.ph70{padding-left: 70px !important; padding-right: 70px !important;}
.ph80{padding-left: 80px !important; padding-right: 80px !important;}
.ph90{padding-left: 90px !important; padding-right: 90px !important;}
.ph100{padding-left: 100px !important; padding-right: 100px !important;}
.pv0{padding-top: 0px !important; padding-bottom: 0px !important;}
.pv1{padding-top: 1px !important; padding-bottom: 1px !important;}
.pv2{padding-top: 2px !important; padding-bottom: 2px !important;}
.pv3{padding-top: 3px !important; padding-bottom: 3px !important;}
.pv4{padding-top: 4px !important; padding-bottom: 4px !important;}
.pv5{padding-top: 5px !important; padding-bottom: 5px !important;}
.pv6{padding-top: 6px !important; padding-bottom: 6px !important;}
.pv7{padding-top: 7px !important; padding-bottom: 7px !important;}
.pv8{padding-top: 8px !important; padding-bottom: 8px !important;}
.pv9{padding-top: 9px !important; padding-bottom: 9px !important;}
.pv10{padding-top: 10px !important; padding-bottom: 10px !important;}
.pv15{padding-top: 15px !important; padding-bottom: 15px !important;}
.pv20{padding-top: 20px !important; padding-bottom: 20px !important;}
.pv25{padding-top: 25px !important; padding-bottom: 25px !important;}
.pv30{padding-top: 30px !important; padding-bottom: 30px !important;}
.pv40{padding-top: 40px !important; padding-bottom: 40px !important;}
.pv50{padding-top: 50px !important; padding-bottom: 50px !important;}
.pv60{padding-top: 60px !important; padding-bottom: 60px !important;}
.pv70{padding-top: 70px !important; padding-bottom: 70px !important;}
.pv80{padding-top: 80px !important; padding-bottom: 80px !important;}
.pv90{padding-top: 90px !important; padding-bottom: 90px !important;}
.pv100{padding-top: 100px !important; padding-bottom: 100px !important;}
.pt0{padding-top: 0px !important;}
.pt1{padding-top: 1px !important;}
.pt2{padding-top: 2px !important;}
.pt3{padding-top: 3px !important;}
.pt4{padding-top: 4px !important;}
.pt5{padding-top: 5px !important;}
.pt6{padding-top: 6px !important;}
.pt7{padding-top: 7px !important;}
.pt8{padding-top: 8px !important;}
.pt9{padding-top: 9px !important;}
.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}
.pt25{padding-top: 25px !important;}
.pt30{padding-top: 30px !important;}
.pt40{padding-top: 40px !important;}
.pt50{padding-top: 50px !important;}
.pt60{padding-top: 60px !important;}
.pt70{padding-top: 70px !important;}
.pt80{padding-top: 80px !important;}
.pt90{padding-top: 90px !important;}
.pt100{padding-top: 100px !important;}
.pb0{padding-bottom: 0px !important;}
.pb1{padding-bottom: 1px !important;}
.pb2{padding-bottom: 2px !important;}
.pb3{padding-bottom: 3px !important;}
.pb4{padding-bottom: 4px !important;}
.pb5{padding-bottom: 5px !important;}
.pb6{padding-bottom: 6px !important;}
.pb7{padding-bottom: 7px !important;}
.pb8{padding-bottom: 8px !important;}
.pb9{padding-bottom: 9px !important;}
.pb10{padding-bottom: 10px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}
.pb40{padding-bottom: 40px !important;}
.pb50{padding-bottom: 50px !important;}
.pb60{padding-bottom: 60px !important;}
.pb70{padding-bottom: 70px !important;}
.pb80{padding-bottom: 80px !important;}
.pb90{padding-bottom: 90px !important;}
.pb100{padding-bottom: 100px !important;}
.pl0{padding-left: 0px !important;}
.pl1{padding-left: 1px !important;}
.pl2{padding-left: 2px !important;}
.pl3{padding-left: 3px !important;}
.pl4{padding-left: 4px !important;}
.pl5{padding-left: 5px !important;}
.pl6{padding-left: 6px !important;}
.pl7{padding-left: 7px !important;}
.pl8{padding-left: 8px !important;}
.pl9{padding-left: 9px !important;}
.pl10{padding-left: 10px !important;}
.pl15{padding-left: 15px !important;}
.pl20{padding-left: 20px !important;}
.pl25{padding-left: 25px !important;}
.pl30{padding-left: 30px !important;}
.pl40{padding-left: 40px !important;}
.pl50{padding-left: 50px !important;}
.pl60{padding-left: 60px !important;}
.pl70{padding-left: 70px !important;}
.pl80{padding-left: 80px !important;}
.pl90{padding-left: 90px !important;}
.pl100{padding-left: 100px !important;}
.pr0{padding-right: 0px !important;}
.pr1{padding-right: 1px !important;}
.pr2{padding-right: 2px !important;}
.pr3{padding-right: 3px !important;}
.pr4{padding-right: 4px !important;}
.pr5{padding-right: 5px !important;}
.pr6{padding-right: 6px !important;}
.pr7{padding-right: 7px !important;}
.pr8{padding-right: 8px !important;}
.pr9{padding-right: 9px !important;}
.pr10{padding-right: 10px !important;}
.pr15{padding-right: 15px !important;}
.pr20{padding-right: 20px !important;}
.pr25{padding-right: 25px !important;}
.pr30{padding-right: 30px !important;}
.pr40{padding-right: 40px !important;}
.pr50{padding-right: 50px !important;}
.pr60{padding-right: 60px !important;}
.pr70{padding-right: 70px !important;}
.pr80{padding-right: 80px !important;}
.pr90{padding-right: 90px !important;}
.pr100{padding-right: 100px !important;}
.tc{text-align: center !important;}
.tl{text-align: left !important;}
.tr{text-align: right !important;}