@charset "UTF-8";
/* header */
.Header_container {
    background-color: #fff
}
.Header_container .Header_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    max-width: 1296px;
    height: 56px;
    margin: auto;
    padding-inline: 8px
}
.Header_container .Header_content {
    padding-inline: 16px;
}
.Header_container .Header_content .Header_content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.Header-line {
    height: 1px;
    background-color: rgb(233, 236, 239);
}

/* join container */
.Join_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    row-gap: 40px;
}
/* join container(회원가입 타이틀) */
.Join-title_container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.Join-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}
.Join_container .Join-content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%
}
/* join content(회원가입 폼) */
.Join_content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
}
/* 이메일 인증 폼 */
.email_container .email-labelfield {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding-bottom: 8px;
}
.email_container .email-inputfield_container {
    display: flex;
}
.email_container .inputfield-wrap {
    position: relative;
    width: 100%;
}
.email_input.input-lg {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.email_input {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.input[readonly],
.input[disabled] {
    border-color: #f2f4f6;
    background-color: #f9fafb;
    cursor: default;
    pointer-events: none;
}
.input[disabled],
.input.input-disabled {
    color: #adb5bd;
}
.emailauth_container {
    margin-top: 24px;
}
.emailauth_container .emailauth-labelfield {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding-bottom: 8px;
}
.emailauth_container .emailauth-inputfield_container {
    display: flex;
}
.emailauth_container .inputfield-wrap {
    position: relative;
    width: 100%;
}
.emailauth_input.input-lg {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.emailauth_input {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
/* 카운트 */
.emailauth_container .emailauth-inputfield_container .emailauth_count {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #e54545;
}
/* 확인 resend */
.button {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}
.button-lg {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}
.button.button-contained.button-mint {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}
.button-block {
    width: 100%;
}
button:not(.button-loading).button-disabled,
button:not(.button-loading):disabled,
button:not(.button-loading)[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none
}
/* 다시 보내기 */
.resend-wrap {
    width: 100%;
    padding-top: 24px;
    text-align: center;
    font-size: 0;
}
.resend-wrap .resend {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    color: #495057;
    text-decoration: underline;
}
/* 비밀번호(패스워드) 폼 */
/* .password_container {} */

.password_container .password-wrap.password-lg>label {
    font-size: 16px;
}
.password_container .password-content>label,
.password-wrap.password-lg label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 4px;
}
.password-lg .font-resizing {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.password_container .password-content .inputfield-wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 16px;
    border: 1px solid #f2f4f6;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}
.password_container .password-content .inputfield-wrap {
    padding-left: 0;
    padding-right: 0;
}
.password_container .password-content .inputfield-wrap .input {
    flex-grow: 1;
    border: 0;
    max-width: 100%;
    border-radius: 0;
}
.password_container .password-labelfield {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding-bottom: 8px;
}
.password_container .password-inputfield_container {
    display: flex;
}
.password_container .inputfield-wrap {
    position: relative;
    width: 100%;
}
.password-helper_container {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-top: 4px;
    color: #868e96;
    text-align: left;
}
.password_input.input-lg {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.password_input {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.password-helper_container {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-top: 4px;
    color: #868e96;
    text-align: left;
}

.icon-only {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}
.icon-lg {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}
.password-content svg,
.password-content .icon-lg,
.icon-lg {
    width: 20px;
    height: 20px;
}
.password-content svg path,
.password-content .icon-lg path,
.icon-lg path {
    fill: #adb5bd;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column.gap-4 {
    gap: 4px;
}
.button-turms {
    margin-top: 40px;
    margin-bottom: 32px;
}
[only-disabled] {
    display: none;
}