<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/p2p/p2p_write.css">
    <link rel="stylesheet" href="/css/p2p/p2p_write_modal.css">
    <title>P2P 전력거래 게시글 작성</title>
    <style>
        .ReactModalPortal {
            display: none;
        }
        input[readonly] {
            background-color: #f5f5f5;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
<div id="root">
    <div id="AppLayout_Container" class="AppLayout_container__ZDJjM">

        <!-- 상단 배너 -->
        <div class="MobileHeadUpBanner_container__NDgwZ">
            <div class="MobileHeadUpBanner_content__NDBhY">
                <button aria-label="close banner" class="Button_button__OGUxN Button_text__N2NkZ Button_md__OWU3N Button_iconOnly__NzhkM iconButton MobileHeadUpBanner_closeButton__MjczO" type="button">
                    <span><span>
                        <svg width="20" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon__NDI4N" style="height: 20px; width: 20px;">
                            <path d="M11.9998 11.1515L4.424 3.57565L3.57547 4.42418L11.1513 12L3.57549 19.5759L4.42401 20.4244L11.9998 12.8486L19.5757 20.4244L20.4242 19.5759L12.8484 12L20.4242 4.4242L19.5757 3.57567L11.9998 11.1515Z" fill="#495057"></path>
                        </svg>
                    </span></span>
                </button>
                <div class="MobileHeadUpBanner_waIcon__NzU1M" aria-hidden="true">
                    <svg width="22" height="8" viewBox="0 0 115 40" xmlns="http://www.w3.org/2000/svg" class="artwork">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M110.384 0.68791V38.484L106.314 38.4549C104.422 38.4718 102.719 37.3131 102.04 35.5475C93.5244 41.7441 81.908 41.446 73.7218 34.8207C68.8453 30.8588 66.1906 24.7799 66.5987 18.5102C67.1074 10.8765 71.9626 4.21647 79.0746 1.39651C86.1866 -1.42345 94.2865 0.099787 99.8883 5.31066C100.101 2.69288 102.292 0.679297 104.918 0.68791H110.384ZM77.7921 19.9058C77.5955 26.0933 82.4221 31.2832 88.6076 31.5353C94.7931 31.2832 99.6197 26.0933 99.4231 19.9058C99.6197 13.7183 94.7931 8.52836 88.6076 8.2762C82.4221 8.52836 77.5955 13.7183 77.7921 19.9058Z"></path>
                        <path d="M48.8054 24.325L56.4519 0.658836L67.1801 0.68791L54.5911 38.484H43.8338L35.5186 14.2073L27.1744 38.484H16.4171L3.85715 0.775132H14.5854L22.2319 24.325L28.7735 4.264C29.4437 2.18156 31.3831 0.771105 33.5707 0.775132H41.1008L48.8054 24.325Z"></path>
                    </svg>
                </div>
                <div class="MobileHeadUpBanner_textBox__MmVmY">
                    <strong><span>앱에서 편리하게 </span>프로젝트를 관리해 보세요</strong>
                </div>
            </div>
            <div class="MobileHeadUpBanner_buttonContainer__YzVmN">
                <button class="Button_button__OGUxN Button_gray__ZmRjZ Button_contained__OTFhN Button_sm__YjBhN" type="button">
                    <span><span>앱 열기</span></span>
                </button>
            </div>
        </div>

        <!-- GNB -->
        <div class="AppGNBbar_container__ZGY0Y">
            <button type="button">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon__NDI4N" style="height: 24px; width: 24px;">
                    <path d="M2 5.40002H22V6.60003L2 6.60002V5.40002Z" fill="#495057"></path>
                    <path d="M2 11.4L22 11.4V12.6L2 12.6V11.4Z" fill="#495057"></path>
                    <path d="M22 17.4L2 17.4V18.6L22 18.6V17.4Z" fill="#495057"></path>
                </svg>
            </button>
            <div>개인간 전력거래 서비스</div>
            <div class="AppGNBbar_flex__MTUyY AppGNBbar_rightBox__YTYyN">
                <div class="AppGNBbar_announcementIcon__NjEzO"></div>
            </div>
        </div>

        <div class="AppLayout_main__OTk0Y">
            <div class="AppNavbarLayout_backdrop__ODdkO"></div>
            <div id="AppLayout_Contents" class="AppLayout_contents__N2Q2M">

                <!-- ✅ Form 시작 -->
                <form th:action="@{/ev/p2p/write}" method="post" enctype="multipart/form-data" id="boardForm">

                    <main class="FundingPage_container__NmZmM">
                        <div id="FundingPage_Content" class="FundingPage_box__NmQyY FundingPage_footer__Nzg5N">
                            <section>
                                <div class="FundingPage_headBanner__MzQwM"></div>
                            </section>

                            <section class="FundingPage_presentation__OWEzN">
                                <div class="FundingPage_content__OGVjM">

                                    <!-- AI 매칭 섹션 -->
                                    <div class="StoryAI_container__MmI0M spacing-9">
                                        <div class="StoryAIReview_container__YWMxN">
                                            <button class="StoryAIReview_accordion__NzljN StoryAIReview_expand__Yzk4Y" type="button">
                                                <span class="StoryAIReview_header__ODZlN">개인간 전력거래 AI 최적 매칭 시스템</span>
                                                <svg height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon__NDI4N StoryAIReview_icon__MmZmM">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.57574 7.92426L3.42427 7.07573L12 15.6515L20.5757 7.07573L21.4243 7.92426L12 17.3485L2.57574 7.92426Z" fill="#495057"></path>
                                                </svg>
                                            </button>
                                            <p class="StoryAIReview_title__NjIwZ">
                                                <i class="StoryAIReview_icon__MmZmM"></i>
                                                현재 위치 주소를 입력 하여 전력거래할 장소의 최적 매칭 서비스를 이용해 보세요.
                                            </p>
                                            <div>
                                                <img src="/image/P2P/p2p.png" alt="P2P 이미지">
                                            </div>
                                            <div class="StoryAIReview_description__M2QxM">
                                                <ul class="StoryAIReview_tooltipList__NTI5Z">
                                                    <div class="MarkdownToHtml_container__NTYxY">
                                                        <ul>
                                                            <li>최적 매칭은 최대 약 1분 내외 소요돼요.</li>
                                                            <li><strong style="font-weight: 700">AI 심사는 제출 전까지 5회 이용 가능해요.</strong></li>
                                                        </ul>
                                                    </div>
                                                    <li>개인간 전력거래 최적 매칭이 완료되면 카카오 알림이 발송됩니다., 화면 새로고침 후 매칭 결과를 확인해 주세요.</li>
                                                </ul>
                                            </div>

                                            <!-- 주소 입력 -->
                                            <h5 class="Section_title__MDg2N Section_isRequired__YzhiZ">* 서비스 이용 주소</h5>
                                            <label class="Checkbox-module_checkbox__69023 Checkbox-module_sm__1dbd2 Checkbox-module_labeled__89ffe">
                                                <input class="Checkbox-module_input__7487d" id="chk" type="checkbox">
                                                <span aria-hidden="true" class="Checkbox-module_icon__cf099">
                                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps-module_icon__d564b Checkbox-module_removeIcon__06586">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 11.4L22 11.4L22 12.6L2 12.6L2 11.4Z" fill="#495057"></path>
                                                    </svg>
                                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps-module_icon__d564b Checkbox-module_checkIcon__0ab64">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8485 6.84852L8.99999 19.697L2.15146 12.8485L3.84852 11.1515L8.99999 16.3029L20.1515 5.15146L21.8485 6.84852Z" fill="#495057"></path>
                                                    </svg>
                                                </span>
                                                <span class="Checkbox-module_content__942dc">
                                                    <span class="Checkbox-module_text__82fcd">새로운 주소 사용</span>
                                                </span>
                                            </label>

                                            <div class="AddressInputWrapper" style="display: block;">
                                                <input
                                                        type="text"
                                                        name="address"
                                                        id="addressInput"
                                                        placeholder="새로운 주소를 입력하세요."
                                                        maxlength="40"
                                                        class="Input_input__YTViM Input_lg__N2QwY"
                                                        value="서울특별시 용산구 새창로 181"
                                                        onclick="event.stopPropagation(); sample4_execDaumPostcode();"
                                                        readonly>
                                            </div>

                                            <!-- 숨겨진 주소 필드들 -->
                                            <div style="display: none;">
                                                <input type="text" id="sample4_postcode" placeholder="우편번호">
                                                <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                                                <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                                                <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                                                <span id="guide" style="color:#999;display:none"></span>
                                                <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                                                <input type="text" id="sample4_extraAddress" placeholder="참고항목">
                                            </div>
                                            <br>

                                            <!-- 지도 -->
                                            <div id="map" style="width:100%;height:350px;"></div>
                                            <br>

                                            <button class="Button_button__OGUxN Button_mint__MDExN Button_md__OWU3N Button_block__MDAyN Button_disabled__MGIxO StoryAIReview_reviewButton__ZmQ2M" disabled="" type="button">
                                                <span><span>최적 매칭 결과 &nbsp;<span>0/5</span></span></span>
                                            </button>
                                            <div class="StoryAIReview_categoryLinkWrapper__MzA0N">
                                                <p>개인간 전력거래 이용 정보 - 주소 매칭이 이뤄지면 서비스를 이용할 수 있어요.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 게시글 작성 폼 -->
                                    <div class="StoryForm_container__YzRiN">
                                        <div class="">

                                            <!-- 제목 -->
                                            <section class="Section_container__OWY4N spacing-9" style="max-width: 1024px;">
                                                <div style="max-width: 1024px;">
                                                    <div class="Section_header__ZDUxN spacing-4">
                                                        <h3 class="Section_title__MDg2N Section_isRequired__YzhiZ">
                                                            구매자/판매자 요청/응답 제목
                                                            <span class="BlindText_textBlind__NTY4O">필수</span>
                                                        </h3>
                                                    </div>
                                                    <div class="Section_content__OGY2N">
                                                        <div class="TextField_textField__OTAzM TextField_lg__Njc2M">
                                                            <label></label>
                                                            <div class="TextField_field__YmFiM TextField_noStartText__OWY2Z TextField_noEndText__NWJmO">
                                                                <input
                                                                        type="text"
                                                                        name="title"
                                                                        id="titleInput"
                                                                        placeholder="[구매자] 또는 [판매자]로 시작하세요"
                                                                        maxlength="40"
                                                                        class="Input_input__YTViM Input_lg__N2QwY"
                                                                        required>
                                                            </div>
                                                            <div class="HelperMessage_helperMessage__YmE4O" id="titleCounter">40자 남음</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                            <!-- 이미지 업로드 start-->
<!--                                            <section class="Section_container__OWY4N" style="max-width: 1024px;">-->
<!--                                                <div style="max-width: 1024px;">-->
<!--                                                    <div class="Section_header__ZDUxN">-->
<!--                                                        <h3 class="Section_title__MDg2N Section_isRequired__YzhiZ">-->
<!--                                                            구매자/판매자 요청/응답글 영상·사진-->
<!--                                                            <span class="BlindText_textBlind__NTY4O">필수</span>-->
<!--                                                        </h3>-->
<!--                                                    </div>-->
<!--                                                    <div class="Section_description__MGNlY">-->
<!--                                                        <p>구매자/판매자 요청/응답글 사진을 통해 추가 정보를 제공합니다.</p>-->
<!--                                                    </div>-->
<!--                                                    <div class="Section_content__OGY2N">-->
<!--                                                        <div class="StoryVideoOrImageField_container__NjUxM">-->
<!--                                                            <div id="story-panel-image" role="tabpanel" tabindex="0">-->
<!--                                                                <div color="mint" class="MessageBox_messageBox__YzhjZ MessageBox_mint__ZjU1Z MessageBox_vertical__N2I3Z StoryVideoOrImageField_messageBox__MzhjM">-->
<!--                                                                    <div class="MessageBox_header__NmFmM">-->
<!--                                                                        <svg height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon__NDI4N MessageBox_icon__ODc3Y">-->
<!--                                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.40002 12C1.40002 6.14578 6.14581 1.39999 12 1.39999C17.8542 1.39999 22.6 6.14578 22.6 12C22.6 17.8542 17.8542 22.6 12 22.6C6.14581 22.6 1.40002 17.8542 1.40002 12ZM13 6.99997C13 6.44768 12.5523 5.99997 12 5.99997C11.4477 5.99997 11 6.44768 11 6.99997C11 7.55225 11.4477 7.99997 12 7.99997C12.5523 7.99997 13 7.55225 13 6.99997ZM11.4 9.99997V18H12.6L12.6 9.99997H11.4Z" fill="#495057"></path>-->
<!--                                                                        </svg>-->
<!--                                                                        <div class="MessageBox_title__M2EyN">소개 사진 등록 가이드</div>-->
<!--                                                                    </div>-->
<!--                                                                    <div class="MessageBox_content__OTcyM">-->
<!--                                                                        <div>-->
<!--                                                                            <ul>-->
<!--                                                                                <li>이미지 용량 제한 및 권장 사이즈</li>-->
<!--                                                                            </ul>-->
<!--                                                                            <ul style="margin-left: 15px;">-->
<!--                                                                                <li>JPG, JPEG, PNG : 용량 10MB 이하, 해상도 800x480 픽셀 이상</li>-->
<!--                                                                                <li>GIF : 용량 2MB 이하, 해상도 800x480 픽셀~1440x864 픽셀</li>-->
<!--                                                                            </ul>-->
<!--                                                                            <ul>-->
<!--                                                                                <li>이미지는 최대 3장까지 등록 가능합니다.</li>-->
<!--                                                                            </ul>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->

<!--                                                                <div class="StoryImageField_container__OGEzZ">-->
<!--                                                                    <div class="ImageUploader_container__ZmUzN StoryImageField_imageUploader__NDFlN">-->
<!--                                                                        <strong class="BlindText_textBlind__NTY4O">업로드 이미지</strong>-->
<!--                                                                        <ul class="UploadedImageList_container__YTYxY" style="display: flex;" id="imageList"></ul>-->

<!--                                                                        <div class="ImageUploadButton_container__Y2FiO" id="uploadButton">-->
<!--                                                                            <div class="ImageUploadButton_imageUploadContent__ZTk2N">-->
<!--                                                                                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon__NDI4N ImageUploadButton_cameraIcon__OWRkY" style="height: 24px; width: 24px;">-->
<!--                                                                                    <path d="M8.60002 13C8.60002 11.1222 10.1223 9.59999 12 9.59999C13.8778 9.59999 15.4 11.1222 15.4 13C15.4 14.8778 13.8778 16.4 12 16.4C10.1223 16.4 8.60002 14.8778 8.60002 13Z" fill="#495057"></path>-->
<!--                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.219 3.39999H14.781L17.281 6.39999H22.6V20.6H1.40002V6.39999H6.719L9.219 3.39999ZM12 8.39999C9.45951 8.39999 7.40002 10.4595 7.40002 13C7.40002 15.5405 9.45951 17.6 12 17.6C14.5405 17.6 16.6 15.5405 16.6 13C16.6 10.4595 14.5405 8.39999 12 8.39999Z" fill="#495057"></path>-->
<!--                                                                                </svg>-->
<!--                                                                                <div class="ImageUploadButton_count__OWQxM">-->
<!--                                                                                    <span id="uploadCount">0/3</span>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
<!--                                                                            <label class="ImageUploadButton_uploadLabel__YTRhY" for="story-image-upload">-->
<!--                                                                                <span class="ImageUploadButton_blindText__MDcxN">이미지 업로드하기</span>-->
<!--                                                                            </label>-->
<!--                                                                            <input-->
<!--                                                                                    type="file"-->
<!--                                                                                    name="images"-->
<!--                                                                                    id="story-image-upload"-->
<!--                                                                                    multiple-->
<!--                                                                                    accept="image/jpeg, image/jpg, image/png, image/gif">-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </section>-->
                                            <!-- 이미지 업로드 end-->

                                            <!-- 이미지 업로드 start (테스트용 간단 버전) -->
                                            <section class="Section_container__OWY4N" style="max-width: 1024px;">
                                                <div style="max-width: 1024px;">
                                                    <div class="Section_header__ZDUxN">
                                                        <h3 class="Section_title__MDg2N Section_isRequired__YzhiZ">
                                                            구매자/판매자 요청/응답글 사진 (테스트)
                                                        </h3>
                                                    </div>
                                                    <div class="Section_content__OGY2N">
                                                        <!-- ✅ 간단한 파일 input -->
                                                        <input
                                                                type="file"
                                                                name="images"
                                                                id="simple-image-upload"
                                                                multiple
                                                                accept="image/*"
                                                                style="margin: 20px 0;">

                                                        <!-- 선택된 파일 표시 -->
                                                        <div id="file-list" style="margin: 10px 0; padding: 10px; background: #f5f5f5;">
                                                            <p>선택된 파일: <span id="file-count">0</span>개</p>
                                                            <ul id="file-names"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- 이미지 업로드 end -->

                                            <!-- 요약 -->
                                            <section class="Section_container__OWY4N" style="max-width: 1024px;">
                                                <div style="max-width: 1024px;">
                                                    <div class="Section_header__ZDUxN">
                                                        <h3 class="Section_title__MDg2N Section_isRequired__YzhiZ">
                                                            구매자/판매자 요청/응답글 요약
                                                            <span class="BlindText_textBlind__NTY4O">필수</span>
                                                        </h3>
                                                    </div>
                                                    <div class="Section_description__MGNlY">
                                                        <p>구매자/판매자 요청/응답글과 함께 소개 영상이나 사진과 함께 보이는 글이에요. 구매자/판매자 요청/응답글을 간결하게 소개해 주세요.</p>
                                                    </div>
                                                    <div class="Section_content__OGY2N">
                                                        <div class="StorySummaryField_container__NGVmN">
                                                            <textarea
                                                                    name="summary"
                                                                    id="summaryInput"
                                                                    maxlength="100"
                                                                    placeholder="요약을 입력해 주세요"
                                                                    class="Textarea_textarea__NDZkZ Textarea_md__MDFjY"
                                                                    required></textarea>
                                                            <p class="StorySummaryField_text__ZDkxM" id="summaryCounter">100자 남음</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                            <!-- 내용 (hidden) -->
                                            <input type="hidden" name="content" id="contentInput" value="">

                                            <!-- 태그 -->
                                            <section class="Section_container__OWY4N TagsField_container__ODIzM" style="max-width: 1024px;">
                                                <div style="max-width: 1024px;">
                                                    <div class="Section_header__ZDUxN">
                                                        <h3 class="Section_title__MDg2N Section_isRequired__YzhiZ">
                                                            검색용 태그(#)
                                                            <span class="BlindText_textBlind__NTY4O">필수</span>
                                                        </h3>
                                                    </div>
                                                    <div class="Section_description__MGNlY">
                                                        <p>프로젝트가 더 잘 검색될 수 있도록 연관성이 높은 태그를 입력해 주세요.<br>예시) 태양광, 전력판매, 용산구 (쉼표로 구분)</p>
                                                    </div>
                                                    <div class="Section_content__OGY2N">
                                                        <div class="TagField_container__NWVkZ">
                                                            <div class="TextField_textField__OTAzM TextField_lg__Njc2M TagField_textField__OWYwY">
                                                                <label></label>
                                                                <div class="TextField_field__YmFiM TextField_noStartText__OWY2Z TextField_noEndText__NWJmO">
                                                                    <input
                                                                            type="text"
                                                                            name="tags"
                                                                            id="tagsInput"
                                                                            placeholder="태그를 쉼표로 구분하여 입력하세요 (최대 10개)"
                                                                            class="Input_input__YTViM Input_lg__N2QwY">
                                                                </div>
                                                            </div>
                                                            <div class="TagField_tagCountLabel__NWM1N" id="tagCounter">0/10개의 태그</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>

                                    <!-- 저장 버튼 -->
                                    <div class="SaveButtonFooter_footer__MjA4M">
                                        <div class="SaveButtonFooter_btnWrapper__Y2M1M">
                                            <button class="Button_button__OGUxN Button_mint__MDExN Button_md__OWU3N StoryForm_submitBtn__ODBlO" type="button" onclick="history.back()">
                                                <span><span>임시 저장</span></span>
                                            </button>
                                            <div class="StoryForm_saveButtonWrapper__OGNhM">
                                                <button class="Button_button__OGUxN Button_mint__MDExN Button_contained__OTFhN Button_md__OWU3N StoryForm_submitBtn__ODBlO" type="submit">
                                                    <span><span>저장</span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </main>

                </form>
                <!-- ✅ Form 끝 -->

            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/js/p2p/p2p_write_gg.js"></script>

<script>
    // ===== 간단한 파일 처리 (썸네일 없이) =====
    const simpleFileInput = document.getElementById("simple-image-upload");
    const fileCount = document.getElementById("file-count");
    const fileNames = document.getElementById("file-names");

    simpleFileInput.addEventListener("change", (e) => {
        const files = e.target.files;

        // 최대 3개 제한
        if (files.length > 3) {
            alert("이미지는 최대 3개까지 선택 가능합니다.");
            simpleFileInput.value = "";  // 초기화
            return;
        }

        // 파일 개수 표시
        fileCount.textContent = files.length;

        // 파일명 목록 표시
        fileNames.innerHTML = '';
        for (let i = 0; i < files.length; i++) {
            const li = document.createElement("li");
            li.textContent = `${files[i].name} (${(files[i].size / 1024).toFixed(2)} KB)`;
            fileNames.appendChild(li);
        }

        console.log("▶ 선택된 파일:", files.length + "개");
    });

    // 제목 글자수 카운터
    const titleInput = document.getElementById("titleInput");
    const titleCounter = document.getElementById("titleCounter");
    titleInput.addEventListener("input", () => {
        const remaining = 40 - titleInput.value.length;
        titleCounter.textContent = `${remaining}자 남음`;
    });

    // 요약 글자수 카운터
    const summaryInput = document.getElementById("summaryInput");
    const summaryCounter = document.getElementById("summaryCounter");
    summaryInput.addEventListener("input", () => {
        const remaining = 100 - summaryInput.value.length;
        summaryCounter.textContent = `${remaining}자 남음`;
    });

    // 태그 카운터
    const tagsInput = document.getElementById("tagsInput");
    const tagCounter = document.getElementById("tagCounter");
    tagsInput.addEventListener("input", () => {
        const tags = tagsInput.value.split(/[,\s]+/).filter(t => t.trim() !== '');
        const count = Math.min(tags.length, 10);
        tagCounter.textContent = `${count}/10개의 태그`;
    });

    // Form 제출 전 내용 설정
    document.getElementById("boardForm").addEventListener("submit", (e) => {
        const files = simpleFileInput.files;
        console.log("▶ Form 제출 시 파일:", files.length + "개");

        // 내용 = 요약 (임시)
        const content = summaryInput.value || titleInput.value;
        document.getElementById("contentInput").value = content;
    });

    // 주소 체크박스
    const checkbox = document.getElementById("chk");
    const addressInput = document.getElementById("addressInput");
    const defaultAddress = "서울특별시 용산구 새창로 181";

    checkbox.addEventListener("change", () => {
        if (checkbox.checked) {
            addressInput.readOnly = false;
            addressInput.value = "";
            addressInput.focus();
        } else {
            addressInput.readOnly = true;
            addressInput.value = defaultAddress;
        }
    });

    // 다음 주소 API
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var roadAddr = data.roadAddress;
                document.getElementById("addressInput").value = roadAddr;
            }
        }).open();
    }
</script>

</body>
</html>