<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/p2p/p2p_write_modal.css">
    <title>Document</title>
</head>
<body>


    <div class="ReactModalPortal">
        <div class="ConfirmModal_overlay__MThlZ waffle__modal__overlay " style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal_confirmModal__M2IzZ ConfirmModal_sizeMd__Mjk1Z ConfirmModal_contentAfterOpen__MGM1Y" tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal_header__MmJjO" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_title__Y2NjM">08:43
                        
                    </div>
                </div>
                <div class="ConfirmModal_content__ODY3N undefined" style="padding-left: 24px; padding-right: 24px;">
                    <div>스튜디오     접속 후 50분 동안 한 페이지에 머물러 있어, 위 시간이 지나면 보안을 위해 자동 로그아웃이 돼요. 원치 않으면 [계속해서 작성하기]를 눌러 주세요.

                    </div>
                    <button class="Button_button__OGUxN Button_mint__MDExN Button_contained__OTFhN Button_lg__ZWM1O Button_block__MDAyN" type="button" style="margin-top: 24px;">
                        <span>
                            <span>계속해서 작성하기</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>