<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/p2p/p2p_list_notify.css">

    <title>Document</title>
</head>
<body>
    

    <div class="ReactModalPortal">
        <div class="ConfirmModal_overlay__3JoaM waffle__modal__overlay " style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="ConfirmModal_confirmModal__2YF-6 ConfirmModal_sizeMobile__1GLwX ConfirmModal_contentAfterOpen__1YIRv" tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal_header__3QYNv" style="padding-left: 24px; padding-right: 24px;">
                    <div class="ConfirmModal_closeIconRoot__2qHDe"><button aria-label="모달 닫기" class="Button_button__1U5se Button_text__1eVrZ Button_md__3yvYX" type="button">
                        <span>
                            <span>
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon__2zN1K" style="height: 24px; width: 24px;">
                                    <path d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z" fill="#495057"></path>
                                </svg>
                            </span>
                        </span>
                    </button>
                </div>
                <div class="ConfirmModal_title__g7w2K">신고하기</div>
            </div>
            <div class="ConfirmModal_content__8zABq undefined" style="padding-left: 24px; padding-right: 24px;">
                <div class="ReportModal_container__43-xQ">
                    <p class="ReportModal_guideMessage__uz1l-">프로젝트 및 게시글에 부적절한 내용이 있다면, 아래 내용을 포함하여 이메일로 보내 주세요.</p>
                    <div class="ReportModal_email__1-Qrd">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" class="WithProps_icon__2zN1K" style="height: 20px; width: 20px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6 4.4H1.4v15.2h21.2V4.4zm-20 2.447V18.4h18.8V6.847l-9.4 8.46-9.4-8.46zM20.992 5.6H3.008L12 13.693 20.992 5.6z" fill="#495057"></path>
                        </svg>info@wadiz.kr</div>
                        <div class="ReportModal_listWrapper__35Stn">
                            <h5>아래 신고 접수 사항을 반드시 적어주세요.</h5>
                            <div class="MarkdownToHtml_container__3y6h7 ReportModal_list__U51Dq">
                                <ol>
                                    <li>신고인 아이디 (필수)</li>
                                    <li>게시물 작성자 아이디 (필수)</li>
                                    <li>프로젝트 이름 또는 URL (필수)</li>
                                    <li>신고하는 이유 예시<br>*   타인을 모욕, 명예훼손하는 내용이 있어요.<br>*   개인정보를 침해하는 내용이 있어요.<br>*   차별, 음란, 범죄, 욕설 등 부적절한 내용이 있어요.</li>
                                    </ol>
                                </div>
                            </div>
                            <p class="ReportModal_infoMessage__2THgN">신고인의 정보 및 신고 내용은 안전하게 보호되며 외부에 제공되지 않습니다.</p>
                            <a class="ReportModal_link__19zXY" href="/web/wterms/community" target="_blank">커뮤니티 정책 보기 
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="16" class="WithProps_icon__2zN1K" style="height: 16px; width: 16px;">
                                    <path d="M15.1 4.2h4.551l-7.975 7.976.848.848L20.5 5.05V9.6h1.2V3h-6.6v1.2z" fill="#495057"></path><path d="M10.1 3H2.5v18.2h19.2v-6.6h-1.2V20H3.7V4.2h6.4V3z" fill="#495057"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="ConfirmModal_footer__1T1CY" style="padding-left: 24px; padding-right: 24px;">
                        <div class="ConfirmModal_buttonGroup__1HxZh">
                            <button class="Button_button__1U5se Button_lg__CD3oW ConfirmModal_negativeButton__St9Id" type="button">
                                <span>
                                    <span>닫기</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




</body>
</html>