@charset "UTF-8";
/* 공통 */

/* reset.css */
*,*:before,*:after {box-sizing: border-box;}
html,body,button,input,textarea,select,h1,h2,h3,h4,h5,h6,p {font-family: "Pretendard", sans-serif;}
address,article,aside,b,body,a,button,canvas,caption,dl,dt,dd,div,html,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,big,cite,code,del,dfn,em,img,small,strike,strong,sub,sup,var,u,i,center,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,select,textarea,input,hr {margin: 0;border: 0;padding: 0;vertical-align: baseline}
article,aside,figcaption,figure,footer,header,main,nav,section {display: block;}
ul,ol,li {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: "";content: none;}
img,picture,video,canvas {max-width: 100%;}
iframe,img,video {vertical-align: top;}
video,img {max-width: 100%;height: auto;}
address,em,var {font-weight: inherit;font-style: normal;}
a,button {outline: none;-webkit-appearance: none;}
a[data-ga-action] *,a[data-ga-category] *,a[data-ga-label] *,button[data-ga-action] *,button[data-ga-category] *,button[data-ga-label] * {pointer-events: none;}
a {cursor: pointer;text-decoration: none;color: inherit;}
button {background-color: transparent;font-size: inherit;}
button:not(:disabled) {cursor: pointer;}
input,textarea {background: none;}
input::placeholder,textarea::placeholder {font-size: inherit;font-weight: 400;line-height: 1.5;color: #adb5bd !important;;}
html,body,button,input,textarea,select,h1,h2,h3,h4,h5,h6,p {color: inherit;font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, sans-serif;font-size: inherit;font-weight: inherit;line-height: inherit;}
input::-webkit-input-placeholder {color: inherit;}
input[type=search]::-webkit-search-cancel-button {-webkit-appearance: none;display: none;}
input[type=search]::-webkit-search-decoration {-webkit-appearance: none;}
input[type=text]::-ms-clear {display: none;}
table {border-collapse: collapse;border-spacing: 0;}
table th {font-weight: 400;}
body {overflow-x: hidden;font-size: 15px;font-feature-settings: "case";font-weight: 400;line-height: inherit;word-break: keep-all;overflow-wrap: anywhere;-webkit-tap-highlight-color: transparent;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-o-text-size-adjust: none;}
:root {--scrollbar-width: 0;--safe-area-inset-top: env(safe-area-inset-top);--safe-area-inset-right: env(safe-area-inset-right);--safe-area-inset-bottom: env(safe-area-inset-bottom);--safe-area-inset-left: env(safe-area-inset-left);}
body {word-break: keep-all;overflow-wrap: anywhere;font-feature-settings: "case";font-size: 16px;line-height: 1.5;color: #212529;word-break: keep-all;overflow-wrap: anywhere;font-size: 16px;line-height: 1.5;color: #212529;word-break: keep-all;overflow-wrap: anywhere;}
a>svg {display: flex;margin: 0;padding: 0}