@charset "UTF-8";

/* Checkbox */
.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 0
}
.checkbox .checkbox-icon {
    display: block;
    position: relative;
    flex-shrink: 0;
    transition-property: opacity, border-color, background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box
}
.checkbox .checkbox-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s
}
.checkbox .checkbox-icon svg path {
    fill: #fff
}
.checkbox .checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1
}
.checkbox .checkbox-input+.checkbox-icon .checkbox-checkIcon,
.checkbox .checkbox-input+.checkbox-icon .checkbox-removeIcon {
    opacity: 0
}
.checkbox .checkbox-input:checked+.checkbox-icon .checkbox-checkIcon {
    opacity: 1
}
.checkbox .checkbox-input:indeterminate+.checkbox-icon .checkbox-removeIcon {
    opacity: 1
}
.checkbox .checkbox-input:indeterminate+.checkbox-icon .checkbox-checkIcon {
    opacity: 0
}
.checkbox .checkbox-input:checked+.checkbox-icon,
.checkbox .checkbox-input:indeterminate+.checkbox-icon {
    border: solid 1px #00b2b2;
    background-color: #00c4c4
}
.checkbox .checkbox-input:checked+.checkbox-icon svg path,
.checkbox .checkbox-input:indeterminate+.checkbox-icon svg path {
    fill: #fff
}
.checkbox .checkbox-input:indeterminate+.checkbox-icon svg path {
    stroke: #fff
}
.checkbox .checkbox-input:focus-visible+.checkbox-icon {
    outline: 2px solid #00c4c4;
    outline-offset: 2px
}
.checkbox.checkbox-labeled {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}
.checkbox.checkbox-labeled .checkbox-icon {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle
}
.checkbox.checkbox-labeled .checkbox-content {
    display: inline-block;
    color: #495057
}
.checkbox.checkbox-labeled .checkbox-content .checkbox-text {
    display: flex;
    align-items: center;
    gap: 2px
}
.checkbox.checkbox-labeled.checkbox-sm .checkbox-content,
.checkbox.checkbox-labeled.checkbox-md .checkbox-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}
.checkbox.checkbox-labeled.checkbox-lg .checkbox-content {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5
}
.checkbox.checkbox-error .checkbox-icon {
    border-color: #f66
}
.checkbox.checkbox-sm .checkbox-icon {
    width: 16px;
    height: 16px
}
.checkbox.checkbox-sm svg {
    width: 10px;
    height: 10px
}
.checkbox.checkbox-md .checkbox-icon {
    width: 20px;
    height: 20px
}
.checkbox.checkbox-md svg {
    width: 12px;
    height: 12px
}
.checkbox.checkbox-lg .checkbox-icon {
    width: 24px;
    height: 24px
}
.checkbox.checkbox-lg svg {
    width: 16px;
    height: 16px
}
.checkbox.checkbox-horizontal {
    flex-direction: row;
    margin-top: 0;
    width: auto
}
.checkbox.checkbox-horizontal.checkbox-sm {
    margin-right: 32px
}
.checkbox.checkbox-horizontal.checkbox-md,
.checkbox.checkbox-horizontal.checkbox-lg {
    margin-right: 40px
}
.checkbox .checkbox-input:disabled+.checkbox-icon {
    opacity: .4
}
.checkbox .checkbox-input:disabled+.checkbox-icon+.checkbox-content {
    opacity: .4
}

@media (hover: hover) {
    .checkbox:hover .checkbox-input:not(:disabled)+.checkbox-icon {
        border-color: #adb5bd;
        background-color: #f2f4f6
    }
    .checkbox:hover .checkbox-input:checked+.checkbox-icon,
    .checkbox:hover .checkbox-input:indeterminate+.checkbox-icon {
        border-color: #00a2a2;
        background-color: #00b2b2
    }
}
.checkbox-message {
    margin-top: 12px
}
.checkbox-message.checkbox-sm {
    padding-left: 24px
}
.checkbox-message.checkbox-md {
    padding-left: 28px
}
.checkbox-message.checkbox-lg {
    padding-left: 32px
}

/* button */
.button-loader {
    background-color: transparent
}
.button {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5
}
.button span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}
.button span svg {
    display: inline-block
}

a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none
}

a.button.button-block {
    text-align: center
}

@media (hover: hover) and (pointer: fine) {

    .button.button-hover,
    .button:hover {
        border-color: #adb5bd;
        background-color: #f2f4f6;
        color: #343a40
    }
}
.button:active,
.button.button-active {
    text-decoration: none;
    border-color: #adb5bd;
    background-color: #f2f4f6;
    color: #343a40
}
.button:not(.button-loading).button-disabled,
.button:not(.button-loading):disabled,
.button:not(.button-loading)[disabled] {
    opacity: .4;
    cursor: default;
    pointer-events: none
}
.button.button-block {
    width: 100%
}
.button.button-loading {
    cursor: default;
    pointer-events: none
}
.button.button-loading>span {
    opacity: 0
}
.button.button-loading .button-loader {
    opacity: 1
}
.button.button-loading.button-iconOnly>span svg {
    opacity: 0
}

@media (hover: hover) {
    .button.button-loading.button-mint:hover .button-loader circle {
        stroke: #fff !important
    }
}
.button.button-sm {
    padding-inline: 12px;
    height: 32px;
    font-size: 14px
}
.button.button-sm svg.button-icon {
    width: 16px;
    height: 16px
}
.button.button-sm svg.button-icon:first-child {
    margin-right: 4px
}
.button.button-sm svg.button-icon:last-child {
    margin-left: 4px
}
.button.button-md {
    padding-inline: 16px;
    height: 40px;
    font-size: 14px
}
.button.button-md svg.button-icon {
    width: 16px;
    height: 16px
}
.button.button-md svg.button-icon:first-child {
    margin-right: 6px
}
.button.button-md svg.button-icon:last-child {
    margin-left: 6px
}
.button.button-lg {
    padding-inline: 24px;
    height: 48px;
    font-size: 16px
}
.button.button-lg svg.button-icon {
    width: 20px;
    height: 20px
}
.button.button-lg svg.button-icon:first-child {
    margin-right: 6px
}
.button.button-lg svg.button-icon:last-child {
    margin-left: 6px
}
.button.button-xl {
    padding-inline: 18px;
    height: 56px;
    font-size: 18px
}
.button.button-xl svg.button-icon {
    width: 24px;
    height: 24px
}
.button.button-xl svg.button-icon:first-child {
    margin-right: 8px
}
.button.button-xl svg.button-icon:last-child {
    margin-left: 8px
}
.button.button-circular {
    border-radius: 999em
}
.button.button-mint {
    border-color: #00c4c4;
    color: #00c4c4
}

@media (hover: hover) and (pointer: fine) {

    .button.button-mint.button-hover,
    .button.button-mint:hover {
        border-color: #00c4c4;
        background-color: #e7f9f9;
        color: #00b2b2
    }
}
.button.button-mint:active,
.button.button-mint.button-active {
    text-decoration: none;
    border-color: #00c4c4;
    background-color: #e7f9f9;
    color: #00b2b2
}
.button.button-gray {
    border-color: #cdd3d8;
    color: #495057
}

@media (hover: hover) and (pointer: fine) {

    .button.button-gray.button-hover,
    .button.button-gray:hover {
        border-color: #adb5bd;
        background-color: #f2f4f6;
        color: #343a40
    }
}
.button.button-gray:active,
.button.button-gray.button-active {
    text-decoration: none;
    border-color: #adb5bd;
    background-color: #f2f4f6;
    color: #343a40
}
.button.button-blue {
    border-color: #557cf2;
    color: #557cf2
}

@media (hover: hover) and (pointer: fine) {

    .button.button-blue.button-hover,
    .button.button-blue:hover {
        border-color: #4167d9;
        background-color: #eff3fd;
        color: #4167d9
    }
}
.button.button-blue:active,
.button.button-blue.button-active {
    text-decoration: none;
    border-color: #4167d9;
    background-color: #eff3fd;
    color: #4167d9
}
.button.button-red {
    border-color: #f66;
    color: #f66
}

@media (hover: hover) and (pointer: fine) {

    .button.button-red.button-hover,
    .button.button-red:hover {
        border-color: #f25555;
        background-color: #fff1f1;
        color: #f25555
    }
}
.button.button-red:active,
.button.button-red.button-active {
    text-decoration: none;
    border-color: #f25555;
    background-color: #fff1f1;
    color: #f25555
}
.button.button-tint.button-mint {
    border-color: #e7f9f9;
    background-color: #e7f9f9;
    color: #00c4c4
}

@media (hover: hover) and (pointer: fine) {

    .button.button-tint.button-mint.button-hover,
    .button.button-tint.button-mint:hover {
        border-color: #b9eeee;
        background-color: #b9eeee;
        color: #00b2b2
    }
}
.button.button-tint.button-mint:active,
.button.button-tint.button-mint.button-active {
    text-decoration: none;
    border-color: #b9eeee;
    background-color: #b9eeee;
    color: #00b2b2
}
.button.button-tint.button-gray {
    border-color: #f2f4f6;
    background-color: #f2f4f6;
    color: #495057
}

@media (hover: hover) and (pointer: fine) {

    .button.button-tint.button-gray.button-hover,
    .button.button-tint.button-gray:hover {
        border-color: #e9ecef;
        background-color: #e9ecef;
        color: #343a40
    }
}
.button.button-tint.button-gray:active,
.button.button-tint.button-gray.button-active {
    text-decoration: none;
    border-color: #e9ecef;
    background-color: #e9ecef;
    color: #343a40
}
.button.button-tint.button-blue {
    border-color: #eff3fd;
    background-color: #eff3fd;
    color: #557cf2
}

@media (hover: hover) and (pointer: fine) {

    .button.button-tint.button-blue.button-hover,
    .button.button-tint.button-blue:hover {
        border-color: #d0dbfb;
        background-color: #d0dbfb;
        color: #4167d9
    }
}
.button.button-tint.button-blue:active,
.button.button-tint.button-blue.button-active {
    text-decoration: none;
    border-color: #d0dbfb;
    background-color: #d0dbfb;
    color: #4167d9
}
.button.button-tint.button-red {
    border-color: #fff1f1;
    background-color: #fff1f1;
    color: #f66
}

@media (hover: hover) and (pointer: fine) {

    .button.button-tint.button-red.button-hover,
    .button.button-tint.button-red:hover {
        border-color: #ffd5d5;
        background-color: #ffd5d5;
        color: #f25555
    }
}
.button.button-tint.button-red:active,
.button.button-tint.button-red.button-active {
    text-decoration: none;
    border-color: #ffd5d5;
    background-color: #ffd5d5;
    color: #f25555
}
.button.button-contained.button-mint {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff
}

@media (hover: hover) and (pointer: fine) {

    .button.button-contained.button-mint.button-hover,
    .button.button-contained.button-mint:hover {
        border-color: #00b2b2;
        background-color: #00b2b2;
        color: #fff
    }
}
.button.button-contained.button-mint:active,
.button.button-contained.button-mint.button-active {
    text-decoration: none;
    border-color: #00b2b2;
    background-color: #00b2b2;
    color: #fff
}
.button.button-contained.button-gray {
    border-color: #495057;
    background-color: #495057;
    color: #fff
}

@media (hover: hover) and (pointer: fine) {

    .button.button-contained.button-gray.button-hover,
    .button.button-contained.button-gray:hover {
        border-color: #343a40;
        background-color: #343a40;
        color: #fff
    }
}
.button.button-contained.button-gray:active,
.button.button-contained.button-gray.button-active {
    text-decoration: none;
    border-color: #343a40;
    background-color: #343a40;
    color: #fff
}
.button.button-contained.button-blue {
    border-color: #557cf2;
    background-color: #557cf2;
    color: #fff
}

@media (hover: hover) and (pointer: fine) {

    .button.button-contained.button-blue.button-hover,
    .button.button-contained.button-blue:hover {
        border-color: #4167d9;
        background-color: #4167d9;
        color: #fff
    }
}
.button.button-contained.button-blue:active,
.button.button-contained.button-blue.button-active {
    text-decoration: none;
    border-color: #4167d9;
    background-color: #4167d9;
    color: #fff
}
.button.button-contained.button-red {
    border-color: #f66;
    background-color: #f66;
    color: #fff
}

@media (hover: hover) and (pointer: fine) {

    .button.button-contained.button-red.button-hover,
    .button.button-contained.button-red:hover {
        border-color: #f25555;
        background-color: #f25555;
        color: #fff
    }
}
.button.button-contained.button-red:active,
.button.button-contained.button-red.button-active {
    text-decoration: none;
    border-color: #f25555;
    background-color: #f25555;
    color: #fff
}
.button.button-text,
.button.button-textLink {
    border: 0;
    border-color: transparent;
    padding: 0;
    height: auto
}

@media (hover: hover) and (pointer: fine) {

    .button.button-text.button-hover,
    .button.button-text:hover,
    .button.button-textLink.button-hover,
    .button.button-textLink:hover {
        background-color: transparent
    }
}
.button.button-text:active,
.button.button-text.button-active,
.button.button-textLink:active,
.button.button-textLink.button-active {
    text-decoration: none;
    background-color: transparent
}
.button.button-textLink {
    margin-bottom: 1px
}
.button.button-textLink:before {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 1px;
    content: ""
}
.button.button-textLink.button-mint:before {
    background-color: #00c4c4
}
.button.button-textLink.button-gray:before {
    background-color: #495057
}
.button.button-textLink.button-blue:before {
    background-color: #557cf2
}
.button.button-textLink.button-red:before {
    background-color: #f66
}
.button svg.button-icon {
    width: 16px;
    height: 16px
}
.button svg.button-icon:first-child {
    margin-right: 6px
}
.button svg.button-icon:last-child {
    margin-left: 6px
}
.button.button-inline-block {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    line-height: 1.25
}
.button.button-iconOnly {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0
}
.button.button-iconOnly>span svg {
    width: 16px;
    height: 16px
}
.button.button-iconOnly.button-sm {
    width: 32px;
    height: 32px
}
.button.button-iconOnly.button-sm>span svg {
    width: 16px;
    height: 16px
}
.button.button-iconOnly.button-md {
    width: 40px;
    height: 40px
}
.button.button-iconOnly.button-md>span svg {
    width: 16px;
    height: 16px
}
.button.button-iconOnly.button-lg {
    width: 48px;
    height: 48px
}
.button.button-iconOnly.button-lg>span svg {
    width: 20px;
    height: 20px
}
.button.button-iconOnly.button-xl {
    width: 56px;
    height: 56px
}
.button.button-iconOnly.button-xl>span svg {
    width: 24px;
    height: 24px
}

/* FindISection */
.FindISection-signUp {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    text-align: center
}

/* Input */
.Input-input {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5
}
@media (hover: hover) {
    .Input-input:hover {
        border-color: #868e96
    }
}
.Input-input:focus,
.Input-input.Input-active {
    border-color: #00c4c4
}
.Input-input[readonly],
.Input-input[disabled] {
    border-color: #f2f4f6;
    background-color: #f9fafb;
    cursor: default;
    pointer-events: none
}
.Input-input[disabled],
.Input-input.Input-disabled {
    color: #adb5bd
}
.Input-input.Input-error {
    border-color: #f66
}
.Input-input::-webkit-input-placeholder {
    color: #adb5bd
}
.Input-input[type=number]::-webkit-inner-spin-button,
.Input-input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}
.Input-input.Input-sm {
    height: 32px;
    min-height: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}
.Input-input.Input-md {
    height: 40px;
    min-height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}
.Input-input.Input-lg {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5
}
.Input-input.Input-xl {
    height: 56px;
    min-height: 56px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5
}

/* input */
.input-container {
    display: block;
    position: relative
}
.input-container>label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 4px
}
.input-container>label>button {
    vertical-align: -2px
}
.input-container>label>div {
    display: inline-block
}
.input-container>label .input-isRequired {
    color: #f66
}
.input-container.input-xl .input-wrap {
    gap: 16px
}
.input-container .input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 16px;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden
}
.input-container .input-wrap:hover {
    border-color: #868e96
}
.input-container .input-wrap.input-focused {
    border-color: #00c4c4
}
.input-container .input-wrap.input-error {
    border-color: #f66
}
.input-container .input-wrap.input-disabled,
.input-container .input-wrap.input-readonly {
    background-color: #f9fafb;
    border-color: #f2f4f6;
    cursor: default
}
.input-container .input-wrap.input-disabled input,
.input-container .input-wrap.input-disabled textarea,
.input-container .input-wrap.input-readonly input,
.input-container .input-wrap.input-readonly textarea {
    cursor: default
}
.input-container .input-wrap.input-noStartText {
    padding-left: 0
}
.input-container .input-wrap.input-noStartText input,
.input-container .input-wrap.input-noStartText textarea {
    padding-left: 16px
}
.input-container .input-wrap.input-noEndText {
    padding-right: 0
}
.input-container .input-wrap.input-noEndText input,
.input-container .input-wrap.input-noEndText textarea {
    padding-right: 16px
}
.input-container .input-wrap.input-hasStartIcon {
    padding-left: 0
}
.input-container .input-wrap.input-hasStartIcon>.input-startIcon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd
}
.input-container .input-wrap.input-hasEndIcon {
    padding-right: 0
}
.input-container .input-wrap.input-hasEndIcon>.input-endIcon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd
}
.input-container .input-wrap svg {
    box-sizing: content-box
}
.input-container .input-wrap textarea {
    padding-inline: 0
}
.input-container .input-wrap input {
    padding: 0
}
.input-container .input-wrap input,
.input-container .input-wrap textarea {
    flex-grow: 1;
    border: 0;
    max-width: 100%;
    border-radius: 0
}
.input-container .input-wrap>span {
    white-space: nowrap;
    color: #495057
}
.input-container .input-wrap button {
    border: 0
}
.input-container .input-wrap button path {
    fill: #adb5bd
}
.input-container .input-wrap button.input-passwordIcon,
.input-container .input-wrap button.input-clearIcon {
    pointer-events: unset
}
.input-container .input-wrap button.input-passwordIcon:hover,
.input-container .input-wrap button.input-passwordIcon:active,
.input-container .input-wrap button.input-passwordIcon:focus,
.input-container .input-wrap button.input-clearIcon:hover,
.input-container .input-wrap button.input-clearIcon:active,
.input-container .input-wrap button.input-clearIcon:focus {
    background-color: transparent
}
.input-container.input-loading [class*=end] {
    background-color: transparent;
    inset: auto
}
.input-container.input-success .input-endIcon {
    fill: #00c4c4
}
.input-container.input-sm>label {
    font-size: 12px
}
.input-container.input-sm svg,
.input-container.input-sm .input-endIcon {
    width: 16px;
    height: 16px
}
.input-container.input-sm .input-hasStartIcon input {
    padding-left: 40px
}
.input-container.input-sm .input-hasEndIcon input {
    padding-right: 40px
}
.input-container.input-md>label {
    font-size: 14px
}
.input-container.input-md svg,
.input-container.input-md .input-endIcon {
    width: 16px;
    height: 16px
}
.input-container.input-md .input-hasStartIcon input {
    padding-left: 40px
}
.input-container.input-md .input-hasEndIcon input {
    padding-right: 40px
}
.input-container.input-lg>label {
    font-size: 16px
}
.input-container.input-lg svg,
.input-container.input-lg .input-endIcon {
    width: 20px;
    height: 20px
}
.input-container.input-lg .input-hasStartIcon input {
    padding-left: 44px
}
.input-container.input-lg .input-hasEndIcon input {
    padding-right: 44px
}
.input-container.input-xl>label {
    font-size: 18px
}
.input-container.input-xl svg,
.input-container.input-xl .input-endIcon {
    width: 24px;
    height: 24px
}
.input-container.input-xl .input-hasStartIcon input {
    padding-left: 56px
}
.input-container.input-xl .input-hasEndIcon input {
    padding-right: 56px
}
.input-container .input-isOptional {
    padding-left: 2px;
    color: #adb5bd
}


/* Header */
.Header-container {
    display: flex;
    margin-bottom: 64px;
    text-align: center
}
.Header-container .Header-link {
    display: inline-block
}

.Header-container {
    display: flex;
    justify-self: center;
    margin-bottom: 16px
}


/* login */
@keyframes login-fade-out {
    0% {
        opacity: 1
    }

    to {
        pointer-events: none;
        opacity: 0
    }
}
.login-container .login-snsSignUpTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 12px
}
.login-container .login-login_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 72px
}


.login-container .login-login_container {
    margin-top: 16px;
    width: 560px
}
.login-container .login-login_container .login-divider {
    height: 8px
}
.login-container .login-login_container .login-rememberMe {
    display: flex;
    flex-direction: row;
    height: 21px;
    justify-content: flex-end
}

.login-container .login-login_container .login-rememberMe {
    margin-bottom: 16px
}
.login-container .login-login_container .login-rememberMe .login-tooltip-wrap {
    margin-top: -2px;
    margin-bottom: 4px;
    margin-left: 2px;
    padding: 1px
}
.login-container .login-login_container .login-rememberMe .login-tooltip-wrap .login-tooltip {
    height: 18px;
    margin-top: 2px
}
.login-container .login-login_container .login-desktopTooltip {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
    z-index: 8;
    max-width: 264px;
    margin-top: 24px;
    padding: 12px;
    border-radius: 3px;
    color: #fff;
    word-break: keep-all;
    overflow-wrap: break-word;
    white-space: break-spaces;
    background-color: #343a40;
    animation: login-fade-out .5s;
    animation-fill-mode: both;
    animation-delay: 4s
}



.login-container .login-content {
    border: 1px solid #f2f4f6;
    background-color: #fff;
    border-radius: 16px;
    padding: 40px 48px;
    width: 560px
}

.login-container .login-content .login-social_container {
    position: relative
}

.login-container .login-content .login-social_container {
    min-width: 462px;
    min-height: 248px
}
.login-container .login-content .login-social_container .login-fullWidthButtonList {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 24px
}

.login-container .login-content .login-social_container .login-fullWidthButtonList {
    margin-top: 0
}
.login-container .login-content .login-social_container .login-fullWidthButtonList .login-fullWidthButton {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border-color: #e9ecef;
    height: 48px
}
.login-container .login-content .login-social_container .login-fullWidthButtonList .login-fullWidthButton:focus-visible {
    outline: 2px solid #00c4c4;
    outline-offset: 2px
}
.login-container .login-content .login-social_container .login-fullWidthButtonList .login-fullWidthButton .login-button_contents {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    column-gap: 8px
}
.login-container .login-content .login-social_container .login-fullWidthButtonList .login-fullWidthButton .login-label-wrap {
    position: absolute;
    top: -9px;
    right: 8px
}
.login-container .login-content .login-social_container .login-fullWidthButtonList .login-fullWidthButton .login-naverIcon svg path {
    fill: #fff
}
.login-container .login-content .login-social_container .login-fullWidthButtonList .login-naverButton {
    background-color: #07d337;
    border-color: #07d337;
    color: #fff
}
.login-container .login-content .login-social_container .login-fullWidthButtonList .login-kakaoButton {
    background-color: #fee500;
    border-color: #fee500
}
.login-container .login-content .login-social_container .login-circularButtonList {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-top: 40px
}
.login-container .login-content .login-social_container .login-circularButtonList .login-button-wrap {
    position: relative
}
.login-container .login-content .login-social_container .login-circularButtonList .login-button-wrap .login-label-wrap {
    width: max-content;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.login-container .login-content .login-social_container .login-circularButtonList .login-button-wrap .login-circularButton {
    width: 48px;
    height: 48px;
    border-radius: 36px;
    border: 1px solid #e9ecef;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center
}
.login-container .login-content .login-social_container .login-circularButtonList .login-button-wrap .login-circularButton span {
    vertical-align: text-top
}
.login-container .login-content .login-social_container .login-circularButtonList .login-button-wrap .login-circularButton:focus-visible {
    outline: 2px solid #00c4c4;
    outline-offset: 2px
}
.login-container .login-content .login-emailLogin-wrap,
.login-container .login-content .login-policyGuide {
    margin-top: 48px
}

.login-container .login-content .login-policyGuide {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center
}
.login-emailIcon {
    color: #00c4c4
}
.login-QRImage {
    margin: 0 auto;
    background-image: url(https://static.wadiz.kr/global-account/assets/images/signin_qr.png);
    background-position: bottom 0;
    background-size: cover;
    width: 104px;
    height: 104px
}
.login-innerButton {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5
}


/* label */
.label-container {
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
    line-height: 0
}
.label-badge {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    flex-shrink: 0
}
.label-badge.label-sm {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 4px;
    height: 18px
}
.label-badge.label-md {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 6px;
    height: 20px
}
.label-badge.label-lg {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 8px;
    height: 24px
}
.label-badge.label-circular {
    border-radius: 16px
}
.label-badge.label-mint.label-solid {
    border: solid 1px #00c4c4;
    background-color: #00c4c4;
    color: #fff
}
.label-badge.label-mint.label-outlined {
    border: solid 1px #00c4c4;
    background-color: #fff;
    color: #00c4c4
}
.label-badge.label-mint.label-tint {
    border: solid 1px #e7f9f9;
    background-color: #e7f9f9;
    color: #00c4c4
}
.label-badge.label-blue.label-solid {
    border: solid 1px #557cf2;
    background-color: #557cf2;
    color: #fff
}
.label-badge.label-blue.label-outlined {
    border: solid 1px #557cf2;
    background-color: #fff;
    color: #557cf2
}
.label-badge.label-blue.label-tint {
    border: solid 1px #eff3fd;
    background-color: #eff3fd;
    color: #557cf2
}
.label-badge.label-red.label-solid {
    border: solid 1px #f66;
    background-color: #f66;
    color: #fff
}
.label-badge.label-red.label-outlined {
    border: solid 1px #f66;
    background-color: #fff;
    color: #f66
}
.label-badge.label-red.label-tint {
    border: solid 1px #fff1f1;
    background-color: #fff1f1;
    color: #f66
}
.label-badge.label-gray.label-solid {
    border: solid 1px #495057;
    background-color: #495057;
    color: #fff
}
.label-badge.label-gray.label-outlined {
    border: solid 1px #495057;
    background-color: #fff;
    color: #495057
}
.label-badge.label-gray.label-tint {
    border: solid 1px #f2f4f6;
    background-color: #f2f4f6;
    color: #495057
}
.label-badge.label-yellow.label-solid {
    border: solid 1px #ffad15;
    background-color: #ffad15;
    color: #fff
}
.label-badge.label-yellow.label-outlined {
    border: solid 1px #ffad15;
    background-color: #fff;
    color: #ffad15
}
.label-badge.label-yellow.label-tint {
    border: solid 1px #fff8e7;
    background-color: #fff8e7;
    color: #ffad15
}



/* email */
.email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px
}
.email-container .email-headerAndTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px
}
.email-container .email-headerAndTitle .email-header {
    margin-left: -24px;
    margin-right: -24px
}
.email-container .email-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    max-width: 528px;
    width: 100%
}
.email-container .email-changeEmail {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 528px
}
.email-container .email-changeEmail .email-emailForm {
    display: flex;
    flex-direction: column;
    gap: 8px
}
.email-container .email-changeEmail .email-emailForm .email-emailGroup {
    display: flex;
    flex-direction: column;
    row-gap: 4px
}
.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 40px
}

.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap {
    row-gap: 16px
}
.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap .email-inputFields {
    display: flex;
    flex-direction: column;
    row-gap: 24px
}

.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap .email-inputFields {
    row-gap: 16px
}
.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap .email-inputFields .email-emailinput {
    flex-grow: 1
}

.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap .email-inputFields .email-emailinput label {
    display: none
}

.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap .email-inputFields .email-passwordInput label {
    display: none
}
.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap .email-inputFields .email-mobileNextButton {
    margin-top: 16px
}
.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap .email-inputFields .email-emailConfirm {
    width: 124px
}
.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-emailInput-wrap .email-inputFields .email-desktopButton {
    position: relative
}
.email-container .email-changeEmail .email-emailForm .email-emailGroup .email-label-wrap {
    position: absolute;
    top: -9px;
    right: 8px
}
.email-container .email-changeEmail .email-error {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #f66
}
.email-container .email-changeEmail .email-codeForm {
    display: flex;
    flex-direction: column;
    gap: 8px
}
.email-container .email-changeEmail .email-codeForm .email-codeInput-wrap {
    display: flex;
    align-items: end;
    gap: 8px
}
.email-container .email-changeEmail .email-codeForm .email-codeInput-wrap .email-codeinput {
    flex-grow: 1
}
.email-container .email-changeEmail .email-codeForm .email-codeInput-wrap .email-codeinput label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529
}
.email-container .email-changeEmail .email-codeForm .email-codeInput-wrap .email-codeinput ::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #adb5bd
}
.email-container .email-changeEmail .email-codeForm .email-codeInput-wrap .email-codeConfirm {
    min-width: 124px
}
.email-container .email-changeEmail .email-resend {
    width: fit-content;
    align-self: center;
    margin-top: 16px
}

.email-container .email-changeEmail .email-resend {
    align-self: flex-end
}
.email-container .email-changeEmail .email-resend>span {
    border-bottom: 1px solid #495057
}
.email-container .email-layer {
    width: 100%;
    max-width: 528px
}
.email-container .email-layer .email-confirmPassword .email-confirmPasswordForm {
    display: flex;
    flex-direction: column;
    row-gap: 40px
}
.email-container .email-layer .email-confirmPassword .email-loginPageConfirmPasswordForm {
    row-gap: 24px
}
.email-container .email-hidePassword {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none
}
.email-loginPage_container {
    row-gap: 24px
}
.email-inputError {
    border-color: #f66
}
.email-timer {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #f25555;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%)
}
.email-error {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #f66;
    margin-top: -12px
}
.email-buttonInner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}



/* QRCode */
.QRCode-container {
    margin-top: 24px;
    margin-bottom: 32px;
    padding-top: 53px;
    width: 560px
}

.QRCode-container .QRCode-qrCode-wrap {
    padding-top: 14px
}





/* pop */
.pop-container:not(.pop-hasOutsideChildren) {
    position: relative
}
.pop-container .pop-pop_container.pop-fixed:not(.pop-remainVisible) {
    -webkit-animation: pop-fade-out .5s ease 5s forwards;
    animation: pop-fade-out .5s ease 5s forwards
}
.pop-pop_container {
    position: absolute;
    z-index: 8
}
.pop-pop_container.pop-hide {
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    z-index: -1
}
.pop-popBox {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
    border: 1px solid #212529;
    border-radius: 4px;
    box-shadow: 0 3px 3px -1px #0a16461a;
    background-color: #212529;
    padding: 8px;
    color: #fff
}
.pop-whiteMode {
    border-color: #e9ecef;
    background-color: #fff;
    color: #495057
}
.pop-whiteMode .pop-arrow:after {
    border-top: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    background-color: #fff
}
.pop-arrow {
    position: absolute
}
.pop-arrow:after {
    display: block;
    border-top: 1px solid #212529;
    border-right: 1px solid #212529;
    box-shadow: 1px -2px 3px -1px #0a16461a;
    background-color: #212529;
    width: 9px;
    height: 9px;
    content: "";
    filter: drop-shadow(0 0 15px rgba(10, 22, 70, .06))
}
.pop-popContent {
    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content
}
.pop-top-left,
.pop-top,
.pop-top-right {
    bottom: 100%
}
.pop-top-left:not(.pop-remainVisible),
.pop-top:not(.pop-remainVisible),
.pop-top-right:not(.pop-remainVisible) {
    -webkit-animation: pop-bouncetop 3s .3s ease-in-out both, pop-fade-out .5s ease 5s forwards;
    animation: pop-bounceTop 3s .3s ease-in-out both, pop-fade-out .5s ease 5s forwards
}
.pop-top-left.pop-remainVisible:not(.pop-fixed),
.pop-top.pop-remainVisible:not(.pop-fixed),
.pop-top-right.pop-remainVisible:not(.pop-fixed) {
    -webkit-animation: pop-bouncetop 3s .3s ease-in-out both;
    animation: pop-bounceTop 3s .3s ease-in-out both
}
.pop-top-left .pop-popBox,
.pop-top .pop-popBox,
.pop-top-right .pop-popBox {
    bottom: 100%;
    margin-bottom: 10px
}
.pop-top-left .pop-arrow,
.pop-top .pop-arrow,
.pop-top-right .pop-arrow {
    top: 100%;
    margin-top: -4.5px
}
.pop-top-left .pop-arrow:after,
.pop-top .pop-arrow:after,
.pop-top-right .pop-arrow:after {
    transform: rotate(135deg)
}
.pop-top,
.pop-bottom,
.pop-top .pop-popBox,
.pop-top .pop-arrow,
.pop-bottom .pop-popBox,
.pop-bottom .pop-arrow {
    left: 50%;
    transform: translate(-50%)
}
.pop-top-left,
.pop-bottom-left,
.pop-top-left .pop-popBox,
.pop-bottom-left .pop-popBox {
    left: 0
}
.pop-top-left .pop-arrow,
.pop-bottom-left .pop-arrow {
    left: 10px
}
.pop-top-right,
.pop-bottom-right,
.pop-top-right .pop-popBox,
.pop-bottom-right .pop-popBox {
    right: 0
}
.pop-top-right .pop-arrow,
.pop-bottom-right .pop-arrow {
    right: 10px
}
.pop-left-top,
.pop-left,
.pop-left-bottom {
    right: 100%
}
.pop-left-top:not(.pop-remainVisible),
.pop-left:not(.pop-remainVisible),
.pop-left-bottom:not(.pop-remainVisible) {
    -webkit-animation: pop-bounceleft 3s .3s ease-in-out both, pop-fade-out .5s ease 5s forwards;
    animation: pop-bounceLeft 3s .3s ease-in-out both, pop-fade-out .5s ease 5s forwards
}
.pop-left-top.pop-remainVisible:not(.pop-fixed),
.pop-left.pop-remainVisible:not(.pop-fixed),
.pop-left-bottom.pop-remainVisible:not(.pop-fixed) {
    -webkit-animation: pop-bounceleft 3s .3s ease-in-out both;
    animation: pop-bounceLeft 3s .3s ease-in-out both
}
.pop-left-top .pop-popBox,
.pop-left .pop-popBox,
.pop-left-bottom .pop-popBox {
    right: 100%;
    margin-right: 10px
}
.pop-left-top .pop-arrow,
.pop-left .pop-arrow,
.pop-left-bottom .pop-arrow {
    left: 100%;
    margin-left: -4.5px
}
.pop-left-top .pop-arrow:after,
.pop-left .pop-arrow:after,
.pop-left-bottom .pop-arrow:after {
    transform: rotate(45deg)
}
.pop-left-top,
.pop-right-top,
.pop-left-top .pop-popBox,
.pop-right-top .pop-popBox {
    top: 0
}
.pop-left,
.pop-right,
.pop-left .pop-popBox,
.pop-left .pop-arrow,
.pop-right .pop-popBox,
.pop-right .pop-arrow {
    top: 50%;
    transform: translateY(-50%)
}
.pop-left-bottom,
.pop-right-bottom,
.pop-left-bottom .pop-popBox,
.pop-right-bottom .pop-popBox {
    bottom: 0
}
.pop-left-bottom .pop-arrow,
.pop-right-bottom .pop-arrow {
    bottom: 10px
}
.pop-left-top .pop-arrow {
    top: 10px
}
.pop-right-top,
.pop-right,
.pop-right-bottom {
    left: 100%
}
.pop-right-top .pop-popBox,
.pop-right .pop-popBox,
.pop-right-bottom .pop-popBox {
    left: 100%;
    margin-left: 10px
}
.pop-right-top:not(.pop-remainVisible),
.pop-right:not(.pop-remainVisible),
.pop-right-bottom:not(.pop-remainVisible) {
    -webkit-animation: pop-bounceright 3s .3s ease-in-out both, pop-fade-out .5s ease 5s forwards;
    animation: pop-bounceRight 3s .3s ease-in-out both, pop-fade-out .5s ease 5s forwards
}
.pop-right-top.pop-remainVisible:not(.pop-fixed),
.pop-right.pop-remainVisible:not(.pop-fixed),
.pop-right-bottom.pop-remainVisible:not(.pop-fixed) {
    -webkit-animation: pop-bounceright 3s .3s ease-in-out both;
    animation: pop-bounceRight 3s .3s ease-in-out both
}
.pop-right-top .pop-arrow,
.pop-right .pop-arrow,
.pop-right-bottom .pop-arrow {
    right: 100%;
    margin-right: -4.5px
}
.pop-right-top .pop-arrow:after,
.pop-right .pop-arrow:after,
.pop-right-bottom .pop-arrow:after {
    transform: rotate(-135deg);
    box-shadow: 2px -2px 3px -1px #0a16461a
}
.pop-right,
.pop-right .pop-popBox {
    top: 50%;
    transform: translateY(-50%)
}
.pop-bottom-left,
.pop-bottom,
.pop-bottom-right {
    top: 100%
}
.pop-bottom-left .pop-popBox,
.pop-bottom .pop-popBox,
.pop-bottom-right .pop-popBox {
    top: 100%;
    margin-top: 10px
}
.pop-bottom-left:not(.pop-hasCloseButton),
.pop-bottom:not(.pop-hasCloseButton),
.pop-bottom-right:not(.pop-hasCloseButton) {
    -webkit-animation: pop-bouncebottom 3s .3s ease-in-out both, pop-fade-out .5s ease 5s forwards;
    animation: pop-bounceBottom 3s .3s ease-in-out both, pop-fade-out .5s ease 5s forwards
}
.pop-bottom-left.pop-remainVisible:not(.pop-fixed),
.pop-bottom.pop-remainVisible:not(.pop-fixed),
.pop-bottom-right.pop-remainVisible:not(.pop-fixed) {
    -webkit-animation: pop-bouncebottom 3s .3s ease-in-out both;
    animation: pop-bounceBottom 3s .3s ease-in-out both
}
.pop-bottom-left .pop-arrow,
.pop-bottom .pop-arrow,
.pop-bottom-right .pop-arrow {
    bottom: 100%;
    margin-bottom: -4.5px
}
.pop-bottom-left .pop-arrow:after,
.pop-bottom .pop-arrow:after,
.pop-bottom-right .pop-arrow:after {
    transform: rotate(-45deg)
}
.pop-hasCloseButton:not(.pop-fixed).pop-top-left,
.pop-hasCloseButton:not(.pop-fixed).pop-top,
.pop-hasCloseButton:not(.pop-fixed).pop-top-right {
    -webkit-animation: pop-bouncetop 3s .3s ease-in-out both;
    animation: pop-bounceTop 3s .3s ease-in-out both
}
.pop-hasCloseButton:not(.pop-fixed).pop-left-top,
.pop-hasCloseButton:not(.pop-fixed).pop-left,
.pop-hasCloseButton:not(.pop-fixed).pop-left-bottom {
    -webkit-animation: pop-bounceleft 3s .3s ease-in-out both;
    animation: pop-bounceLeft 3s .3s ease-in-out both
}
.pop-hasCloseButton:not(.pop-fixed).pop-right-top,
.pop-hasCloseButton:not(.pop-fixed).pop-right,
.pop-hasCloseButton:not(.pop-fixed).pop-right-bottom {
    -webkit-animation: pop-bounceright 3s .3s ease-in-out both;
    animation: pop-bounceRight 3s .3s ease-in-out both
}
.pop-hasCloseButton:not(.pop-fixed).pop-bottom-left,
.pop-hasCloseButton:not(.pop-fixed).pop-bottom,
.pop-hasCloseButton:not(.pop-fixed).pop-bottom-right {
    -webkit-animation: pop-bouncebottom 3s .3s ease-in-out both;
    animation: pop-bounceBottom 3s .3s ease-in-out both
}
.pop-hasCloseButton .pop-popBox {
    padding-right: 40px
}
.pop-closeButton {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    color: #adb5bd;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.pop-closeButton svg {
    margin: 0 auto
}